@{
    ViewBag.Title = "Q4 - a2";
}

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />

<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 4</div>
        <div class="question">プチ贅沢ヘアケアを<br />試すなら？</div>
        <div class="choices big">
            <a href="/sp/diagnosis/q5/a2.html" class="box">
                <div>
                    <span class="title">A</span><br>
                    <p>トリートメントに<br />まぜるオイルで、<br />新感覚ケア<br />&nbsp;</p>
                </div>
            </a>
            <a href="/sp/diagnosis/q5/b2.html" class="box">
                <div>
                    <span class="title">B</span><br>
                    <p>ヘアマスクや<br />洗い流す<br />トリートメントで、<br />ディープケア</p>
                </div>
            </a>
        </div>
        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step4.png" />
            <div class="desc"><ひとつ前にもどる</div>
        </div>
    </div>
    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>