@{
    ViewBag.Title = "Q4 - a4";
    Session["diagnosisKeyword"] = "diagnosis-q4_a";
}

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />
@Html.Hidden("pageKey", Session["diagnosisKeyword"])
<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 4</div>
        <h1 class="question">プチ贅沢ヘアケアを<br />試すなら？</h1>
        <div class="choices big">
            <a href="/sp/diagnosis/q5/a4/" class="box">
                <div>
                    <span class="title">A</span><br>
                    <p>トリートメントに<br />まぜるオイルで、<br />新感覚ケア<br />&nbsp;</p>
                </div>
            </a>
            <a href="/sp/diagnosis/q5/b4/" class="box">
                <div>
                    <span class="title">B</span><br>
                    <p>ヘアマスクや<br />洗い流す<br />トリートメントで、<br />ディープケア</p>
                </div>
            </a>
        </div>
        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step4.png" />
            <div class="desc"><a href="/sp/diagnosis/q3/b2/">< ひとつ前にもどる</a></div>
        </div>
    </div>
    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>