@{
    ViewBag.Title = "Q4 - b2";
    Session["diagnosisKeyword"] = "diagnosis-q4_b";
}

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />
@Html.Hidden("pageKey", Session["diagnosisKeyword"])
<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 4</div>
        <div class="question">ヘアケア製品を選ぶ時の<br />気持ちは？</div>
        <div class="choices big">
            <a href="/sp/diagnosis/q5/c2.html" class="box">
                <div>
                    <span class="title">A</span><br>
                    <p>たくさん新しい<br />製品を試したい！</p>
                </div>
            </a>
            <a href="/sp/diagnosis/q5/c2.html" class="box">
                <div>
                    <span class="title">B</span><br>
                    <p>決まった製品を<br />ずっと使いたい</p>
                </div>
            </a>
        </div>
        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step4.png" />
            <div class="desc"><a href="/sp/diagnosis/q3/a2.html"><ひとつ前にもどる</a></div>
        </div>
    </div>
    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>