@{
    ViewBag.Title = "Q4 - b3";
}

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />

<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 4</div>
        <div class="question">プチ贅沢ヘアケアを<br />試すなら？</div>
        <div class="choices big">
            <a href="/sp/diagnosis/q5/c3" class="box">
                <span class="title">A</span><br>
                <p>トリートメントに<br />まぜるオイルで、<br />新感覚ケア</p>
            </a>
            <a href="/sp/diagnosis/q5/c3" class="box">
                <span class="title">B</span><br>
                <p>ヘアマスクや<br />洗い流す<br />トリートメントで、<br />ディープケア</p>
            </a>
        </div>
        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step4.png" />
            <div class="desc"><ひとつ前にもどる</div>
        </div>
    </div>
    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>