@{
    ViewBag.Title = "Q3 - a1";
    Session["diagnosisKeyword"] = "diagnosis-q3_a";
}

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />
@Html.Hidden("pageKey", Session["diagnosisKeyword"])
<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 3</div>
        <h1 class="question">ついついしてしまうことは？</h1>
        <div class="choices">
            <a href="/sp/diagnosis/q4/a1/" class="box">
                <div>
                    <span class="title">A</span><br>
                    <p>たまったテレビ録<br />画を見て睡眠不足</p>
                </div>
            </a>
            <a href="/sp/diagnosis/q4/b1/" class="box">
                <div>
                    <span class="title">B</span><br>
                    <p>ストレスで<br />食べ過ぎてしまう</p>
                </div>
            </a>
        </div>
        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step3.png" />
            <div class="desc"><a href="/Sp/diagnosis/q2/a/">< ひとつ前にもどる</a></div>
        </div>
    </div>

    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>