@{
    ViewBag.Title = "Q3 - b1";
}

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />

<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 3</div>
        <div class="question">ついついしてしまうことは？</div>
        <div class="choices">
            <a href="/sp/diagnosis/q4/a3" class="box">
                <span class="title">A</span><br>
                <p>たまったテレビ録<br />画を見て睡眠不足</p>
            </a>
            <a href="/sp/diagnosis/q4/b3" class="box">
                <span class="title">B</span><br>
                <p>ストレスで<br />食べ過ぎてしまう</p>
            </a>
        </div>
        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step3.png" />
            <div class="desc"><ひとつ前にもどる</div>
        </div>
    </div>

    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>
