.content.product-stories {
    font-size:14px; /*base font*/
}

.banner > h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 4.857em;
    margin: 0 auto;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    text-align: center;
}

.product-stories-top {
    background: url(/Content/images/sp/product/landing/sp_product-stories-top.jpg);
    background-repeat:no-repeat;
    background-position:top center;
    background-size:contain;
    background-size: 100% 100%;
    height: 1092px;
}

    .product-stories-top .title {
        text-align: center;
        font-size: 4em;
        padding: 90px 0 25px 0;
        /*padding: 90px 0;*/
    }

    .product-stories-top ol {
        width: 45%;
        font-size: 1.786em;
        margin: 0 auto;
        padding-bottom: 50%;
    }

        .product-stories-top ol li {
            padding: 25px 0;
            background: url(/Content/images/sp/bg/sp_list-bg.png);
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: 30px;
            font-family: 'LubalinGraph-Book';
        }

            .product-stories-top ol li a {
                font-family:Koburina Gothic W3 JIS2004;
                display : block;
                width : 150px;
            }

.product-stories-content {
    margin: 0 auto;
}

.product-stories-content .product-story {
    width: 550px;
    margin: 0 auto;
    padding-top: 15%;
    padding-bottom: 10%;
}

.product-stories-content .product-story img {
    width: auto;
}



    .product-stories-content .product-story .story-title {
        font-size: 2.571em;
        padding: 21px 0 21px 0;
        padding-left: 40px;
        
    }

    .product-stories-content .product-story .count {
        float: left;
        font-family: 'LubalinGraph-Book';
        margin-left: -45px;
        margin-right: 15px;
    }

    .product-stories-content .product-story .story-text {
        font-size: 1.857em;
    }

.product-lineup-container .lineup-1 {
    background: url(/Content/images/sp/product/landing/bg/sp_product-stories-lineup-1.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    position: relative;
    text-align: center;
}

    .product-lineup-container .lineup-1 .copy {
        position: relative;
        padding-bottom: 80%;
        padding-top: 35%;
    }

        .product-lineup-container .lineup-1 .copy h1 {
            font-size: 2.000em;
            margin-bottom: 20px;
        }

         .product-lineup-container .lineup-1 .copy p {
            font-size: 2.571em;
        }

    .product-lineup-container .lineup-1 .btn {
        width: 65%;
        margin-bottom: 8%;
        padding-top: 14px;
    }

.product-lineup-container .lineup-2 {
    background: url(/Content/images/sp/product/landing/bg/sp_product-stories-lineup-2.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    position: relative;
    text-align: center;
}

    .product-lineup-container .lineup-2 .copy {
            position: relative;
            padding-bottom: 79%;
            padding-top: 10%;
        }

        .product-lineup-container .lineup-2 .copy h1 {
            font-size: 2.000em;
            margin-bottom: 20px;
        }

         .product-lineup-container .lineup-2 .copy p {
            font-size: 2.571em;
        }

    .product-lineup-container .lineup-2 .btn {
        width: 65%;
        margin-bottom: 8%;
        padding-top: 14px;
    }

.product-lineup-container .lineup-3 {
    background: url(/Content/images/sp/product/landing/bg/sp_product-stories-lineup-3.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    position: relative;
    text-align: center;
}

    .product-lineup-container .lineup-3 .copy {
            position: relative;
            padding-bottom: 70%;
            padding-top: 35%;
        }

        .product-lineup-container .lineup-3 .copy h1 {
            font-size: 2.000em;
            margin-bottom: 20px;
        }

         .product-lineup-container .lineup-3 .copy p {
            font-size: 2.571em;
        }

    .product-lineup-container .lineup-3 .btn {
        width: 65%;
        margin-bottom: 8%;
        padding-top: 14px;
    }

.product-lineup-container .lineup-4 {
    background: url(/Content/images/sp/product/landing/bg/sp_product-stories-lineup-4.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    position: relative;
    text-align: center;
}

    .product-lineup-container .lineup-4 .copy {
            position: relative;
            padding-bottom: 65%;
            padding-top: 35%;
        }

        .product-lineup-container .lineup-4 .copy h1 {
            font-size: 2.000em;
            margin-bottom: 20px;
        }

         .product-lineup-container .lineup-4 .copy p {
            font-size: 2.571em;
        }

         .product-lineup-container .lineup-4 .copy p.second-copy {
            font-size: 1.571em;
        }
    .product-lineup-container .lineup-4 .btn {
        width: 65%;
        margin-bottom: 8%;
        padding-top: 28px;
    }


/*iphone 5*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

    .content.product-stories {
        font-size:7px; /*base font*/
    }

    .banner > h1 {
        top:36%;
    }

    .product-stories-top {
        background: url(/Content/images/sp/product/landing/sp_product-stories-top.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        height: auto;
    }

        .product-stories-top .title {
            font-size: 3.5em;
            padding: 35px 0 0 0;
        }

        .product-stories-top ol li {
            padding: 15px 0;
            background-size: 20%;
            background-position-y: 20px;
        }

    .product-stories-content .product-story {
        width: 70%;
    }

        .product-stories-content .product-story img {
            width: 100%;
        }

    .product-stories-top ol {
        padding-bottom: 36%;
    }

    .product-stories-content .product-story .story-title {
        padding-left: 15px;
    }

        .product-stories-content .product-story .count {
            margin-left: -20px;
            margin-right: 5px;
        }


    .product-lineup-container .lineup-1 .copy {
        padding-bottom: 67%;
    }

    .product-lineup-container .lineup-1 .btn {
        padding-top: 7px;
        margin-bottom: 9%;
    }

    .product-lineup-container .lineup-2 .copy {
        padding-bottom: 68%;
        padding-top: 5%;
    }

    .product-lineup-container .lineup-2 .btn {
        padding-top: 7px;
        margin-bottom: 10%;
    }

    .product-lineup-container .lineup-3 .copy {
        padding-bottom: 58%;
        padding-top: 33%;
    }

    .product-lineup-container .lineup-3 .btn {
        padding-top: 7px;
        margin-bottom: 10%;
    }

    .product-lineup-container .lineup-4 .copy {
        padding-bottom: 55%;
        padding-top: 33%;
    }

    .product-lineup-container .lineup-4 .btn {
        padding-top: 14px;
        margin-bottom: 7%;
    }

    .product-lineup-container .lineup-4 .copy p {
        font-size: 2.2em;
    }
}


/*iphone 6*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {

    .content.product-stories {
        font-size:7px; /*base font*/
    }

    .banner > h1 {
        top:36%;
    }

    .product-stories-top {
        background: url(/Content/images/sp/product/landing/sp_product-stories-top.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        height: auto;
    }

    .product-stories-top .title {
        padding: 50px 0 5px 0;
    }

    .product-stories-top ol {
        padding-bottom: 40%;
    }

    .product-stories-content .product-story .story-title {
        padding-left: 15px;
    }

        .product-stories-content .product-story .count {
            margin-left: -20px;
            margin-right: 5px;
        }


    .product-lineup-container .lineup-2 .copy {
        padding-bottom: 70%;
        padding-top: 5%;
    }

    .product-lineup-container .lineup-4 .copy {
        padding-bottom: 60%;
        padding-top: 33%;
    }

}

/*iphone 6 plus*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {

    .content.product-stories {
        font-size:7px; /*base font*/
    }

    .banner > h1 {
        top:36%;
    }

    .product-stories-top {
        background: url(/Content/images/sp/product/landing/sp_product-stories-top.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        height: auto;
    }

        .product-stories-top .title {
            font-size: 3.5em;
        }

        .product-stories-top ol li {
            padding: 15px 0;
            background-size: 20%;
            background-position-y: 20px;
        }

    .product-stories-content .product-story {
        width: 70%
    }

        .product-stories-content .product-story img {
            width: 100%
        }

    .product-stories-top ol {
        padding-bottom: 48%;
    }

    .product-stories-content .product-story .story-title {
        padding-left: 15px;
    }

        .product-stories-content .product-story .count {
            margin-left: -20px;
            margin-right: 5px;
        }

    .product-lineup-container .lineup-1 .copy {
        padding-bottom: 70%;
    }

    .product-lineup-container .lineup-1 .btn {
        padding-top: 7px;
        margin-bottom: 10%;
    }

    .product-lineup-container .lineup-2 .copy {
        padding-bottom: 75%;
    }

    .product-lineup-container .lineup-2 .btn {
        padding-top: 7px;
        margin-bottom: 10%;
    }

    .product-lineup-container .lineup-3 .copy {
        padding-bottom: 65%;
        padding-top: 33%;
    }

    .product-lineup-container .lineup-3 .btn {
        padding-top: 7px;
        margin-bottom: 10%;
    }

    .product-lineup-container .lineup-4 .copy {
        padding-bottom: 62%;
        padding-top: 33%;
    }

    .product-lineup-container .lineup-4 .btn {
        padding-top: 14px;
        margin-bottom: 10%;
    }
}


.product-lineup-container .lineup-2 .generic-btn{
    letter-spacing : 2px;
    padding-top: 1.5%;
}