body #Details {
    font-size:14px;
}

.diagnosis-main {
    position: relative;
}

.diagnosis-main .page-title, .diagnosis-main .inner {
    color: #87847d;
    width: 100%;
    display: block;
    position: absolute;
    top: 32%;
    text-align: center;    
    font-family: 'Koburina Gothic W3 JIS2004';
}

.diagnosis-main .inner {
    top: 19%;
}

.text1 {
    font-size:1.631em;
}

.text2 {
    font-size: 5.375em;
    margin: 5% auto 3%;
    line-height: 102%;
}

.text3 {
    font-size:1.625em;
    margin-bottom: 4%;
}

.generic-btn {
    padding-top: 31px;

}

.check, .question {
    font-size:2.500em;
    font-family: 'LubalinGraph-Book';
    margin-bottom: 4%;
}

.check {   
    font-family: 'LubalinGraph-Book';
}

.question {
    font-family: 'Koburina Gothic W3 JIS2004';
}

.choices {
    /*width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    
    display:inline-block;*/
}

.choices .box {
    /*background: #fff;
    border: 1px solid #87847d;
    width: 37%;
    display: inline-table;
    padding: 9.5% 4%;
    margin-bottom: 3%;
    margin-right: 2%;   
    height:100%;*/ 
    background: #fff;
    display: inline-table;
    width: 37%;
    height: 265px;
    text-align: center;
    border: 1px solid #87847d;
    margin: 0 2% 2% 0;
}

.choices .box div {
    display: table-cell;
  vertical-align: middle;
}

.choices .box .title {
     font-size:2.500em;
     font-family: 'LubalinGraph-Book';
}

.choices .box p {
    font-size: 1.625em;
    font-family: 'Koburina Gothic W3 JIS2004';
}

.steps {
    text-align:center;
    margin-top:9%;
}

.steps img {
    width:80%;
    margin-right: 3%;
}

.steps .desc {
    font-size:1.625em;
    margin-top: 5%;
}

.choices .box p {
    margin: 0;
}


.test {
    font-size: 1.625em;
}

/*iPhone 5*/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    body #Details {
        font-size: 7px;
    }
    .generic-btn {
        padding-top: 14px;

    }
    .choices .box {
        height:110px;
    }
    /*.choices.big {
        height: 114px;
    }*/
    /*.choices.big .box {
        padding: 4%;
    }*/
}


/* Landscape iPhone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    body #Details {
        font-size: 11px;
    }
    /*.choices.big {
        height: 195px;
    }*/
    
}


/*iPhone 6*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    body {
        font-size: 7px;
    }
    .choices .box {
        height:120px;
    }
    /*.choices.big {
        height: 135px;
    }
    .choices.big .box {
        padding: 5% 4% 4% 4%;
    }*/
}


/* Landscape iPhone 6 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    body {
        font-size: 10px;
    }
    .choices .box {
        height:230px;
    }
    /*.choices.big {
        height: 195px;
    }*/
}