.banner {
    position:relative;
}

.content {
    margin-bottom:-20px;
}
.banner > h1 {
    color:white;
    position:absolute;
    top: 50%;
    left: 53%;
    margin-left:-150px;
    text-transform:uppercase;
    font-size:8vw;
    font-family: Koburina Gothic W3 JIS2004;
}
h2 {
   font-size:1.35em;
   margin-bottom:20px;
   margin-top:40px;
}


p{
   font-size:1.1em;
   margin-bottom:45px;
}

.about-main {
    color: #87847d;
    width: 86%;
    margin-bottom:20px;
}

.about-bg {
    background:url("/Content/images/sp/bg/about-bg.jpg") repeat;
}


/*screens*/

@media (max-width: 375px) {
   .banner > h1 {
       left: 58%;
   }
}

@media (max-width: 320px) {
   .banner > h1 {
       left: 64%;
   }
}


/* ttp://i.imgur.com/sa6cZzi.jpg */
.contact-banner {
    background-color: gold;
    position: relative;
}

.contact-banner .inner {
  color: white;
  font-family: "Koburina Gothic W3 JIS2004";
  left: 50%;
  padding: 0.8em 1.2em;
  position: absolute;
  top: 62%;
  transform: translate(-50%, -50%);
}

.page-title {
  font-size: 2.1em;
  left: 87px;
  text-align: center;
  text-transform: uppercase;
  top: 112px;
  white-space: nowrap;
}

.container .sub-title {
  font-family: Koburina Gothic W3 JIS2004;
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 15px;
  margin-top: 40px;
}