.contact-banner {
    background-color: gold;
    /*height: 400px;*/
    position: relative;
}

.contact-banner .inner {
    position: absolute;
    top: 62%;
    left: 50%;
    
    padding: .8em 1.2em;
    color: white;
    /*background-color: darkcyan;*/
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Koburina Gothic W3 JIS2004';
}

h2 {
    font-size: 29px;
}

h2.page-title {
    /*position: absolute;*/
    /*top: 137px;
    left: 99px;*/
    color: #fff;
    font-size: 4.8em;
}

p{
   font-size:22px;   
}

.contact-main {
    color: #87847d;
    width: 86%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'koburina Gothic';
}

.first-container {
    background: url(/Content/images/sp/contact/bg1.jpg) center center;
    margin-top: -1px;

}

.second-container {
    background: url(/Content/images/sp/contact/bg2.jpg) center center;
}

.second-container .container {
    text-align:center;
    font-size: 1.2em;
}

.second-container .contact-main {
    padding-bottom:50px;    
}

.second-container .container p.number {
    font-size: 60px;
    font-family: 'LubalinGraph-Book';
}

.to-link-btn {
    border:1px solid #87847d;
    border-radius: 0;
    position: relative;
    font-size: 26px;
    padding-top: 30px;
    text-transform: uppercase;
    padding-left: 18px;
    color: #87847d;
    width: 360px;
    height: 100px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    h2 {
        font-size: 21px;
    }
    h2.page-title {
        font-size: 2.3em;
        top: 112px;
        left: 87px;
    }
    p {
        font-size: 15px;
    }
    .to-link-btn {
        width: 180px;
        height: 50px;
        border-radius: 0;
        position: relative;
        font-size: 12px;
        padding-top: 15px;
        text-transform: uppercase;
        padding-left: 16px;
    }
    .second-container .container p.number {
        font-size: 30px;
    }
}

/*iPhone 6*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    h2.page-title {
        top: 137px;
        left: 103px;
        font-size: 2.7em;
    }
    .to-link-btn {
        width: 180px;
        height: 50px;
        border-radius: 0;
        position: relative;
        font-size: 12px;
        padding-top: 15px;
        text-transform: uppercase;
        padding-left: 13px;
    }

}