@media only screen and (orientation: portrait) and (max-device-width: 320px) {.view{font-size: 0.9em;}}
@media only screen and (orientation: portrait) and (min-device-width: 321px) and (max-device-width: 375px) {.view{font-size: 1em;}}
@media only screen and (orientation: portrait) and (min-device-width: 376px) and (max-device-width: 414px) {.view{font-size: 1.1em;}}
@media only screen and (orientation: portrait) and (min-device-width: 415px) and (max-device-width: 480px) {.view{font-size: 1.5em;}}
@media only screen and (orientation: portrait) and (min-device-width: 481px) and (max-device-width: 750px) {.view{font-size: 1.8em;}}
@media only screen and (orientation: landscape) and (min-device-width: 568px) and (max-device-width: 666px) {.view{font-size: 1.5em;}}
@media only screen and (orientation: landscape) and (min-device-width: 667px) and (max-device-width: 750px) {.view{font-size: 1.8em;}}


/* common */

.product-section{
    position : relative;
    overflow: hidden;
   /* z-index : -2;*/
}
.product-section .product-item{
    position : absolute;
    top : 0;
    /*z-index : -1;*/
}
.product-section .full-length{
    display : block;
    width : 100%;
}
.product-section .center{
    text-align : center;
}
.en-title{
    margin-top: 13%;
    font-family: 'LubalinGraph-Book';
    font-size: 2.4em;
    line-height: 112%;
    display : block;
    position : relative;
}

.content-area{
    font-family: 'Koburina Gothic W3 JIS2004';
    position: relative;
}
.content-area span,
.content-area p{
    margin-top :1%;
}

.jp-title-1,
.jp-title-2,
.jp-title-3{
    font-size: 1.1em;
    letter-spacing : 0.2em;
    position : relative;
}
.size{
    font-family: 'LubalinGraph-Book';
    font-size: 1.3em;
}
p.description{
    font-size : 0.8em;
    margin :4% auto 6%;
    line-height : 170%;
    letter-spacing : 0.1em;
}
.additives{   
    width : 75%;
    margin : 0 auto;
}
.additives ul li{   
    list-style : none;    
}
.additives ul.columns{
    background : url('/Content/images/sp/product/chalkboard.jpg');
    color : #fff;
    width : 100%;
    margin : 5% auto 0;
    padding : 0;
    overflow : hidden;
     display: table-row;
}
.additives ul.columns li.column{
    display: table-cell;
    width: 50%;
    padding: 0 0 12%;
}

.additives ul li.column:nth-child(2) {
    border-left : 1px solid #fff;
}

.additives ul.multi li.column:nth-child(1) {
    width: 55%;
}
.additives ul.multi li.column:nth-child(2) {
    width: 45%;
}

.additives ul.solo li.column {
    width: 100%;
    padding: 0 0 12%;
    display : table;
}
ul.phrases{
    padding : 0;
}
li.phrase-title{
    text-align: left;
    border-bottom : 1px solid #fff;
    padding: 5% 10%;
    line-height : 150%;    
    font-size: 1.2em;
}
.additives ul.multi li.column:nth-child(2) ul li.phrase-title {
    padding: 5% 10% 5.5%;
}
@media only screen and (orientation: portrait) and (min-device-width: 360px) and (max-device-width: 750px) {.additives ul.multi li.column:nth-child(2) ul li.phrase-title {padding: 5% 10% 6%;}}
@media only screen and (orientation: landscape) and (min-device-width: 568px) and (max-device-width: 750px) {.additives ul.multi li.column:nth-child(2) ul li.phrase-title {padding: 5% 10% 6.4%;}}
@media only screen and (orientation: landscape) and (min-device-width: 667px) and (max-device-width: 668px) {.additives ul.multi li.column:nth-child(2) ul li.phrase-title {padding: 5% 10% 6%;}} /*iphone6 specific*/
.solo li.phrase-title{
    text-align: center;
    padding: 2% 10%;
    height : auto;    
}
li.phrase{
    padding: 6% 10%;
    text-align: left;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    line-height : 170%;
}


span.howtouse-hdr{
    display : block;   
    margin-top : 8%;
}

.howtouse{
    font-size : 0.9em;
    letter-spacing: 0.5px;
}

.separator {
    border-bottom : 1px solid #87847d;
    margin: 1% auto 3%;
    width : 75%;
}

ul.actions {
    padding : 0;
    margin: 6% 0 15%;
}

ul.actions li{
    list-style : none;  
    width : 100%;
    margin: 5% 0;
}

ul.actions li a{
    display : block;
    margin: 0 auto;
}


/* Mint */

#mint #cleansing .content-area {
    margin-top: 109%;
}

/* Apricot */

#apricot #shampoo .content-area {
    margin-top: 135%;
}
#apricot #treatment .content-area {
    margin-top: 195%;
}
#apricot #mask .content-area {
    margin-top: 135%;
}

#apricot #shampoo-refill .content-area {
    margin-top: 108%;
}
#apricot #treatment-refill .content-area {
    margin-top: 108%;
}
#apricot #pack-refill .content-area {
    margin-top: 70%;
}


/* Kiwi */

#kiwi #shampoo .content-area {
    margin-top: 138%;
}
#kiwi #treatment .content-area {
    margin-top: 188%;
}
#kiwi #scalp .content-area {
    margin-top: 120%;
}

#kiwi #shampoo-refill .content-area {
    margin-top: 108%;
}
#kiwi #treatment-refill .content-area {
    margin-top: 108%;
}
#kiwi #pack-refill .content-area {
    margin-top: 70%;
}


/* Booster */

#booster #grape .content-area,
#booster #seed .content-area {
    margin-top: 115%;
}

#booster .point{
    position : relative;
}
#booster .point img{
    width :  100%;
}
#booster .point .float{
    position : absolute;
    top : 0;
    width : 100%;
    padding : 7% 0 0 8%;
    font-size : 1em;
}
#booster .point .float .heading{
    font-size : 1.2em;
    width : 80%;
}
#booster .point .float .bodyText{
    font-size : 0.8em;
    width : 58%;
}


#booster .point-section{
    overflow : auto;
    padding : 5% 0;
}

#booster .point-section .pointer-img{
    display : block;
    width : 70%;
    margin : 10% auto;
}
#booster .point-section .hilight{
    font-size : 1.25em;
}
#booster .point-section .text-content{
    width : 70%;
    margin : 10% auto;
}
#booster .point-section .box-text{
    background-color : #fff;
    border : 1px solid #87847d;
    width : 80%;
    margin : 10% auto;
    padding : 3% 5%;
}
#booster .video{
    overflow : auto;
    padding : 5% 0;
}
#booster .video img{
    padding : 4% 0;
}
#booster .video p{
    width : 70%;
    display : block;
    margin : 2% auto;
}
#booster .video p.title{
    font-size : 1.3em;
}
#booster .video p.hilight{
    font-weight : 700;
    font-size : 1.2em;
}
#booster .video img {
    width : 70%;
    display : block;
    margin : 2% auto;
}
#booster .oil-spoon{
    overflow : auto;
}
#booster .oil-spoon p{
    width : 80%;
    display : block;
    margin : 2% auto;
}
#booster .comboSection {
    padding : 5% 0;
}
#booster .comboSection  img{
    width : 100%;
    display : block;
    margin : 2% auto;
}
#booster .comboSection p{
    width : 80%;
    display : block;
    margin : 2% auto;
}
#booster .comboSection p.title{
    font-size : 1.5em;
}
#booster .comboSection  ul{
    list-style : none;
    padding: 0;
    margin : 0;
}
#booster .comboSection  ul li{
    text-align : center;
    margin : 5% 0;
}
#booster .comboSection  ul li a{
    margin : 2%  0;
}






