/* Custom Modal */

.modal.bvrnw {
    overflow-x: hidden;
    z-index:9999999999999999999;
}

.modal.bvrnw a, .modal.bvrnw a:visited {
    color: #87847d;
}

.modal.bvrnw .close {
    margin-top: 50px;
    opacity: .5;
}

.modal.bvrnw .close:hover {
    opacity: 1;
}

.modal.bvrnw .clearfix{
    clear:both;
}

.modal.bvrnw .label{
    color: #87847d;
    padding: .2em .6em .3em 0;
    font-size: 100%;
    text-align: left;
    font-weight: normal;
}

.modal.bvrnw .modal-dialog {
    width: 740px;
}


.modal.bvrnw .modal-content {
    padding: 0px 60px 60px 60px;
    border-radius: 0px;
    background-image: url(/Content/images/pc/common/rnrr-bg.jpg)
}

.modal.bvrnw .modal-header {
    border: none;
}


.modal.bvrnw .modal-title-group {
    width:60%;
    float: left;
}

.modal.bvrnw h4 {
    font-size: 16px;
    margin: 30px 0 0 0;
}

.modal.bvrnw .modal-header-image {
    margin: 10px 0;
    float: left;
    width: 100px;
    height: 150px;
    background-size: contain;
    background-repeat:no-repeat;
}

.modal.bvrnw .modal-body {
    position: relative;
    padding: 15px;
    height:inherit;
    text-align:center;
}

.modal.bvrnw .frame {
    height:1080px;
}


.modal .innerframe {
    text-align: left;
    height: 100%;
    overflow-y: scroll;
}


.modal.bvrnw .review-page {
    padding: 40px;
    background-color: #ffffff;
}

.modal.bvrnw .separator {
    clear:both;
    width:100%;
    border-bottom: 1px solid #87847d;
}

/* ----------------------------
Support for star ratings
---------------------------- */

.rating-box{
    margin: 15px 0 15px 0;
    height: 20px;
}

.rating {
    display: inline-block;
    background: transparent url(/Content/images/pc/common/rating-stars-off.png) repeat-x scroll 0 0;
    height:13px;
    width: 110px;
	text-align: left;
}

.rating-score .rating {
	float:right;
}

.rating .ratingHighlight {
    display: inline-block;
    background: transparent url(/Content/images/pc/common/rating-stars.png) repeat-x scroll 0 -1px;
    height:13px;
}

.bvOverallRating {
    margin-top:20px;

}


li.review {
    margin: 100px 0 0 0;
}

li.review:first-child {
    margin: 0 0 0 0;
}

li.review .reviewtext {
    width:50%;
    padding: 10px 0px 10px 25px;
    line-height: 1.8em;
}

li.review .reviewtext p {
    word-wrap: break-word;
}

li.review .label {
}

li.review .author{
    width:70%;
    padding: 0 0 20px 0;
    font-size: 20px;
}

li.review .submission-time {
    width:30%;
    padding: 0 0 20px 0;
    text-align:right;
}

li.review .rating-score{
    width:50%;
}


/* Write Review */

.hiddenfield {
    visibility: hidden;
    width: 0;
    height: 0 !important;
}

.rating-widget{
    width:29%;
}

.rating-widget input{
    position:absolute;
}

.br-widget {
    display: inline;
}

.br-widget a {
    background: url(/Content/images/pc/common/stars.png);
    width: 17px;
    height: 17px;
    display: block;
    float: left;
    margin-left: 11px;
}

.star-on {
	background-position:0 17px !important;
}

#rnrw_modal .separator {
    width: 100%;
}

.formfield {
    margin: 18px 0 25px 0;
    position:relative;
}

.formfield .caption {
    font-size: 12px;
}

.formfield input[type="text"], .formfield input[type="email"] {
    width: 99%;
    height: 50px;
    margin: 5px 0;
    padding: 10px;
    border:1px solid #87847d;
}

.formfield textarea {
    width: 99%;
    min-height: 75px;
    margin: 5px 0;
    padding: 5px 20px 5px 5px;
    border:1px solid #87847d;
    resize: none;
    overflow: hidden;
    line-height: 16px;
}




.select-style {
    width: 48%;
    padding: 0;
    margin: 0;
    border: 1px solid #87847d;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url(/Content/images/pc/common/arrowdown.png) no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}



.formfield select {
    width:180px;
    height:50px;
    padding-left: 15px;
}

.formfield.nickname {
    margin-top:30px;
}

.formfield.terms input {
    float: left;
    margin: 3px 10px 64px 0;
}

.formfield.terms input[type=checkbox] {
    visibility: hidden;
    position:absolute;
}

.formfield.terms span {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 20px;
    padding-left: 30px;
}

.formfield .character-limit {
    position: absolute;
    right: 10px;
    top: 25px;
    font-weight: normal;
}



#rnrw_modal.modal.bvrnw .frame {
    height: 1540px;
}

#rnrw_modal.modal .innerframe {
    overflow-y:hidden;
    background-color: #ffffff;
    padding: 40px 40px 20px 40px;
}

#rnrw_modal.modal.bvrnw .generic-btn, #rnrw_modal.modal.bvrnw .generic-btn:hover, #rnrw_modal.modal.bvrnw .generic-btn:active {
    width: 205px;
    height: 50px;
    margin: auto;
}

#rnrw_success_modal .modal-body, #rnrw_age_error_modal .modal-body {
    height: 443px;
    padding-top: 140px;
}

#rnrw_success_modal .modal-body h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Error styles */

.error {
    color:#ff0000;
    display: block;
}


.rating-box .error {
    margin-left: 100px;
}

.formfield input.error, .formfield textarea.error, .pseudo-checkbox.error {
    border-color:#ff0000;
    background-color:#fff3f3;
}


.formfield select.error {
    border-color:#ff0000;
    background: #fff3f3 url(/Content/images/pc/common/arrowdown.png) no-repeat 90% 50%;
}


.formfield.age .error{
    display:inline;
}



/* Custom Checkbox */

.pseudo-checkbox {
    border: 1px solid;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
}

/* Hover and focus states */
.pseudo-checkbox:hover{
	background: #eeeeee;
}

/* Check mark */
.pseudo-checkbox:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.pseudo-checkbox.checked:after {
    display: block;
    top: 4px;
    left: 8px;
    width: 4px;
    height: 9px;
    transform: rotate(45deg);
    border: solid #87847d;
    border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Mobile */

#rnrw_modal.modal .innerframe {
    padding: 0;
}

.modal.bvrnw .modal-dialog {
    width: 100%;
    /*height: 100%;*/
}

.modal.fade .modal-dialog {
     transform:inherit
}


.modal.bvrnw .modal-dialog {
    margin: 0;
}

.modal.bvrnw .close {
    margin: 8% 5% 0 0;
    opacity: 1;
    width: 5%
}

.modal.bvrnw .modal-header {
    padding: 0;
    background-color:#bdbdbd;
    color: #ffffff;
    min-height: 14%;
}

.modal.bvrnw h4 {
    margin: 5% 0 5% 5%; 
}

.modal.bvrnw.message h4 {
    line-height: 3em;
}

.modal.bvrnw .modal-content {
    padding: 0;
}

.modal.bvrnw.message .modal-content {
    padding: 0;
    height: 100%;
}

.modal.bvrnw .modal-content {
    padding: 0;
}

.modal.bvrnw .modal-body {
    padding: 0;
}

.modal.bvrnw .modal-header-image {
    margin: auto;
    clear: both;
    float:none;
    height: 280px;
    width:200px;
    background-size:cover;
    background-position-x: 20px;
}

.modal.bvrnw .modal-title-group {
    width: 88%;
}

.modal.bvrnw .frame {
    height: 100%;
}

.modal .innerframe {
    overflow-y:visible;
}

.modal.bvrnw .subReview {
    clear:both;
}

.modal.bvrnw .review-page {
    padding: 0;
    background: none;
}

.bvOverallRating    {
    width: 50%;
    height: 50px;
    border-radius: 0;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #87847d;
    padding-top: 18px;
    padding-left: 12px;
    margin: 5% auto;
    background-color:#ffffff;
    text-align:center;
}


li.review, li.review:first-child {
    background-color:#ffffff;
    margin: 20px;
    padding: 30px;
}


li.review .reviewtext {
    width: 100%;
    padding:0;
    margin: 10% 0 0 0;
}

li.review .reviewtext .title {
    font-weight:bold;
}


li.review .rating-score {
    width: 100%;
}

#rnrw_modal.modal.bvrnw .frame {
    height: 100%;
}

.rating-widget {
    width: 50%;
}

.modal.bvrnw .separator {
    border-bottom: 1px solid #e7e7e7;
}

.formfield .select-wrapper {
    margin-right: 2%;
}

.formfield select {
    width: 100%;

}

.formbutton{
    text-align:center;
    margin: 10% 0 10% 0;
}


#rnrw_modal.modal.bvrnw .generic-btn, #rnrw_modal.modal.bvrnw .generic-btn:hover, #rnrw_modal.modal.bvrnw .generic-btn:active {
    width: 50%;
    height: 50px;
    padding:0;
}


.formfield {
    margin: 15px 15px 15px 15px;
}

.formfield input[type="text"], .formfield input[type="email"], .formfield select {
    height: 75px;
}

.formfield.nickname .character-limit, .formfield.reviewtext .character-limit{
    top: 50px;
}


.rating-box {
    margin: 15px 0px 15px 0px;
    height: 20px;
}

#rnrw_modal .rating-box {
    margin: 15px 15px 15px 15px;
}

.rating-box .error {
    margin-left: 10px;
}

.error {
    font-size: .96em;
}


li.review .submission-time {
    line-height: 2em;
}

.rr-section .bvOverallRating {
    padding-top: 15px;
}

#rnrw_modal {
	position: absolute;
	height: 2500px
}


#rnrr_modal {
	position: absolute;
    height:100%;
    overflow-y:scroll;
}



