<div class="result-11">
    <div class="results-page-top">
        <p class="result-title">あなたの髪の<br />ジューシー度は</p>
        <div class="result-percentage">
            <img src="~/Content/images/sp/diagnosis/results/sp_results-60.png" />
        </div>
        <p class="result-small-headline">ジューシー度を上げる、ぴったりなレシピはコレ！</p>
        <p class="result-top-copy">地肌すっきり、ふんわり、ハリ感UP<br />ジューシーヘアレシピ</p>
    </div>
    <div class="results-page-content">
        <div class="cols">
            <div class="col1"><p>クレンジング<br />シャンプー</p></div>
            <div class="col2"><p>トリート<br />メント</p></div>
            <div class="col3"><p>スカルプフィード<br />エッセンス</p></div>
        </div>
        <div class="content-block">
            <p>
                週1〜2回シャンプーのかわりに<br />
                ミントブレンド クレンジング レシピ<br />
                [クレンジングシャンプー]
            </p>
            <a href="#" class="btn to-shop-btn">To Shop</a>
         </div>

         <div class="content-block">
            <p>
                キウイ<br />
                エンパワー ボリューム レシピ<br />
                [トリートメント]
            </p>
            <a href="#" class="btn to-shop-btn">To Shop</a>
         </div>

         <div class="content-block">
            <p>
                キウイ<br />
                エンパワー ボリューム レシピ<br />
                スカルプ フィード エッセンス<br />
                [洗い流さないトリートメント]
            </p>
            <a href="#" class="btn to-shop-btn">To Shop</a>
         </div>
    </div>
    <div class="results-page-bottom stitch-s">
        <img class="product-item" src="/Content/images/sp/product/Kiwi/pack-refill-b.png" alt="">
        <div class="bottom-block">
            <p>
                キウイ<br />
                エンパワー ボリューム レシピ<br />
               ［シャンプー&トリートメント］<br />
                3日間 お試しパック
            </p>
            <a href="#" class="btn to-shop-btn">To Shop</a>
        </div>
        <div class="results-sns">
            <p>ジューシー度チェックを<br />
                友達におしえる
            </p>
            <div class="sns-cols">
                <div>
                    <img src="~/Content/images/sp/diagnosis/results/sp_results-sns-tw.jpg" />
                </div>
                <div>   
                    <img src="~/Content/images/sp/diagnosis/results/sp_results-sns-fb.jpg" />
                </div>
                <div>
                    <img src="~/Content/images/sp/diagnosis/results/sp_results-sns-ln.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
