@{Session["diagnosisKeyword"] = "diagnosis-result25";}
@Html.Hidden("pageKey", Session["diagnosisKeyword"])


    <link href="~/Content/pc-css/result.css" rel="stylesheet" />


<div class="result-main">
    <div class="juicy-degree">
        <div class="text-container-1">
            <p>
                あなたの髪の ジューシー度は<br>
                <img src="~/Content/images/pc/result/juicy-60.png" alt="60%" /><br>
                <span class="text2">ジューシー度を上げる、ぴったりなレシピはコレ！</span><br>
                ハリコシで根元から立ち上がる ジューシーヘアレシピ
            </p>
        </div>
        <div class="product-container item3">
            <div class="item">
                <div class="item-image"><img src="~/Content/images/pc/result/kiwi_shampoo.png" alt="kiwi_shampoo.png" title="kiwi_shampoo.png" /></div>
                <div class="item-detail">
                    <h3>シャンプー</h3>
                    <p>
                        キウイ<br>
                        エンパワー ボリューム レシピ<br>
                        ［シャンプー］  <br>                       
                    </p>
                    <div class="bin">
                        <a href="javascript:void(0);" sku="kiwi-shampoo" binbtngaca="pc_hairrepi_20161001_diagnosis-result2_[store]" bineventlabel="external" class="generic-btn shop to-shop-btn gaca-btn">To Shop</a>
                    </div>
                </div>
            </div>
            <div class="item-x"><img src="~/Content/images/pc/result/product-x.png" alt="x" /></div>
            <div class="item">
                <div class="item-image"><img src="~/Content/images/pc/result/kiwi_treatement.png" alt="kiwi_treatement" title="kiwi_treatement" /></div>
                <div class="item-detail">
                    <h3>トリートメント</h3>
                    <p>
                        キウイ<br>
                        エンパワー ボリューム レシピ<br>
                        [トリートメント]<br>
                    </p>
                    <div class="bin">
                        <a href="javascript:void(0);" sku="kiwi-treatment" binbtngaca="pc_hairrepi_20161001_diagnosis-result2_[store]_2" bineventlabel="external" class="generic-btn shop to-shop-btn gaca-btn">To Shop</a>
                    </div>
                </div>
            </div>
            <div class="item-x"><img src="~/Content/images/pc/result/product-x.png" class="item-image" alt="x" /></div>
            <div class="item">
                <div class="item-image"><img src="~/Content/images/pc/result/kiwi_scalp_essence.png" alt="kiwi_scalp_essence" title="kiwi_scalp_essence" /></div>
                <div class="item-detail">
                    <h3>スカルプフィード エッセンス</h3>
                    <p>
                        キウイ<br>
                        エンパワー ボリューム レシピ<br>
                        スカルプ フィード エッセンス<br>
                        [洗い流さないトリートメント] <br>
                    </p>
                    <div class="bin">
                        <a href="javascript:void(0);" sku="kiwi-scalp" binbtngaca="pc_hairrepi_20161001_diagnosis-result2_[store]_3" bineventlabel="external" class="generic-btn shop to-shop-btn gaca-btn">To Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-suggest">
        <div class="text-container-1">
            <div class="trial_image_sns_container">
                <img src="~/Content/images/pc/result/trial_SNS2.png" alt="" />
            </div>        
            <div>
                ハニー アプリコット エンリッチ<br>
                モイスチャー レシピ<br>
                シャンプー&トリートメント<br>
                3日間 お試しパック<br>
                <div class="bin"><a href="javascript:void(0);" sku="dgnsis-kiwi" binbtngaca="pc_hairrepi_20161001_diagnosis-result2_[store]_4" bineventlabel="external" class="generic-btn shop to-shop-btn gaca-btn">To Shop</a></div>
                ジューシー度チェックを友達におしえる
                @Html.Partial("_pcResultsSNS", "")              
            </div>
        </div>
    </div>
    <a href="#" id="back-to-top" title="Back to top"><img src="/Content/images/pc/back-to-top.png" /></a>
</div>