@{Session["diagnosisKeyword"] = "diagnosis-result8";}
@Html.Hidden("pageKey", Session["diagnosisKeyword"])


    <link href="~/Content/pc-css/result.css" rel="stylesheet" />


<div class="result-main">
    <div class="juicy-degree">
        <div class="text-container-1">
            <p>
                あなたの髪の ジューシー度は<br>
                <img src="~/Content/images/pc/result/juicy-80.png" alt="80%" /><br>
                <span class="text2">ジューシー度を上げる、ぴったりなレシピはコレ！</span><br>
                しっとりうるおう ジューシーヘアレシピ
            </p>
        </div>
        <div class="product-container item2">
            <div class="item">
                <div class="item-image"><img src="~/Content/images/pc/result/honey_shampoo.png" alt="honey_shampoo" title="honey_shampoo" /></div>
                <div class="item-detail">
                    <h3>シャンプー</h3>
                    <p> ハニー アプリコット<br>エンリッチ モイスチャー レシピ<br>［シャンプー］<br> </p>
                    <div class="bin">
                        <a href="javascript:void(0);" sku="apricot-shampoo" binbtngaca="pc_hairrepi_20161001_diagnosis-result8_[store]" bineventlabel="external" class="generic-btn shop to-shop-btn gaca-btn">To Shop</a>
                    </div>
                </div>
            </div>
            <div class="item-x"><img src="~/Content/images/pc/result/product-x.png" alt="x" /></div>
            <div class="item">
                <div class="item-image"><img src="~/Content/images/pc/result/honey_treatment.png" alt="honey_treatment" title="honey_treatment" /></div>
                <div class="item-detail">
                    <h3>トリートメント</h3>
                    <p>
                        ハニー アプリコット<br>
                        エンリッチ モイスチャー レシピ<br>
                        [トリートメント]<br>                         
                    </p>
                    <div class="bin">
                        <a href="javascript:void(0);" sku="apricot-treatment" binbtngaca="pc_hairrepi_20161001_diagnosis-result8_[store]_2" bineventlabel="external" class="generic-btn shop to-shop-btn gaca-btn">To Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-suggest">
        <div class="text-container-1">
            <div class="trial_image_sns_container">
                <img src="~/Content/images/pc/result/trial_SNS.png" alt="" />
            </div>        
            <p>
                ハニー アプリコット エンリッチ<br>
                モイスチャー レシピ<br>
                シャンプー&トリートメント<br>
                3日間 お試しパック<br>
                <div class="bin"><a href="javascript:void(0);" sku="dgnsis-apricot" binbtngaca="pc_hairrepi_20161001_diagnosis-result8_[store]_3" bineventlabel="external" class="generic-btn shop to-shop-btn gaca-btn">To Shop</a></div>
                ジューシー度チェックを友達におしえる
                <div class="social-container">
                    <a href="javascript:void(0);"  class="twitter"><img src="~/Content/images/pc/result/result-sb-twitter.jpg" class="" alt="twitter" /></a>
                    <a href="javascript:void(0);" class="fb"><img src="~/Content/images/pc/result/result-sb-fb.jpg" class="" alt="facebook" /></a>
                </div>                
            </p>
        </div>
    </div>
    <a href="#" id="back-to-top" title="Back to top"><img src="/Content/images/pc/back-to-top.png" /></a>
</div>