@*pending meta*@


    <link href="~/Content/pc-css/result.css" rel="stylesheet" />


<div class="result-main">
    <div class="juicy-degree">
        <div class="text-container-1">
            <p>
                あなたの髪の ジューシー度は<br>
                <img src="~/Content/images/pc/result/juicy-30.png" alt="30%" /><br>
                <span class="text2">ジューシー度を上げる、ぴったりなレシピはコレ！</span><br>
                地肌すっきり、ふんわりうるおい ジューシーヘアレシピ
            </p>
        </div>
        <div class="product-container item3">
            <div class="item">
                <div class="item-image"><img src="~/Content/images/pc/result/cleansing_shampoo.png" alt="cleansing shampoo" title="cleansing shampoo" /></div>
                <div class="item-detail">
                    <h3>クレンジングシャンプー</h3>
                    <p> 週1〜2回シャンプーのかわりに<br> ミントブレンド<br> クレンジング レシピ<br> [クレンジングシャンプー]<br> </p>
                    <div class="bin">
                        <a href="javascript:void(0);" sku="common" gaca="pc_hairrepi_20161001_hairrecipe.data.Entities.Diagnosis.Diagnosis_amazon" class="generic-btn shop to-shop-btn gaca-btn">To Shop</a>
                    </div>
                </div>
            </div>
            <div class="item-x"><img src="~/Content/images/pc/result/product-x.png" alt="x" /></div>
            <div class="item">
                <div class="item-image"><img src="~/Content/images/pc/result/kiwi_treatement.png" alt="kiwi_treatement" title="kiwi_treatement" /></div>
                <div class="item-detail">
                    <h3>トリートメント</h3>
                    <p>
                        キウイ<br>
                        エンパワー ボリューム レシピ<br>
                        [トリートメント]<br>
                    </p>
                    <div class="bin">
                        <a href="javascript:void(0);" sku="common" gaca="pc_hairrepi_20161001_hairrecipe.data.Entities.Diagnosis.Diagnosis_amazon" class="generic-btn shop to-shop-btn gaca-btn">To Shop</a>
                    </div>
                </div>
            </div>
            <div class="item-x"><img src="~/Content/images/pc/result/product-x.png" class="item-image" alt="x" /></div>
            <div class="item">
                <div class="item-image"><img src="~/Content/images/pc/result/grape.png" alt="grape" title="grape" /></div>
                <div class="item-detail">
                    <h3>洗い流さないトリートメント</h3>
                    <p>
                        グレープ シード<br>
                        ブースター オイル レシピ<br>
                        [洗い流さないトリートメント] <br>
                    </p>
                    <div class="bin">
                        <a href="javascript:void(0);" sku="common" gaca="pc_hairrepi_20161001_hairrecipe.data.Entities.Diagnosis.Diagnosis_amazon" class="generic-btn shop to-shop-btn gaca-btn">To Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-suggest">
        <div class="text-container-1">
            <div class="trial_image_sns_container">
                <img src="~/Content/images/pc/result/trial_SNS.png" alt="" />
            </div>        
            <p>
                ハニー アプリコット エンリッチ<br>
                モイスチャー レシピ<br>
                シャンプー&トリートメント<br>
                3日間 お試しパック<br>
                <a href="javascript:void(0);" sku="common" gaca="pc_hairrepi_20161001_hairrecipe.data.Entities.Diagnosis.Diagnosis_amazon" class="generic-btn shop to-shop-btn gaca-btn">To Shop</a>
                ジューシー度チェックを友達におしえる
                <div class="social-container">
                    <a href="javascript:void(0);"  class="twitter"><img src="~/Content/images/pc/result/result-sb-twitter.jpg" class="" alt="twitter" /></a>
                    <a href="javascript:void(0);" class="fb"><img src="~/Content/images/pc/result/result-sb-fb.jpg" class="" alt="facebook" /></a>
                </div>                
            </p>
        </div>
    </div>
    <a href="#" id="back-to-top" title="Back to top"><img src="/Content/images/pc/back-to-top.png" /></a>
</div>