@{
    ViewBag.Title = "Q5 - a2";
    Session["diagnosisKeyword"] = "diagnosis-q5_a";
}
<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />
@Html.Hidden("pageKey", Session["diagnosisKeyword"])
<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 5</div>
        <div class="question">髪の美しさを<br />プラスするならどっち？</div>
        <div class="choices big">
            <a href="/sp/diagnosis/result/5" class="box">
                <div>
                    <span class="title">A</span><br>
                    <p>”うるおい”を<br />プラスして、<br />しなやかな髪</p>
                </div>
            </a>
            <a href="/sp/diagnosis/result/6" class="box">
                <div>
                    <span class="title">B</span><br>
                    <p>”ツヤ”を<br>プラスして<br>しっとりまとまる髪</p>
                </div>
            </a>
        </div>
        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step5.png" />
            <div class="desc"><a href="/sp/diagnosis/q4/a2">< ひとつ前にもどる</a></div>
        </div>
    </div>
    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>