@{
    ViewBag.Title = "Q5 - b1";
    Session["diagnosisKeyword"] = "diagnosis-q5_b";
}
<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />
@Html.Hidden("pageKey", Session["diagnosisKeyword"])
<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 5</div>
        <div class="question">あなたが<br />ヘアケアに求めることは？</div>
        <div class="choices big">
            <a href="/sp/diagnosis/result/3.html" class="box">
                <div>
                    <span class="title">A</span><br>
                    <p>髪の悩みを<br>とにかく、<br>解決してほしい！</p>
                </div>
            </a>
            <a href="/sp/diagnosis/result/3.html" class="box">
                <div>
                    <span class="title">B</span><br>
                    <p>髪はもちろん、<br />心も満たされたい！<br />&nbsp;</p>
                </div>
            </a>
        </div>
        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step5.png" />
            <div class="desc"><a href="/sp/diagnosis/q4/a1.html">< ひとつ前にもどる</a></div>
        </div>
    </div>
    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>