@{
    Session["diagnosisKeyword"] = "diagnosis-q5_c";
}
@Html.Hidden("pageKey", Session["diagnosisKeyword"])
<div class="main-diagnosis">
    <img src="~/Content/images/pc/diagnosis/1.jpg" />
    <div class="content-diagnosis qa">
        <div class="check">Check 5</div>
        <div class="question"><h1>やっぱり髪のキレイな人に憧れる？</h1></div>
        <div class="choices c1">
            <a href="/diagnosis/result/4/" class="box">
                <div>
                    <span class="title">A</span><br>
                    <p>すごく憧れる！</p>
                    <img src="~/Content/images/pc/diagnosis/arrow.png" />
                </div>
            </a>
            <a href="/diagnosis/result/4/" class="box">
                <div>
                    <span class="title">B</span><br>
                    <p>どっちでもいいかな</p>
                    <img src="~/Content/images/pc/diagnosis/arrow.png" />
                </div>
            </a>
        </div>
        <div class="steps">
            <img src="/Content/images/pc/diagnosis/step5.png">
            <div class="desc"><a href="/diagnosis/q4/b1/">< ひとつ前にもどる</a></div>
        </div>
    </div>
</div>