@{
    ViewBag.Title = "Q5 - c3";
    Session["diagnosisKeyword"] = "diagnosis-q5_c";
}

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />
@Html.Hidden("pageKey", Session["diagnosisKeyword"])
<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 5</div>
        <div class="question">やっぱり<br />髪のキレイな人に憧れる？</div>
        <div class="choices big c1">
            <a href="/sp/diagnosis/result/12.html" class="box">
                <div>
                    <span class="title">A</span><br>
                    <p>すごく憧れる！<br />&nbsp;</p>
                </div>
            </a>
            <a href="/sp/diagnosis/result/12.html" class="box">
                <div>
                    <span class="title">B</span><br>
                    <p>どっちでも<br />いいかな</p>
                </div>
            </a>
        </div>
        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step5.png" />
            <div class="desc"><a href="/sp/diagnosis/q4/b3.html">< ひとつ前にもどる</a></div>
        </div>
    </div>
    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>