@{
    ViewBag.Title = "このサイトについて | ヘアレシピ";
    ViewBag.Description = "ヘアレシピのサイトご利用についてのご案内です。髪に、はじめてのごちそう。ヘアレシピ（HAIR RECIPE）";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewData["GACAKeyword"] = "about";
}

@section customStyles
{
    <link href="~/Content/sp-css/mobile-about.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipejp/sp/about">
}

<div class="content about-bg">
    <div class="contact-banner">
        <h1><img src="~/Content/images/sp/sp_about-img-heading.png" alt="このサイトについて" /></h1>
        <div class="inner">
            <div class="page-title">About This Site</div>
        </div>
    </div>
    <div class="container about-main">
        <div class="row">
            <div class="col-md-6"> 
                <div class="sub-title">このサイトについて</div>
                <p>当社ウェブサイトへのアクセスおよびその使用に際しては、以下の条件および適用されるすべての法律を遵守するものとします。また、以下の条件については事前の了承なく、変更することができるものとします。</p>
                <div class="sub-title">利用範囲</div>
                <p>個人の娯楽および情報収集の目的で当社ウェブサイトを参照することはできますが、P&Gの書面による許可なしに、当社ウェブサイトの内容を配布、変更、送信または改訂することはできません。</p>
                <div class="sub-title">免責</h2>
                <p>P&Gは、当社ウェブサイトおよび当社ウェブサイトにリンクされたいかなるサイトの内容に関してもその正確さおよび完全さに関していかなる保証または表明を行うものではありません。また、P&Gおよびその関連会社は当社ウェブサイトまたは当社ウェブサイトにリンクされたサイトの内容へのアクセスおよびその使用から生じるいかなる直接的、付帯的、派生的、間接的、または懲罰的損害賠償の責任も負うものではありません。 あなたはあなたのインターネットアカウントから生じた行為に関して、当社及び当社関連会社、ならびにそれぞれの代理店、役員、取締役、および従業員を補償する責任に加えて、あなたの負担により、訴訟経費を含む、すべての、損害、損失、費用、経費を補償することとします。当社は、当社ウェブサイトを通して参照されるすべての内容（外部ウェブページのリンクを含む）をフィルタリングしているわけではありません。未成年の保護者の方にはフィルタリングソフトの使用をお奨めします。</p>
                    <div class="sub-title">リンクサイトについて</div>
                <p>当社ウェブサイトから、又は、当社ウェブサイトにリンクを貼っている当社以外の第三者のウェブサイトの内容については、それぞれの責任で管理されるものであり、当社が所有、管理しているわけではありません。従って、当社は、その内容に関しても正確さおよび完全さに関していかなる保証または表明を行うものではなく責任を負いません。また、それらの利用により生じたいかなる損害についても責任を負いません。リンクサイトは、それぞれの使用条件に従って利用下さい。なお、リンクサイトへのリンクは、当社がリンク先に掲載されている商品、サービス、会社等を推奨することを意味せず、また、当社とリンクサイトとの間に提携などの特別な関係があるということを意味するものではありません。</p>
                    <div class="sub-title">提供情報、禁止事項</div>
                <p>あなたがインターネットを通じてP&Gに送信および投稿した通信またはマテリアルはすべて非機密および非占有情報として扱われ、著作権は当社に帰属することとします。あなたは、当社ウェブサイトに情報またはマテリアルを送信または投稿することにより、P&Gおよびその関連会社があなたの通信を加工、送信、発表、放送および投稿等いかなる目的においても用いることができるということに同意することとなります。さらに、犯罪行為や、不法行為とみなされるような行動であったり、良識に反する行為、またはそれを奨励するような非合法的、脅迫的、中傷的、名誉毀損的、猥褻的、ポルノグラフィック、または冒涜的ないかなる通信またはマテリアルも送信または投稿してはなりません。あなたが投稿、掲載したメッセージ等の情報について、一切の責任を負うものとします。また、当社は、会員による掲載情報が本規約に反しまたはそのおそれがあると判断した場合や、掲載情報が一定の容量ないし期間を経過した場合は、その情報を会員の同意なく削除・修正したり、会員に対し注意や警告をすることができます。</p>
                    <div class="sub-title">著作権、商標、その他の権利について</div>
                <p>当社及び関連会社は、別段の定めがない限り、本サイトに掲載される全てのコンテンツの所有者であり、もしくは掲載する権利を有しております。本ウェブサイトに掲載された全ての写真、社名ロゴ、画像、映像、文章、音楽等及び全ての内容に関する著作権・商標権・意匠権等の知的財産権その他一切の権利は当社に帰属するかまたは当社がライセンスにもとづき使用するものです。 したがって、本ウェブサイトの掲載内容全部につき、著作権法、商標法、意匠法その他の法令で認められた場合又は当社が事前に書面により許可した場合を除き、使用・複製・転載・電磁的加工・変更・送信・頒布・譲渡・貸与・二次的使用・その他これらに類する全ての行為を行うことを禁止します。</p>
                    <div class="sub-title">準拠法、その他</div>
                <p>当社は本サービスの内容の変更、中止を必要と判断した場合、事前の了承なく、その変更、中止を行うことができるものとし、原則として日本国内に居住の方を対象として適用し、この利用条件に関する準拠法は、日本法といたします。諸規定に違反する行為または、不正もしくは違法な行為によって当社に損害を与えた場合には、当社はあなたに対して、当社の被った損害の賠償を請求することができるものとします。また、本ウェブサイトの利用に関するすべての紛争については、神戸地方裁判所を第一審の専属的合意管轄裁判所とします。本ウェブサイトの一部のコンテンツやサービスのご利用に際しては、個別にご注意や利用規約等が設けられている場合もあります。</p>
            </div>
        </div>
    </div>

</div>