@{
    ViewBag.Title = "CM";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

@section customStyles
{
    <link href="~/Content/sp-css/mobile-cm.css" rel="stylesheet" />
}

<div class="content wall">
    <div class="banner">
        <img src="~/Content/images/sp/cm/sp_cm-img-heading.jpg" />
        <h1>CM & MOVIE</h1>
    </div>
    <div class="container cm-main">
        <div class="row">
            <div class="col-md-6 cm-anc">
                <ul class="cm-nav">
                    <li><a href="">TVCM</a></li>
                    <li><a href="">ブースターオイル使い方</a></li>
                    <li><a href="">WEB限定ムービー</a></li>
                </ul>
            </div>
            
            <div class="col-md-6 cm-one text-center wood-rough">
                <h2>TVCM</h2>
                <h3>「ジューシーヘア」編(15秒)</h3>
                <div class="embed-responsive embed-responsive-16by9"><img class="play_vid" src="~/Content/images/sp/cm/cm-05.jpg" data-video="https://www.youtube.com/embed/4e0QlzMlO_M"></div>
                <a href="#" class="btn to-read-btn">動画で紹介されている<br /> 製品をチェック！</a>
                <a href="#" class="btn to-shop-btn" >To Shop</a>
</div>
            <div class="col-md-6 cm-two text-center wood-smooth">
                <h2>TVCM</h2>
                <h3>「新発想、まぜるオイル」編（15秒）</h3>
                <div class="embed-responsive embed-responsive-16by9"><img class="play_vid" src="~/Content/images/sp/cm/cm-09.jpg" data-video="https://www.youtube.com/embed/4e0QlzMlO_M"></div>
                <a href="#" class="btn to-read-btn">動画で紹介されている<br /> 製品をチェック！</a>
                <a href="#" class="btn to-shop-btn">To Shop</a>
            </div>
            <div class="col-md-6 cm-three text-center stitch-b">
                <h2>TVCM</h2>
                <h3>「髪に、ごちそう。」編（15秒）</h3>
                <div class="embed-responsive embed-responsive-16by9"><img class="play_vid" src="~/Content/images/sp/cm/cm-12.jpg" data-video="https://www.youtube.com/embed/4e0QlzMlO_M"></div>
                <a href="#" class="btn to-read-btn">動画で紹介されている<br /> 製品をチェック！</a>
                <a href="#" class="btn to-shop-btn">To Shop</a>
            </div>
            <div class="col-md-6 cm-four text-center stitch-m">
                <h2>TVCM</h2>
                <h3>「髪に、ごちそう。」編（15秒）</h3>
                <div class="embed-responsive embed-responsive-16by9"><img class="play_vid" src="~/Content/images/sp/cm/cm-14.jpg" data-video="https://www.youtube.com/embed/4e0QlzMlO_M"></div>
                <a href="#" class="btn to-read-btn">動画で紹介されている<br /> 製品をチェック！</a>
                <a href="#" class="btn to-shop-btn">To Shop</a>
            </div>
            <div class="col-md-6 cm-five text-center stitch-s">
                <h2>TVCM</h2>
                <h3>「髪に、ごちそう。」編（15秒）</h3>
                <div class="embed-responsive embed-responsive-16by9"><img class="play_vid" src="~/Content/images/sp/cm/cm-16.jpg" data-video="https://www.youtube.com/embed/4e0QlzMlO_M"></div>
                <a href="#" class="btn to-read-btn">動画で紹介されている<br /> 製品をチェック！</a>
                <a href="#" class="btn to-shop-btn">To Shop</a>
            </div>
            <div class="col-md-6 cm-six text-center wood-smooth">
                <h2>TVCM</h2>
                <h3>「髪に、ごちそう。」編（15秒）</h3>
                <div class="embed-responsive embed-responsive-16by9"><img class="play_vid" src="~/Content/images/sp/cm/cm-18.jpg" data-video="https://www.youtube.com/embed/4e0QlzMlO_M"></div>
                <a href="#" class="btn to-read-btn">動画で紹介されている<br /> 製品をチェック！</a>
                <a href="#" class="btn to-shop-btn">To Shop</a>
            </div>
            <div class="cm-lineup-one text-center">
                <div class="inner">
                    <h2>HAIR RECIPE LINEUP</h2>
                    <h3>つやとうるおいの <br />アプリコットハニー</h3>
                    <img class="img-fluid" src="~/Content/images/sp/cm/recipe-line-up-01.png">
                    <a href="#" class="btn to-read-btn">キウイ エンパワー<br /> ボリューム レシピ</a>
                </div>
            </div>
            <div class="cm-lineup-two text-center">
                <div class="inner">
                    <h2>HAIR RECIPE LINEUP</h2>
                    <h3>ふんわりうるおいの <br />キウイいちじく</h3>
                    <img class="img-fluid" src="~/Content/images/sp/cm/recipe-line-up-02.png">
                    <a href="#" class="btn to-read-btn">キウイ エンパワー<br /> ボリューム レシピ</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="cm-lineup-three text-center">
                <div class="inner">
                    <h2>HAIR RECIPE LINEUP</h2>
                    <h3>地肌クレンジングのいちごミント</h3>
                    <img class="img-fluid" src="~/Content/images/sp/cm/recipe-line-up-03.png">
                    <a href="#" class="btn to-read-btn">キウイ エンパワー<br /> ボリューム レシピ</a>
                </div>
            </div>
            <div class="cm-lineup-four text-center">
                <div class="inner">
                    <h2>HAIR RECIPE LINEUP</h2>
                    <h3>うるおいアップのグレープシード<br />ブースター オイル<br />つやアップのサンフラワーシード<br />ブースター オイル </h3>
                    <p>トリートメントとまぜて効果アップ！ <br />洗い流さないトリートメントとしても使える！</p>
                    <img class="img-fluid" src="~/Content/images/sp/cm/recipe-line-up-04.png">
                    <a href="#" class="btn to-read-btn">キウイ エンパワー<br /> ボリューム レシピ</a>
                </div>
            </div>
        </div>
    </div>

</div>