@model IEnumerable<hairrecipe.data.Entities.CM.Video>
@{
    ViewBag.Title = "CM&MOVIE｜HAIR RECIPE（ヘアレシピ) | P&amp;G";
    ViewBag.Description = "HAIR RECIPE（ヘアレシピ)のTVCM、WEB限定イメージムービーがご覧いただけます。";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewData["GACAKeyword"] = "cm";
}

@section customStyles
{
    <link href="~/Content/sp-css/mobile-cm.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp/sp/cm/index.html">
}

<div class="content wall">
    <div class="contact-banner">
        <h1><img src="~/Content/images/sp/cm/sp_cm-img-heading.jpg" alt="CM & MOVIE" /></h1>
        <div class="inner">
            <div class="page-title">CM &amp; MOVIE</div>
        </div>
    </div>
    <div class="container cm-main">
        <div class="row">
            <div class="col-md-6 cm-anc">
                <ul class="cm-nav">
                    <li><a href="#cm1" class="gaca-btn" gaca="sp_hairrepi_20161001_cm_tvcm">TVCM</a></li>
                    <li><a href="#cm4" class="gaca-btn" gaca="sp_hairrepi_20161001_cm_booster">ブースターオイル使い方</a></li>
                    <li><a href="#cm5" class="gaca-btn" gaca="sp_hairrepi_20161001_cm_webmove">WEB限定ムービー</a></li>
                </ul>
            </div>
            @foreach (var item in Model)
            {
                @Html.Partial("_videoListSp", item);
            }

            <div class="cm-lineup-one text-center">
                <div class="inner">
                    <h2>HAIR RECIPE LINEUP</h2>
                    <h3>つやとうるおいの <br />アプリコットハニー</h3>
                </div>
                <a href="/sp/product/apricot.html" class="btn to-read-btn gaca-btn" gaca="sp_hairrepi_20161001_cm_apri">ハニー アプリコット エンリッチ<br />モイスチャー レシピ</a>
            </div>
            <div class="cm-lineup-two text-center">
                <div class="inner">
                    <h2>HAIR RECIPE LINEUP</h2>
                    <h3>ふんわりうるおいの <br />キウイいちじく</h3>
                </div>
                <a href="/sp/product/kiwi.html" class="btn to-read-btn gaca-btn" gaca="sp_hairrepi_20161001_cm_kiwi">キウイ エンパワー<br />ボリューム レシピ</a>
            </div>
            <div class="cm-lineup-three text-center">
                <div class="inner">
                    <h2>HAIR RECIPE LINEUP</h2>
                    <h3>地肌クレンジングのいちごミント</h3>
                </div>
                <a href="/sp/product/mint.html" class="btn to-read-btn gaca-btn" gaca="sp_hairrepi_20161001_cm_mint">ミントブレンド<br />クレンジング レシピ</a>
            </div>
            <div class="cm-lineup-four text-center">
                <div class="inner">
                    <h2>HAIR RECIPE LINEUP</h2>
                    <h3>うるおいアップのグレープシード<br />ブースター オイル<br />つやアップのサンフラワーシード<br />ブースター オイル </h3>
                    <p>トリートメントとまぜて効果アップ！ <br />洗い流さないトリートメントとしても使える！</p>
                </div>
                <a href="/sp/product/booster.html" class="btn to-read-btn single-line gaca-btn" gaca="sp_hairrepi_20161001_cm_booster_2">ブースター オイル レシピ</a>
            </div>
            <div class="cm-lineup-seven text-center">
                <div class="inner">
                    <h2>HAIR RECIPE LINEUP</h2>
                    <h3>たっぷりうるおいの<br />アップルジンジャー </h3>
                </div>
                <a href="/product/apple.html" class="btn to-read-btn gaca-btn" gaca="sp_hairrepi_20161022_cm_apple_recipe">アップル ジンジャー<br />濃密保湿あたたかレシピ</a>
            </div>
            <div class="cm-lineup-five stitch-s text-center">
                <div class="inner">
                    <a href="/sp/diagnosis/index.html" class="gaca-btn" gaca="sp_hairrepi_20161001_cm_juicy"><img class="img-fluid lazy" data-original="/Content/images/sp/cm/cm-27.jpg" alt="あなたの髪、うるおっている？ジューシー度チェック" /></a>
                </div>
            </div>
            <div></div>
        </div>
    </div>

</div>