@{
    ViewBag.Title = "お問い合わせ｜HAIR RECIPE（ヘアレシピ) | P&G";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewBag.Description = "製品やサイトについてご質問がございましたら、こちらからお問い合わせください。";
}
<link href="~/Content/sp-css/mobile-contact.css" rel="stylesheet" />
<div class="contact-banner">
    <img src="~/Content/images/sp/contact/1.jpg" />
    <div class="inner">
        <h2 class="page-title">CONTACT</h2>
        
    </div>
</div>
<div class="content">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>

    
    <div class="first-container">
        <div class="container contact-main">
            <div class="row">
                <div class="col-md-6">
                    <h2>お問い合わせ</h2>
                    <br />
                    <p>ヘアレシピサイトについてご質問がございましたら、こちらからお問い合わせください。なお、ご入力いただく前に<u><a href="faq.html">よくあるご質問</a></u>で同様の内容がないかどうかをご確認ください。お問い合わせの内容により、お返事にお時間がかかる場合もございます。<br />
                    また、商品・サイト以外のお問い合わせは、お答えできない場合もございますのでご了承ください。</p>

                </div>
            </div>
        </div>
    </div>
    <div class="second-container">
        <div class="container contact-main">
            <div class="row">
                <div class="col-md-6">
                    <p class="bold">P&Gお客様相談室</p>
                    <h2>お電話でのお問い合わせ</h2>
                    <p class="number">0120-021327</p>
                    <p>
                        全国から無料でおかけいただけます。<br />
                        祝日・年末年始を除く月曜～金曜<br />
                        （午前9時15分～午後5時）
                    </p>
                    <br />
                    <h2>メールでのお問い合わせ</h2>
                    <a href="https://pgconsumercare.secure.force.com/ContactUs?siteid=AllJapan-Ja" target="_blank" class="btn to-link-btn">
                        Eフォーム
                    </a>
                    <br /><br /><br />
                    <h2>お便りでのお問い合わせ</h2>
                    <p>
                        〒658-0032 神戸市東灘区向洋町中1丁目17<br />
                        プロクター・アンド・ギャンブル・ジャパン<br />
                        株式会社 「P&Gお客様相談室」
                    </p>
                    <br />
                    <h2>よくあるご質問</h2>
                    <a href="faq.html" class="btn to-link-btn">
                        よくあるご質問
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
