@{
    ViewBag.Title = "hawaii";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

@section customStyles
{
    <link href="~/Content/sp-css/hawaii.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp/hawaii">
    <link rel="alternate" media="handheld" href="http://hairrecipe.jp/sp/hawaii">
}

<div class="content wood-hp" id="hawaii">
    <div class="banner">
        <img src="/Content/images/sp/hawaii/sp_hawaii_banner.jpg" alt="">
    </div>
    <div class="container wall-hp">
        <div class="top-content">
            <p class="lead-title">HAIR RECIPE Natural Beauty Camp</p>
            <p class="heading-title-1">ヘアレシピ ナチュラルビューティーキャンプ</p>
            <p class="heading-title-2"><span>2016 in Hawaii</span> イベントレポート</p>
            <div class="centerthumbs">
                <p>今回、ビューティートレンドの発信地・ハワイ<br />                    にて、様々なメディアで注目を集める旬な女の<br />                    子たちに向けたビューティーイベントを開催！<br />                    その名も「ヘアレシピ ナチュラルビューティー<br />
                    キャンプ2016 in Hawaii」。<br />

                    ハワイ ワイキキの癒しの空間で、ヨガ、グル<br />
                    メ、リラクゼーションなどを通じて、カラダもコ<br />
                    コロもよろこぶ、とっておきの“ごちそう”を直<br />
                    入れ体験したイベントをご紹介！
                </p>
                <img src="/Content/images/sp/hawaii/sp_hawaii_thumbs.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container wood-hp">
        <div class="mid-content">
            <p class="lead-title-2">直入れ Salon&ヘアレシピ サロン</p>
            <p class="heading-title-2"><span>Did you know about</span> “直入れ”？</p>
            <div class="content-mid">
                <p class="bottom-copy">
                    疲れや不調を感じているということは、<br />                    身体が栄養を欲しているということ。<br />                    そのため、身体の内側に優先的に栄養は流れて<br />                    しまい、なかなか髪にまでは届かないのです。<br />                    髪に直接“直入れ”するということは、美しく健や<br />                    かな髪のためには効果的です。<br />                    身体がよろこぶごちそうで身体の内側を満たすよ<br />                    うに、髪には髪のごちそうを与える直入れサロンで、<br />                    こころゆくまで直入れタイムを楽しみました。
                </p>
                <img src="/Content/images/sp/hawaii/sp_hawaii_tiles.png" alt="">
                <a href="#" class="btn generic-btn gaca-btn">髪に直入れするヘアレシピをチェック！</a>
            </div>
        </div>
    </div>
    <img src="/Content/images/sp/hawaii/sp_hawaii_instagram.png" alt="">
    <div class="container wood-hp">
        <div class="content-instagram">
            <p>#ヘアレシピ  #beautycamp  #直入れ美容</p>
            <ul>
                <li><img src="/Content/images/pc/hawaii/hawaii-insta-1.jpg" alt=""></li>
                <li><img src="/Content/images/pc/hawaii/hawaii-insta-2.jpg" alt=""></li>
                <li><img src="/Content/images/pc/hawaii/hawaii-insta-3.jpg" alt=""></li>

                <li><img src="/Content/images/pc/hawaii/hawaii-insta-4.jpg" alt=""></li>
                <li><img src="/Content/images/pc/hawaii/hawaii-insta-5.jpg" alt=""></li>
                <li><img src="/Content/images/pc/hawaii/hawaii-insta-6.jpg" alt=""></li>

                <li><img src="/Content/images/pc/hawaii/hawaii-insta-7.jpg" alt=""></li>
                <li><img src="/Content/images/pc/hawaii/hawaii-insta-8.jpg" alt=""></li>
                <li><img src="/Content/images/pc/hawaii/hawaii-insta-9.jpg" alt=""></li>

                <li><img src="/Content/images/pc/hawaii/hawaii-insta-10.jpg" alt=""></li>
                <li><img src="/Content/images/pc/hawaii/hawaii-insta-11.jpg" alt=""></li>
                <li><img src="/Content/images/pc/hawaii/hawaii-insta-12.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="container stitch-s">
        <div class="bottom-content">
            <p class="footerbanner-heading">JUICY HAIR CHECK</p>
            <div class="spoon-h">
                <img class="lazy" data-original="/Content/images/sp/home/sp_hp-spoon-wood.png" src="/Content/images/sp/home/sp_hp-spoon-wood.png">
            </div>
            <img class="lazy banner" data-original="/Content/images/sp/sp_diagnosis-thumbnail.png" alt="あなたの髪、うるおっている？ジューシー度チェック" src="/Content/images/sp/sp_diagnosis-thumbnail.png">
            <p class="footerbanner-heading">JUICY HAIR CHECK</p>
            <div class="spoon-h">
                <img class="lazy" data-original="/Content/images/sp/home/sp_hp-spoon-wood.png" src="/Content/images/sp/home/sp_hp-spoon-wood.png">
            </div>
            <img class="lazy banner" data-original="/Content/images/sp/sp_reco-recipe-thumbnail.png" alt="YOUR RECIPE なりたい髪を選んで" src="/Content/images/sp/sp_reco-recipe-thumbnail.png">
        </div>
    </div>
</div>
