@model IEnumerable<hairrecipe.Models.ProductListingViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

@section customStyles
{

}

<div class="content">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Products</h1>
            </div>
        </div>
    </div>

    <img src="http://placehold.it/750x290?text=Products+Intro+Image" style="max-width: 100%;"/>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @foreach (var item in Model) {
                    @Html.Partial("_ProductListingBlockSp", item)
                }
            </div>
        </div>
    </div>

</div>