@model IEnumerable<hairrecipe.data.Entities.Home.HomeProducts>

@{
    ViewBag.Title = "ヘアレシピ（HAIR RECIPE）公式サイト｜髪にごちそう";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewBag.Description = "ヘアレシピ（HAIR RECIPE）公式サイト。ノン シリコン シャンプー・トリートメント・ヘアオイル（洗い流さないトリートメント）など、髪にやさしいヘアケアのレシピをご紹介。";
    ViewData["GACAKeyword"] = "top";

}

@section customStyles
{
    <link href="~/Content/mobile-hp.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp/sp/">
}

<div class="content home">
    <div class="content-wrapper wall-hp" id="A">
        <div class="container">
            <a id="products"></a>
            <div class="row">
                <div class="col-md-12">
                        <h1 class="section-heading">Products</h1>
                    <div class="spoon-h">
                        <img class="lazy" data-original="/Content/images/sp/home/sp_hp-spoon-wood.png" />
                    </div>
                </div>
            </div>
        </div>

        <img class="lazy" data-original="/Content/images/sp/home/sp_product-img-heading.png" />

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @foreach (var item in Model) {
                        @Html.Partial("_homeProductListing", item)
                    }
                    @{ 
                        string[,] contents = new string[,]
	                    {
                            { "", "", "", "" },
	                        {"/diagnosis", "sp_diagnosis-thumbnail.png", "あなたの髪、うるおっている？ジューシー度チェック", "sp_hairrepi_20161001_top_diagnosis"},
	                        {"/reco_recipe", "sp_reco-recipe-thumbnail.png", "YOUR RECIPE なりたい髪を選んで", "sp_hairrepi_20161001_top_your-recipe"},

	                    };
                        Html.RenderPartial("_FootBannerSp", contents);  
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper wood-hp">
        <p class="custom-section-heading">LIFE<br />
            with<br />
            HAIR RECIPE
        </p>
        <div class="spoon-h">
            <img class="lazy" data-original="/Content/images/sp/home/sp_hp-spoon-wood.png" />
        </div>
        <div class="life-splash">
            <a href="https://www.instagram.com/hairrecipe_official" target="_blank" class="gaca-btn" gaca="sp_hairrepi_20161001_top_life_with">
                <img class="lazy" data-original="/Content/images/sp/home/sp_life-with-hairrecipe.jpg" />
            </a>
        </div>
    </div>

    <div class="content-wrapper stitch-hp">
        <p class="section-heading news">News</p>
        <div class="spoon-h">
            <img class="lazy" data-original="/Content/images/sp/home/sp_hp-spoon-wood.png" />
        </div>
        <a href="/sp/info/index.html#a" class="gaca-btn" gaca="sp_hairrepi_20161001_top_news_1">
            <div class="news-splash">
                <img class="lazy" data-original="/Content/images/sp/sp_diagnosis-thumbnail.png" alt="あなたの髪、うるおっている？ジューシー度チェック" />
            </div>
            <div class="news-copy">
                <p class="news-date">2016.4.21</p>
                <p class="text">
                    あなたの髪、うるおっていますか？髪のジュー<br />
                    シー度をチェックするとあなたにピッタリなレ<br />
                    シピをご提案！今すぐチェック！
                </p>
            </div>
        </a>
        <div class="news-content-wrapper">
            <div class="news-content">

                <a href="/sp/info/index.html#b" class="gaca-btn" gaca="sp_hairrepi_20161001_top_news_2">
                    <div class="news">
                        <img class="lazy" data-original="/Content/images/sp/home/sp_news-thumb-1.jpg" alt="冬の髪に、旬のレシピいかがですか？ 売り切れ御礼！おかげさまで、完売しました。" />
                        <p class="text">
                            <span class="date">2015.11.19</span>
                            <br />
                            新メニュー、アップルジンジャー濃密保湿あたたかレシピ登場！乾燥しやすい冬の髪に、高濃度コンディショニング成分で濃密保湿。たっぷりうるおい髪…
                        </p>
                    </div>
                </a>
                

                <a href="/sp/info/index.html#c" class="gaca-btn" gaca="sp_hairrepi_20161001_top_news_3">
                    <div class="news">
                        <img class="lazy" data-original="/Content/images/sp/home/sp_news-thumb-2.jpg" alt="数量限定発売！夏の髪に、ごちそう。パワーチャージセット発売！" />
                        <p class="text">
                            <span class="date">2015.6.18</span>
                            <br />
                            夏の疲れた髪に、ごちそうエネルギーをパワーチャージできるジュースパックに入ったシャンプー＆トリートメントセットを数量限定で発売！
                        </p>
                    </div>
                </a>
                

                <a href="/sp/info/index.html#d" class="gaca-btn" gaca="sp_hairrepi_20161001_top_news_4">
                    <div class="news">
                        <img class="lazy" data-original="/Content/images/sp/home/sp_news-thumb-3.jpg" alt="ついに登場！詰め替え用シャンプー＆トリートメント！" />
                        <p class="text">
                            <span class="date">2015.6.18</span>
                            <br />
                            ついに登場！シャンプー＆トリートメントのお得な詰替え用。オンラインストアで価格をチェック！
                        </p>
                    </div>
                </a>

            </div>
        </div>
        <div class="centered-btn">
            <a href="/sp/info/index.html" class="btn generic-btn gaca-btn" gaca="sp_hairrepi_20161001_top_news_archive">
                Archive
            </a>
        </div>
    </div>

    <div class="content-wrapper wood-b-hp">
        <p class="section-heading news">Cm &amp; Movie</p>
        <div class="spoon-h">
            <img class="lazy" data-original="/Content/images/sp/home/sp_hp-spoon-wood.png" />
        </div>
        <div class="news-splash">
            <img class="imgplaceholder lazy" data-original="/Content/images/sp/home/sp_cm-thumbnail.jpg" data-video="sH3jJpgfDS4"/>
            <div class="hide" id="player"></div>
        </div>
        <div class="centered-btn">
            <a href="/sp/cm/index.html" class="btn generic-btn gaca-btn" gaca="sp_hairrepi_20161001_top_cm_other">
                Watch other movies
            </a>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/singleInstanceYTvideo.js"></script>
}