@model IEnumerable<hairrecipe.data.Entities.Info.InfoList>
@{
    ViewBag.Title = "News - 新発売シャンプー・イベント情報 | ヘアレシピ";
    ViewBag.Description = "ヘアレシピの最新ニュースをご覧ください。こちらで新発売シャンプーやイベント情報などがご覧いただけます。";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewData["GACAKeyword"] = "news";
}

@section customStyles
{
    <link href="~/Content/sp-css/mobile-info.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp/sp/info">
}

<div class="content">
    <div class="banner">
        <h1><img src="/Content/images/sp/info/sp_info-img-header.jpg" alt="新着情報"></h1>
        <p>News</p>
    </div>

    <div class="container">
        @foreach (var item in Model)
        {
            @Html.Partial("_infoListSp", item);
        }
    </div>
</div>
