@model IEnumerable<hairrecipe.data.Entities.Info.InfoList>
@{
    ViewBag.Title = "NEWS｜HAIR RECIPE（ヘアレシピ) | P&amp;G";
    ViewBag.Description = "HAIR RECIPE（ヘアレシピ)の新着・新発売情報とキャンペーン情報をお届けしています。新しいシャンプー・トリートメント情報、話題のイベントや最新コンテンツ、期間限定商品情報のほか、キャンペーンの詳細や、応募期間、応募方法などを詳しくご紹介しています。";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewData["GACAKeyword"] = "news";
}

@section customStyles
{
    <link href="~/Content/sp-css/mobile-info.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp/sp/info/index.html">
}

<div class="content">
    <div class="banner">
        <img src="~/Content/images/sp/info/sp_info-img-header.jpg" />
        <h1>News</h1>
    </div>
    <div class="container">
        @foreach (var item in Model)
        {
            @Html.Partial("_infoListSp", item);
        }
    </div>
</div>
