@model IEnumerable<hairrecipe.data.Entities.Home.KodawariStoreListing>
@{
    ViewBag.Title = "PRODUCT STORIES｜HAIR RECIPE（ヘアレシピ) | P&amp;G";
    ViewBag.Description = "HAIR RECIPE（ヘアレシピ)のプロダクトストーリー。レシピの5つのこだわりポイントがご覧いただけます。";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewData["GACAKeyword"] = "prpduct-stories";
}
@section customStyles
{
    <link href="~/Content/sp-css/mobile-product-stories.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp/sp/kodawari/index.html">
}
<div class="content product-stories">
    <div class="banner">
        <img src="~/Content/images/sp/product/landing/sp_product-stories-header.jpg" />
        <h1>Product Stories</h1>
    </div>
    <div class="product-stories-top">
        <p class="title">レシピの５つの<br />こだわりポイント</p>
        <ol>
            <li><a class="gaca-btn" gaca="sp_hairrepi_20161001_prpduct-stories_technology" href="#story1">テクノロジー</a></li>
            <li><a class="gaca-btn" gaca="sp_hairrepi_20161001_prpduct-stories_material" href="#story2">素材</a></li>
            <li><a class="gaca-btn" gaca="sp_hairrepi_20161001_prpduct-stories_fragrance" href="#story3">香り</a></li>
            <li><a class="gaca-btn" gaca="sp_hairrepi_20161001_prpduct-stories_soule" href="#story4">ソレー効果</a></li>
            <li><a class="gaca-btn" gaca="sp_hairrepi_20161001_prpduct-stories_foam" href="#story5">泡立ち</a></li>
        </ol>
    </div>
    <div class="product-stories-content">
        @foreach (var item in Model) {      
            @Html.Partial("_ProductStories", item)
        }
    </div>
    <div class="product-lineup-content">
        @Html.Partial("_ProductLineup")
    </div>
</div>
