@{
    ViewBag.Title = "あなたにぴったり！おすすめシャンプーレシピ | ヘアレシピ";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewBag.Description = "ヘアレシピのおすすめシャンプー、トリートメント等レシピをご紹介。しっとり髪、ふんわり髪、まとまり髪、軽やか髪の4タイプ別に、あなたにぴったりなヘアレシピの組み合わせをご紹介します。";
    ViewData["GACAKeyword"] = "your-recipe";
}
@section customStyles
{
    <link href="~/Content/sp-css/mobile-reco_recipe.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp/sp/reco_recipe/index.html">
}
<div class="contact-banner">
    <h1><img src="~/Content/images/sp/reco/1.jpg" alt="なりたい髪にあった レシピの提案" /></h1>
    <div class="inner">
        <div class="page-title">YOUR RECIPE</div>
    </div>
</div>

<div class="content">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>



    <div class="reco_recipe-main">
                <div class="section1">
                    <img src="~/Content/images/sp/reco/2.jpg" />
                    <div class="inner">
                        <a href="#A" class="linkA gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_recipe1">
                            <span class="title">RECIPE 1</span><br />
                            <p>しっとり髪</p>
                            <span class="desc">になりたい！</span>
                        </a>       
                        <a href="#B" class="linkB gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_recipe2">
                            <span class="title">RECIPE 2</span><br />
                            <p>ふんわり髪</p>
                            <span class="desc">になりたい！</span>
                        </a> 
                        <a href="#C" class="linkC gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_recipe3">
                            <span class="title">RECIPE 3</span><br />
                            <p>まとまり髪</p>
                            <span class="desc">になりたい！</span>
                        </a>
                        <a href="#D" class="linkD gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_recipe4">
                            <span class="title">RECIPE 4</span><br />
                            <p>軽やか髪</p>
                            <span class="desc">になりたい！</span>
                        </a>               
                    </div>
                </div>
                <div id="A" class="section2">
                    <img src="~/Content/images/sp/reco/3.jpg" />
                    <div class="inner">
                        <div class="desc1">
                            <div class="title">YOUR RECIPE 1</div>
                            <p>
                                地肌のすっきり感＋とてもしっとり <br />
                                仕上がりを欲張りたい髪に
                            </p>
                        </div>
                        
                        <div class="desc2">        
                            <div class="product">
                                <div>クレンジング<br />シャンプー</div>
                                <div>トリート <br />メント</div>
                                <div>ヘアフード<br />マスク</div>
                            </div>                   
                            <p>
                                週1〜2回シャンプーのかわりに<br />
                                ミントブレンド クレンジング レシピ<br />
                                [クレンジングシャンプー]
                            </p>
                            <div class="shop-btn bin">
                                <a binid="mint-cleansing" class="btn to-shop-btn gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_bin1" binbtngaca="sp_hairrepi_20161001_your-recipe_[store]"  binEventLabel="external">
                                    To Shop
                                </a>
                            </div>
                            <p>
                                ハニー アプリコット<br />
                                エンリッチ モイスチャー<br />
                                [トリートメント]
                            </p>
                            <div class="shop-btn bin">
                                <a binid="apricot-treatment" class="btn to-shop-btn gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_bin2" binbtngaca="sp_hairrepi_20161001_your-recipe_[store]_2"  binEventLabel="external">
                                    To Shop
                                </a>
                            </div>
                            <p>
                                ハニー アプリコット<br />
                                エンリッチ モイスチャー<br />
                                [洗い流すトリートメント]
                            </p>
                            <div class="shop-btn bin">
                                <a binid="apricot-mask" class="btn to-shop-btn gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_bin3" binbtngaca="sp_hairrepi_20161001_your-recipe_[store]_3"  binEventLabel="external">
                                    To Shop
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="B" class="section3">
                    <img src="~/Content/images/sp/reco/4.jpg" />
                    <div class="inner">
                        <div class="desc1">
                            <div class="title">YOUR RECIPE 2</div>
                            <p>
                                地肌すっきり、髪ふんわり、ハリ<br />
                                感UPの贅沢３ステップ
                            </p>
                        </div>

                        <div class="desc2">
                            <div class="product">
                                <div>クレンジング<br />シャンプー</div>
                                <div>トリート <br />メント</div>
                                <div>スカルプフィード<br />エッセンス</div>
                            </div>
                            <p>
                                週1〜2回シャンプーのかわりに<br />
                                ミントブレンド クレンジング レシピ<br />
                                [クレンジングシャンプー]
                            </p>
                            <div class="shop-btn bin">
                                <a binid="mint-cleansing" class="btn to-shop-btn gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_bin4" binbtngaca="sp_hairrepi_20161001_your-recipe_[store]_4"  binEventLabel="external">
                                    To Shop
                                </a>
                            </div>
                            <p>
                                キウイ エンパワーボリューム レシピ<br />
                                [トリートメント]
                            </p>
                            <div class="shop-btn bin">
                                <a binid="kiwi-treatment" class="btn to-shop-btn gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_bin5" binbtngaca="sp_hairrepi_20161001_your-recipe_[store]_5"  binEventLabel="external">
                                    To Shop
                                </a>
                            </div>
                            <p>
                                キウイ エンパワー ボリューム レシピ<br />
                                スカルプ フィード エッセンス<br />
                                [洗い流さないトリートメント]
                            </p>
                            <div class="shop-btn bin">
                                <a binid="kiwi-scalp" class="btn to-shop-btn gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_bin6" binbtngaca="sp_hairrepi_20161001_your-recipe_[store]_6"  binEventLabel="external">
                                    To Shop
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="C" class="section4">
                    <img src="~/Content/images/sp/reco/5.jpg" />
                    <div class="inner">
                        <div class="desc1">
                            <div class="title">YOUR RECIPE 3</div>
                            <p>
                                しっとり、しなやかなまとまり髪<br />
                                に うるおいプラスでイキイキとし<br />
                                た美しさ
                            </p>
                        </div>

                        <div class="desc2">
                            <div class="product">
                                <div>シャンプー</div>
                                <div>トリート<br />メント</div>
                                <div>洗い流さない<br />トリートメント</div>
                            </div>
                            <p>
                                ハニー アプリコット<br />
                                エンリッチ モイスチャー レシピ<br />
                                ［シャンプー］
                            </p>
                            <div class="shop-btn bin">
                                <a binid="apricot-shampoo-reco" class="btn to-shop-btn gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_bin7" binbtngaca="sp_hairrepi_20161001_your-recipe_[store]_7"  binEventLabel="external">
                                    To Shop
                                </a>
                            </div>
                            <p>
                                ハニー アプリコット<br />
                                エンリッチ モイスチャー<br />
                                [トリートメント]
                            </p>
                            <div class="shop-btn bin">
                                <a binid="apricot-treatment" class="btn to-shop-btn gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_bin8" binbtngaca="sp_hairrepi_20161001_your-recipe_[store]_8"  binEventLabel="external">
                                    To Shop
                                </a>
                            </div>
                            <p>
                                グレープ シード<br />
                                ブースター オイル レシピ<br />
                                [洗い流さないトリートメント]
                            </p>
                            <div class="shop-btn bin">
                                <a binid="booster-grape" class="btn to-shop-btn gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_bin9" binbtngaca="sp_hairrepi_20161001_your-recipe_[store]_9"  binEventLabel="external">
                                    To Shop
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="D" class="section5">
                    <img src="~/Content/images/sp/reco/6.jpg" />
                    <div class="inner">
                        <div class="desc1">
                            <div class="title">YOUR RECIPE 4</div>
                            <p>
                                軽やかに、ふんわり弾む髪に<br />
                                健やかなうるおいもプラス
                            </p>
                        </div>

                        <div class="desc2">
                            <div class="product">
                                <div>シャンプー</div>
                                <div>トリート<br />メント</div>
                                <div>洗い流さない<br />トリートメント</div>
                            </div>
                            <p>
                                キウイ エンパワー ボリューム レシピ<br />
                                ［シャンプー］
                            </p>
                            <div class="shop-btn bin">
                                <a binid="kiwi-shampoo" class="btn to-shop-btn gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_bin10" binbtngaca="sp_hairrepi_20161001_your-recipe_[store]_10"  binEventLabel="external">
                                    To Shop
                                </a>
                            </div>
                            <p>
                                キウイ エンパワー ボリューム レシピ<br />
                                [トリートメント]
                            </p>
                            <div class="shop-btn bin">
                                <a binid="kiwi-treatment" class="btn to-shop-btn gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_bin11" binbtngaca="sp_hairrepi_20161001_your-recipe_[store]_11"  binEventLabel="external">
                                    To Shop
                                </a>
                            </div>
                            <p>
                                サンフラワー シード<br />
                                ブースター オイル レシピ<br />
                                [洗い流さないトリートメント]
                            </p>
                            <div class="shop-btn bin">
                                <a binid="booster-seed" class="btn to-shop-btn gaca-btn" gaca="sp_hairrepi_20161001_your-recipe_bin12" binbtngaca="sp_hairrepi_20161001_your-recipe_[store]_12"  binEventLabel="external">
                                    To Shop
                                </a>
                            </div>                            
                        </div>
                        <div class="desc3">
                            <p>
                                あなた好みのレシピを <br />
                                自分で作ってみて。
                            </p>
                        </div>
                    </div>
                </div>
                @{ 
                    string[,] contents = new string[,]
	                {
                        { "stitch-b", "", "", "" },
	                    {"/diagnosis", "sp_diagnosis-thumbnail.png", "あなたの髪、うるおっている？ジューシー度チェック", "sp_hairrepi_20161001_your-recipe_diagnosis"}

	                };
                    Html.RenderPartial("_FootBannerSp", contents);  
                }
            </div>

        </div>
