@{
    ViewBag.Title = "サイトマップ｜HAIR RECIPE（ヘアレシピ) | P&G";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewBag.Description = "HAIR RECIPE（ヘアレシピ)のサイトマップがご覧いただけます。";
    ViewData["GACAKeyword"] = "sitemap";
}
<link href="~/Content/sp-css/mobile-sitemap.css" rel="stylesheet" />

<div class="contact-banner">
    <img src="~/Content/images/sp/sitemap/1.jpg" />
    <div class="inner"> 
        <h2 class="page-title">SITEMAP</h2>
        
    </div>
</div>
<div class="content">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>

    
    
    <div class="container sitemap-main">        
        <ul>
            <li>
                <a href="/index.html" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_home">HOME</a>
            </li>
            <li>
                <a href="/kodawari/" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_product-stories">PRODUCT STORIES</a>
            </li>
            <li>
                <a href="/product/mint.html" class="gaca-btn long lubalin" gaca="sp_hairrepi_20161001_sitemap_prpduct_mint">Mint Blend Cleansing Recipe</a>
            </li>
            <li>
                <a href="/product/apricot.html" class="gaca-btn long lubalin" gaca="sp_hairrepi_20161001_sitemap_prpduct_apri">Honey Apricot Enrich Moisture Recipe</a>
            </li>
            <li>
                <a href="/product/kiwi.html" class="gaca-btn long lubalin" gaca="sp_hairrepi_20161001_sitemap_prpduct-kiwi">Kiwi Empower Volume Recipe</a>
            </li>
            <li>
                <a href="/product/booster.html" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_prpduct_booster">Booster Oil Recipe</a>
            </li>
            <li>
                <a href="https://www.instagram.com/hairrecipe_official/" target="_blank" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_life-with">LIFE with HAIR RECIPE</a>
            </li>
            <li>
                <a href="/info/" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_news">NEWS</a>
            </li>
            <li>
                <a href="/cm/" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_cm">CM & MOVIE</a>
            </li>
            <li>
                <a href="/reco_recipe/" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_your-resipe">YOUR RECIPE</a>
            </li>
            <li>
                <a href="/diagnosis/" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_juicy-hair-check">JUICY HAIR CHECK</a>
            </li>
            <li>
                <a href="/about/" class="gaca-btn koburina" gaca="sp_hairrepi_20161001_sitemap_what">サイトについて</a>
            </li>
            <li>
                <a href="/faq/" class="gaca-btn koburina" gaca="sp_hairrepi_20161001_sitemap_Q&A">よくあるご質問</a>
            </li>
            <li>
                <a href="http://www.pg.com/privacy/japanese/privacy_notice.shtml" Target=“_blank” class=" gaca-btn koburina" gaca="sp_hairrepi_20161001_sitemap_privacy">プライバシーポリシー</a>
            </li>
            <li>
                <a href="/contact/" class="gaca-btn" gaca="sp_hairrepi_20161001_sitemap_customer" >お問い合わせ</a>
            </li>
        </ul>
    </div>

</div>
