@{
    ViewBag.Title = "サイトマップ | ヘアレシピ";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewBag.Description = "ヘアレシピのサイトマップです。髪に、はじめてのごちそう。ヘアレシピ（HAIR RECIPE）";
    ViewData["GACAKeyword"] = "sitemap";
}
@section customStyles
{
    <link href="~/Content/sp-css/mobile-sitemap.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipejp/sp/sitemap">
}


<div class="contact-banner">
    <img src="~/Content/images/sp/sitemap/1.jpg" />
    <div class="inner"> 
        <h2 class="page-title">SITEMAP</h2>
        
    </div>
</div>
<div class="content">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>

    
    
    <div class="container sitemap-main">        
        <ul>
            <li>
                <a href="/sp" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_home">HOME</a>
            </li>
            <li>
                <a href="/sp/kodawari" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_product-stories">PRODUCT STORIES</a>
            </li>
            <li>
                <a href="/sp/product/mint" class="gaca-btn long lubalin" gaca="sp_hairrepi_20161001_sitemap_prpduct_mint">Mint Blend Cleansing Recipe</a>
            </li>
            <li>
                <a href="/sp/product/apricot" class="gaca-btn long lubalin" gaca="sp_hairrepi_20161001_sitemap_prpduct_apri">Honey Apricot Enrich Moisture Recipe</a>
            </li>
            <li>
                <a href="/sp/product/kiwi" class="gaca-btn long lubalin" gaca="sp_hairrepi_20161001_sitemap_prpduct-kiwi">Kiwi Empower Volume Recipe</a>
            </li>
            <li>
                <a href="/sp/product/booster" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_prpduct_booster">Booster Oil Recipe</a>
            </li>
            <li>
                <a href="https://www.instagram.com/hairrecipe_official" target="_blank" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_life-with">LIFE with HAIR RECIPE</a>
            </li>
            <li>
                <a href="/sp/info" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_news">NEWS</a>
            </li>
            <li>
                <a href="/sp/cm" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_cm">CM & MOVIE</a>
            </li>
            <li>
                <a href="/sp/reco_recipe" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_your-resipe">YOUR RECIPE</a>
            </li>
            <li>
                <a href="/sp/diagnosis" class="gaca-btn lubalin" gaca="sp_hairrepi_20161001_sitemap_juicy-hair-check">JUICY HAIR CHECK</a>
            </li>
            <li>
                <a href="/sp/about" class="gaca-btn koburina" gaca="sp_hairrepi_20161001_sitemap_what">サイトについて</a>
            </li>
            <li>
                <a href="/sp/faq" class="gaca-btn koburina" gaca="sp_hairrepi_20161001_sitemap_Q&A">よくあるご質問</a>
            </li>
            <li>
                <a href="http://www.pg.com/privacy/japanese/privacy_notice.shtml" Target=“_blank” class=" gaca-btn koburina" gaca="sp_hairrepi_20161001_sitemap_privacy">プライバシーポリシー</a>
            </li>
            <li>
                <a href="/sp/contact" class="gaca-btn" gaca="sp_hairrepi_20161001_sitemap_customer">お問い合わせ</a>
            </li>
        </ul>
    </div>

</div>
