@model hairrecipe.data.Entities.Diagnosis.Diagnosis
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section customStyles
{
    <link href="~/Content/pc-css/diagnosis.css" rel="stylesheet" />
}


@*<p>@ViewBag.question</p>*@
@{

    <div id="Details" class="diagnosis">
        @Html.Partial(Model.QuestionsPartial)
    </div>

}

