@model hairrecipe.data.Entities.Diagnosis.Diagnosis
@{
    bool uri = Request.Url.AbsolutePath.Contains("result");
    string fbMetaTitle;
    string fbType;
    string fbUrl;
    string fbImage;
    
    switch(uri) {
            
        case true:
            fbMetaTitle = "あなたの髪、うるおっている？髪のジューシー度をチェックすると結果に応じて、あなたの髪にピッタリな“レシピ”を提案！今すぐチェック！";
            fbType = "article";
            fbUrl = Request.Url.AbsoluteUri + "/";
            fbImage = Request.Url.Scheme + "://" + Request.Url.Authority + "/" + "content/images/sp/diagnosis/results/OGP_diagnosis.png";
        break;

        case false:
            fbMetaTitle = "";
            fbType = "";
            fbUrl = "";
            fbImage = "";
        break;
        
        default:
            fbMetaTitle = "";
            fbType = "";
            fbUrl = "";
            fbImage = "";
        break;
    }
    
}
@{
    ViewBag.Title = "髪に潤いを。ヘアジューシー度チェック| ヘアレシピ";
    ViewBag.Description = "あなたの髪はうるおっていますか？髪のジューシー度をチェックして、あなたにピッタリなシャンプー、トリートメント、オイルの組み合わせをヘアレシピが提案します。";
    ViewBag.fbTitle = fbMetaTitle;
    ViewBag.fbType = fbType;
    ViewBag.fbUrl = fbUrl;
    ViewBag.fbImage = fbImage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section customStyles
{
    <link href="~/Content/pc-css/diagnosis.css" rel="stylesheet" />

    @{
        string AbsoluteURL = HttpContext.Current.Request.Url.AbsolutePath.ToString();
        AbsoluteURL = AbsoluteURL.Replace("diagnosis", "").Replace("//","");
        AbsoluteURL = (AbsoluteURL.Length <= 0)? "index" : AbsoluteURL;
    }

    <link rel="canonical" href="http://hairrecipe.jp/diagnosis/@(AbsoluteURL)/">
    <link rel="alternate" media="handheld" href="http://hairrecipe.jp/sp/diagnosis/@(AbsoluteURL)/">
}


@*<p>@ViewBag.question</p>*@
@{

    <div id="Details" class="diagnosis">
        @Html.Partial(Model.QuestionsPartial)
    </div>
    ViewData["GACAKeyword"] = Session["diagnosisKeyword"];
    Session["diagnosisKeyword"] = null;

}

@section scripts
{
    <script type="text/javascript" />
    isohub.GACA.DiagnosisAlterElement();
    </script>
}

