@{
    ViewBag.Title = "q1 - abcd";   
    Session["diagnosisKeyword"] = "diagnosis-q1";
}

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />
@Html.Hidden("pageKey", Session["diagnosisKeyword"])
<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 1</div>
        <h1 class ="question">あなたの髪の悩みは？</h1>      
        <div class="choices">
            <a href="/sp/diagnosis/q2/a" class="box">
                <div>
                    <span class="title">A</span><br>
                    <p>地肌と髪が<br />ベタつきやすい</p>
                </div>
            </a>
            <a href="/sp/diagnosis/q2/a" class="box">
                <div>
                    <span class="title">B</span><br>
                    <p>ダメージによる<br />パサつき</p>
                </div>
            </a>
            <a href="/sp/diagnosis/q2/b" class="box">
                <div>
                    <span class="title">C</span><br>
                    <p>ハリ・コシがなく<br />ボリュームが出ない</p>
                </div>
            </a>
            <a href="/sp/diagnosis/q2/b" class="box">
                <div>
                    <span class="title">D</span><br>
                    <p>うねりが生じ<br />広がる</p>
                </div>
            </a>
        </div>

        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step1.png" />
            <div class="desc"><a href="/sp/diagnosis">< ひとつ前にもどる</a></div>
        </div>
    </div>
    
    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>