@{
    ViewBag.Title = "q1 - abcd";
}

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />

<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 1</div>
        <div class="question">あなたの髪の悩みは？</div>        
        <div class="choices">
            <a href="/sp/diagnosis/q2/a" class="box">
                <span class="title">A</span><br>
                <p>地肌と髪が<br />ベタつきやすい</p>
            </a>
            <a href="/sp/diagnosis/q2/a" class="box">
                <span class="title">B</span><br>
                <p>ダメージによる<br />パサつき</p>
            </a>
            <a href="/sp/diagnosis/q2/b" class="box">
                <span class="title">C</span><br>
                <p>ハリ・コシがなく<br />ボリュームが出ない</p>
            </a>
            <a href="/sp/diagnosis/q2/b" class="box">
                <span class="title">D</span><br>
                <p>うねりが生じ<br />広がる</p>
            </a>
        </div>
        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step1.png" />
            <div class="desc"><ひとつ前にもどる</div>
        </div>
    </div>
    
    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>