<script type="text/html" id="read_review_template">
    <% _.each(Results, function(Review) { %>

    <% console.log(Review); %>

    <%
    var authorName = "Anonymous";
    if(Review.UserNickname) {
    authorName = Review.UserNickname;
    }

    var IsRecommended = "";
    if(Review.IsRecommended == true) {
    IsRecommended = "はい";
    }else if (Review.IsRecommended == false){
    IsRecommended = "いいえ";
    }else if (Review.IsRecommended == null){
    IsRecommended = "null"
    }
    %>

    <li class="review">

        <div class="author pull-left">
            <span><%= authorName %> さん</span>
        </div>

        <div class="submission-time pull-right"><%=formatDate(Review.SubmissionTime)%></div>

        <div class="separator"></div>


        <div class="rating-score  pull-left"  >
            <div class="subReview">
                <% if(Review.Rating){%>
                <div class="rating-box overall">
                    <div class="label pull-left">総合</div>
                    <div class="rating">
                        <span class="ratingHighlight" style="width:<%=100*(Review.Rating/5)%>%"></span>
                    </div>
                </div>
                <div class="separator"></div>
                <% } %>
                <% if(Review.SecondaryRatings.Satisfaction){%>
                <div class="rating-box satisfaction">
                    <div class="label pull-left">満足度</div>
                    <div class="rating">
                        <span class="ratingHighlight" style="width:<%=100*(Review.SecondaryRatings.Satisfaction.Value/5)%>%"></span>
                    </div>
                </div>
                <div class="separator"></div>
                <% } %>
                <% if(Review.SecondaryRatings.Recommendation){%>
                <div class="rating-box recommendation">
                    <div class="label pull-left">おススメ度 </div>
                    <div class="rating">
                        <span class="ratingHighlight" style="width:<%=100*(Review.SecondaryRatings.Recommendation.Value/5)%>%"></span>
                    </div>
                </div>
                <div class="separator"></div>
                <% } %>
                <% if(Review.SecondaryRatings.Fragrance){%>
                <div class="rating-box fragrance">
                    <div class="label pull-left">香り </div>
                    <div class="rating">
                        <span class="ratingHighlight" style="width: <%=100*(Review.SecondaryRatings.Fragrance.Value/5)%>%"></span>
                    </div>
                </div>
                <% } %>

            </div>
        </div>
        <div class="reviewtext pull-right">

            <div class="title">
                <span><%=truncate(Review.Title, 200)%></span>
            </div>
            <p> <%=truncate(Review.ReviewText, 200)%> </p>
        </div>
        <div class="separator"></div>
    </li>
    <% }); %>
</script>


<script type="text/html" id="overall_rating_template">
    <% var averageRating = Results[0].ProductStatistics.NativeReviewStatistics.AverageOverallRating;  %>
    <span class="rating"><span class="ratingHighlight" style="width:<%=100*(averageRating/5)%>%"></span></span>
</script>

<script type="text/html" id="rnrr_template_empty">
    <div>There are no reviews for this product.</div>
</script>
<div class="modal fade" id="rnrr_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="modal-header-image"></div>

                <div class="modal-title-group">
                    <h4 class="modal-title productName" id="myModalLabel">ミントブレンド クレンジング レシピ ［ クレンジングシャンプー ］</h4>
                    <div id="averagerating" class="bvOverallRating"></div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="/Content/images/pc/common/modalClose.png" /></span>
                </button>

            </div>

            <div class="modal-body">
                <div class="frame">
                    <div class="innerframe">
                        <ul id="reviews" class="review-page"></ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
