@model hairrecipe.data.Entities.BUYITNOW.BIN

@{
    string classStoreCtr = string.Empty;
    if (Model.Stores != null)
    {
        classStoreCtr =  (Model.Stores.Count > 1)? "multi" : "solo";
    }
}

<div class="bin-PopUp @classStoreCtr">
@if (Model != null && Model.Stores != null && Model.Stores.Count > 0)
{
    <ul >

        @for (int ctr = 0; ctr <= Model.Stores.ToArray().Length - 1; ctr++) 
        {
            <li><a href="@Model.Stores.ElementAt(ctr).URL" store="@Model.Stores.ElementAt(ctr).StoreKeyword" target="_blank" class="bin-links" ><img src="~/Content/images/bins/@(Model.Stores.ElementAt(ctr).StoreKeyword).jpg" alt="@Model.Stores.ElementAt(ctr).StoreName" /></a></li>
        }
    </ul>
}
else
{
        <span class="null">NO STORES</span>
    }
</div>