<div class="main-diagnosis">
    <img src="~/Content/images/pc/diagnosis/1.jpg" />
    <div class="content-diagnosis">
        <div class="question">あなたの髪、うるおっている？</div>
        <h1>ジューシー度チェック</h1>
        <div class="desc">結果に応じて、あなたの髪にピッタリな“レシピ”を提案！</div>
        <a href="/diagnosis/q1/abcd/" class="generic-btn">Start</a>
    </div>    
</div>
