@*pending meta*@

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />

<div class="diagnosis-main">
    <div class="page-title">
        <div class="text1">あなたの髪、うるおっている？</div>
        <div class="text2">ジューシー度<br />チェック</div>
        <div class="text3">結果に応じて、あなたの髪に<br />ピッタリな“レシピ”を提案！</div>
        <div class="shop-btn">
            <a href="#" class="btn generic-btn">
                START
            </a>
        </div>
    </div>
    <img src="~/Content/images/sp/diagnosis/1.jpg" />

</div>