
<div class="footer-banner @Model" >
    <img src="~/Content/images/sp/sp_diagnosis-thumbnail.png" alt="あなたの髪、うるおっている？ジューシー度チェック" />
    <img src="~/Content/images/sp/sp_reco-recipe-thumbnail.png" alt="YOUR RECIPE なりたい髪を選んで" />
</div>