
<div class="footer-banner @Model" >
    <a href="/diagnosis">
        <img class="lazy" data-original="/Content/images/sp/sp_diagnosis-thumbnail.png" alt="あなたの髪、うるおっている？ジューシー度チェック" />
    </a>
    <a href="/reco_recipe/">
        <img class="lazy" data-original="/Content/images/sp/sp_reco-recipe-thumbnail.png" alt="YOUR RECIPE なりたい髪を選んで" />
    </a>
</div>