<footer>
    <div class="wrap">
        <section class="specialInfo">
            <span>SPECIAL INFO.</span>
            <img src="~/Content/images/pc/specialInfo.png" alt="" />
            <ul>
                <li class="first">    
                    <img src="~/Content/images/pc/footer-special-amazon.png" alt="" />
                    <a class="generic-btn shop">To Shop</a>                    
                </li>
                <li>
                    <img src="~/Content/images/pc/footer-special-lohaco.png" alt="" />
                    <a class="generic-btn shop">To Shop</a>
                </li>
            </ul>
        </section>
        <section class="sitemap">
            <ul>
                <li class="column first" >
                    <div>
                        <a class="site-logo"><img src="~/Content/images/pc/hr-logo.png" alt="hair recipe" /></a>
                    </div>
                    <ul>
                        <li><a href="#" class="tw"><img src="~/Content/images/pc/tw.png" alt="" /></a></li>
                        <li><a href="#" class="fb"><img src="~/Content/images/pc/fb.png" alt="" /></a></li>                            
                    </ul>
                </li>
                <li class="column">
                    <ul>
                        <li><a href="/index.html">HOME</a></li>
                        <li><a href="/kodawari/">PRODUCT STORIES</a></li>
                        <li><a href="https://www.instagram.com/hairrecipe_official/" target="_blank">LIFE with HAIR RECIPE</a></li>
                        <li><a href="/info/">NEWS</a></li>
                    </ul>
                </li>
                <li class="column">
                    <ul>
                        <li><a href="/cm/">CM & MOVIE</a></li>
                        <li><a href="/reco_recipe/">YOUR RECIPE</a></li>
                        <li><a href="/deiagnosis/">JUICY HAIR CHECK</a></li>
                    </ul>
                </li>
                <li class="column">
                    <ul>
                        <li><a href="/product/mint.html">Mint Blend Cleansing Recipe</a></li>
                        <li><a href="/product/apricot.html">Honey Apricot Enrich Moisture Recipe</a></li>
                        <li><a href="/product/kiwi.html">Kiwi Empower Volume Recipe </a></li>
                        <li><a href="/product/booster.html">Booster Oil Treatment </a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="base">
            <span>&copy; 2016 P&G. ALL RIGHTS RESERVED.</span>
            <ul>
                <li><a href="/about/index.html">サイトについて</a></li>
                <li><a href="/sitemap/index.html">サイトマップ</a></li>
                <li><a href="/faq/index.html">よくあるご質問</a></li>
                <li><a href="http://www.pg.com/privacy/japanese/privacy_notice.shtml" target="_blank">プライバシーポリシー</a></li>
                <li><a href="/contact/index.html">お問い合わせ</a></li>
            </ul>
        </section>
    </div>
</footer>