
<div class="footer-banner">
    <ul>
        <li>
            <span>JUICY HAIR CHECK</span>
            <img src="/Content/images/pc/spoon.png" alt="" />
            <a href="/diagnosis/" class="gaca-btn" gaca="@("pc_hairrepi_20161001_product-" + Model + "_diagnosis")"><img src="/Content/images/pc/diagnosis.png" alt="あなたの髪、うるおっている？ジューシー度チェック" /></a>
        </li>
        <li>
            <span>YOUR RECIPE</span>
            <img src="/Content/images/pc/spoon.png" alt="" />
            <a href="/reco_recipe/" class="gaca-btn" gaca="@("pc_hairrepi_20161001_product-" + Model + "_your-recipe")"><img src="/Content/images/pc/recipe.png" alt="YOUR RECIPE なりたい髪を選んで" /></a>
        </li>
    </ul>

</div>