<!-- 
    Format for the array parameter

    format
        { "string", "null", "null" }, <-- dedicated for the background
	    {"link;string", "path;string", "alt;string"}
    sample 
        { "wood-class", "", "" },
	    {"/reco_recipe", "sp_reco-recipe-thumbnail.png", "YOUR RECIPE なりたい髪を選んで"},
-->
<div class="footer-banner @Model[0, 0] ">
    @for (int i = 1; i < (Model.Length / 4); i++)
    {
        string link = Model[i, 0];
        string img = Model[i, 1];
        string alt = Model[i, 2];
        string gaca = Model[i, 3];
        <a href="@("/sp" + link)" class="gaca-btn" gaca="@gaca">
            <img class="lazy" data-original="/Content/images/sp/@img" alt="@alt" />
        </a>
    }
</div>