@model hairrecipe.data.Entities.Home.HomeProducts
@{
    string uri = Request.Url.AbsolutePath;
        }

<div class="product-item">
    <p class="product-name">@Html.Raw(Model.ProductName)</p> 
    <img data-original="/Content/images/sp/home/@Model.ProductImage" class="product-thumbnail lazy"/>
    <p class="product-intro-text">@Model.ProductIntroText1<br />@Model.ProductIntroText2</p>
    <div class="bin">
        <a href="javascript:void(0);" sku="common" class="btn to-shop-btn">To Shop</a>
    </div>
</div>
