@model hairrecipe.Models.InfoViewModel
<div class="@Model.InfoClass info-content">
    <img class="lazy" src="~/Content/images/sp/info/@Model.InfoImage" />
    <span class="news-title">@Model.InfoTitle</span>
    <span class="news-date">@Model.InfoDate</span>;
    <p>@Model.InfoNews</p>
</div>
