<header class="container-hairrecipe">
    <nav>
        <a class="site-logo"><img src="~/Content/images/pc/hr-logo.png" alt="hair recipe" /></a>
        <ul class="anchors">
            <li class="underlined"><a href="/">HOME</a></li>
            <li class="underlined"><a href="/kodawari/">PRODUCT STORIES</a></li>
            <li class="underlined  product pop">
                <a href="/#products">PRODUCTS</a>
                <div class="holder">
                    <div class="sub container-hairrecipe">
                        <ul>
                            <li>
                                <a href="/product/mint/">
                                    <img src="~/Content/images/pc/sub-header-mint.png" alt="" />
                                    <span>Mint Blend Cleansing Recipe</span>
                                </a>
                            </li>
                            <li>
                                <a href="/product/apricot/">
                                    <img src="~/Content/images/pc/sub-header-apricot.png" alt="" />
                                    <span>Honey Apricot Enrich Moisture</span>
                                </a>
                            </li>
                            <li>
                                <a href="/product/kiwi/">
                                    <img src="~/Content/images/pc/sub-header-kiwi.png" alt="" />
                                    <span>Kiwi Empower Volume Recipe</span>
                                </a>
                            </li>
                            <li>
                                <a href="/product/booster/">
                                    <img src="~/Content/images/pc/sub-header-booster.png" alt="" />
                                    <span>Booster Oil Recipe </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="underlined"><a href="https://www.instagram.com/hairrecipe_official/" target="_blank">LIFE with HAIR RECIPE</a></li>
            <li class="underlined"><a href="/info/">NEWS</a></li>
            <li class="underlined"><a href="/cm/">CM & MOVIE</a></li>
            <li><a href="#" class="tw twitter-share"><img src="~/Content/images/pc/tw.png" alt="" /></a></li>
            <li><a href="#" class="fb facebook-share"><img src="~/Content/images/pc/fb.png" alt="" /></a></li>
        </ul>
    </nav>
</header>