<div class="navmenu navmenu-default navmenu-fixed-right offcanvas">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" style="float:left;">
        <img src="~/Content/images/sp/navigation/sp_menu-arrow-left.png" />
    </button>
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <img src="~/Content/images/sp/navigation/sp_menu-close.png" />
    </button>
    <ul class="nav navmenu-nav">
        <li><a href="/index">Home</a></li>
        <li><a href="/index">Product Stories</a></li>
        <li><a href="/product">Products</a></li>    
        <li><a href="#">Life with Hair Recipe</a></li>
        <li><a href="#">News</a></li>
        <li><a href="/cm">CM &amp; Movie</a></li>
        <li><a href="#">Your Recipe</a></li>
    </ul>
    <ul class="nav navmenu-nav second-nav">
        <li><a href="#">ジューシー度チェック</a></li>
        <li><a href="#">サイトについて</a></li>
        <li><a href="#">よくあるご質問</a></li>    
        <li><a href="#">プライバシーポリシー</a></li>
        <li><a href="#">お問い合わせ</a></li>
    </ul>
    <ul class="footer-social">
        <li>
            <a href="#">
                <img src="~/Content/images/sp/sp_footer-social-tw.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/images/sp/sp_footer-social-fb.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/images/sp/sp_footer-social-line.png" />
            </a>
        </li>
    </ul>
</div>
<div class="navbar navbar-default navbar-fixed-top">
    <a class="navmenu-brand" href="/">
        <img src="~/Content/images/sp/sp_logo.png" />
    </a>
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <img src="~/Content/images/sp/navigation/sp_hamburger.png" />
    </button>
</div>