<div class="social-container">
    <a href="javascript:void(0);" class="twitter-share"><img src="~/Content/images/pc/result/result-sb-twitter.jpg" class="" alt="twitter" /></a>
    <a href="javascript:void(0);" class="facebook-share"><img src="~/Content/images/pc/result/result-sb-fb.jpg" class="" alt="facebook" /></a>
</div>    