@model hairrecipe.Models.ProductListingViewModel
<div class="product-item">
    <h1>@Model.ProductName</h1> 
    <img src="/Content/images/sp/@Model.ProductImage" class="product-thumbnail"/>
    <p class="product-intro-text">@Model.ProductIntroText1<br />@Model.ProductIntroText2</p>
    <a href="@Model.ProductLink" class="btn to-shop-btn">To Shop</a>
</div>
        