@model hairrecipe.Models.ProductListingViewModel
<div class="product-item" style="margin: 0 auto; text-align:center">
    <h1>@Model.ProductName</h1> 
    <img src="@Model.ProductImage" class="img-responsive"/>
    <p style="margin:10px 10px">@Model.ProductIntroText</p>
    <a href="#" class="btn btn-default">To Shop</a>
</div>
        