<div class="product-lineup-container">
    <div class="lineup-1">
        <div class="copy">
            <p class="heading">HAIR RECIPE LINEUP</p>
            <p>
                つやとうるおいの<br />
                アプリコットハニー
            </p>
        </div>
        <a href="/sp/product/apricot" class="btn generic-btn gaca-btn" gaca="sp_hairrepi_20161001_prpduct-stories_bin1">ハニー アプリコット エンリッチ<br />モイスチャー レシピ</a>
    </div>
    <div class="lineup-2">
        <div class="copy">
            <p class="heading">HAIR RECIPE LINEUP</p>
            <p>
                ふんわりうるおいの<br />
                キウイいちじく
            </p>
        </div>
        <a href="/sp/product/kiwi" class="btn generic-btn gaca-btn" gaca="sp_hairrepi_20161001_prpduct-stories_bin2">キウイ エンパワー<br />ボリューム レシピ</a>
    </div>
    <div class="lineup-3">
        <div class="copy">
            <p class="heading">HAIR RECIPE LINEUP</p>
            <p>
                地肌クレンジングのいちごミント
            </p>
        </div>
        <a href="/sp/product/mint" class="btn generic-btn gaca-btn" gaca="sp_hairrepi_20161001_prpduct-stories_bin3">ミントブレンド<br />クレンジング レシピ</a>
    </div>
    <div class="lineup-4">
        <div class="copy">
            <p class="heading">HAIR RECIPE LINEUP</p>
            <p>
                うるおいアップのグレープシード<br />
                ブースター オイル<br />
                つやアップのサンフラワーシード<br />
                ブースター オイル 
            </p>
            <p class="second-copy">トリートメントとまぜて効果アップ！<br />
                洗い流さないトリートメントとしても使える！
            </p>
        </div>
        <a href="/sp/product/booster" class="btn generic-btn gaca-btn" gaca="sp_hairrepi_20161001_prpduct-stories_bin4">ブースター オイル レシピ</a>
    </div>
    <div class="lineup-5">
        <div class="copy">
            <p class="heading">HAIR RECIPE LINEUP</p>
            <p>たっぷりうるおいの<br />アップルジンジャー </p>
        </div>
        <a href="/sp/product/apple-ginger.html" class="btn generic-btn gaca-btn" gaca="sp_hairrepi_20161022_product_stories_apple_recipe">アップル ジンジャー<br />濃密保湿あたたかレシピ</a>
    </div>
</div>