<p><em>Questionnaire template 2</em></p>
@{
    
    string caseSwitch = ViewContext.RouteData.Values["page"].ToString();
    switch (caseSwitch)
    {
        case "a.html":
            <p>Questionnaire A</p>
            break;
        case "b.html":
            <p>Questionnaire B</p>
            break;
        case "c.html":
        <p>Questionnaire C</p>
            break;
        default:
            Console.WriteLine("Default case");
            break;
    }
        
}