<div class="slide-content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/images/pc/homepage/pc-home_slide1.jpg" alt="そのレシピは、美となり髪となる。あなたが食べたものから、あなたはできている。このシンプルで普遍的な考えから。ヘアレシピは誕生しました。">
                <a href="/kodawari/" class="btn prod-stories-btn ">PRODUCT STORIES</a>
                <div class="bin">
                    <a href="javascript:void(0);" class="btn to-shop-btn generic-btn shop home-shop gaca-btn" sku="common" bineventlabel="external" binbtngaca="pc_hairrepi_20161001_top_kv_[store]" gaca="pc_hairrepi_20161001_top_kv_mbin">To Shop</a>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/images/pc/homepage/pc-home_slide2.jpg" alt="一つひとつの素材以上に、レシピこそが重要であるということ。">
                <a href="/product/booster.html" class="btn prod-stories-btn ">PRODUCT STORIES</a>
                <div class="bin">
                    <a href="javascript:void(0);" class="btn to-shop-btn generic-btn shop home-shop gaca-btn" sku="common" bineventlabel="external" binbtngaca="pc_hairrepi_20161001_top_kv_[store]" gaca="pc_hairrepi_20161001_top_kv_mbin">To Shop</a>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/images/pc/homepage/pc-home_slide3.jpg" alt="健康とは、おいしくて楽しいものであるべきということ。">
                <a href="/product/booster.html" class="btn prod-stories-btn ">PRODUCT STORIES</a>
                <div class="bin">
                    <a href="javascript:void(0);" class="btn to-shop-btn generic-btn shop home-shop gaca-btn" sku="common" bineventlabel="external" binbtngaca="pc_hairrepi_20161001_top_kv_[store]" gaca="pc_hairrepi_20161001_top_kv_mbin">To Shop</a>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/images/pc/homepage/pc-home_slide4.jpg" alt="髪や地肌に与えるものは、食べるものと同じくらい大切であること。">
                <a href="/product/booster.html" class="btn prod-stories-btn ">PRODUCT STORIES</a>
                <div class="bin">
                    <a href="javascript:void(0);" class="btn to-shop-btn generic-btn shop home-shop gaca-btn" sku="common" bineventlabel="external" binbtngaca="pc_hairrepi_20161001_top_kv_[store]" gaca="pc_hairrepi_20161001_top_kv_mbin">To Shop</a>
                </div>
            </div>
            
        </div>

        <!-- Left and right controls -->
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active">1</li>
                <li data-target="#myCarousel" data-slide-to="1">2</li>
                <li data-target="#myCarousel" data-slide-to="2">3</li>
                <li data-target="#myCarousel" data-slide-to="3">4</li>
            </ol>
            <span class="base-indicator">/ 4</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>