<div class="slide-content">
    <div class="carousel slide" data-ride="carousel" id="myCarousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h1>
                    <img alt="ヘアレシピ
ナチュラル ビューティー
キャンプ 2016 in Hawaii
ハワイにてメディアで注目を集める旬な女の子たちに向けたビューティーイベントを開催しました。" src="~/Content/images/pc/homepage/pc-home_slide1c.jpg">
                </h1><a class="btn prod-stories-btn check"
                        href="/hawaii" onclick="typeof _gaq != 'undefined' && _gaq.push(['_trackEvent', 'link', 'internal', 'pc_hairrepi_20161031_top_hawaii'])">CHECK</a>
                @*<div class="bin">
                    <a href="javascript:void(0);" binid="appleginger-treatment" class="btn generic-btn shop gaca-btn to-shop-btn" binbtngaca="[platform]_hairrepi_20161022_top_apple_bin_[store]_1" gaca="[platform]_hairrepi_20161001_top_mbin_1" bineventlabel="external">To Shop</a>
                </div>*@
            </div>

            <div class="item">
                <h1>
                    <img alt="楽天総合ランキング第1位*
アップルジンジャー、
今年も入荷しました。
冬だけの濃密保湿あたたかレシピ、
旬の味わいをどうぞ。
*リアルタイムランキング（2016年10月17日 15：57更新）" src="~/Content/images/pc/homepage/pc-home_slide1b.jpg">
                </h1>
                <a class="btn prod-stories-btn custom-apple-ginger-btn"
                        href="/kodawari" onclick="typeof _gaq != 'undefined' && _gaq.push(['_trackEvent', 'link', 'internal', 'pc_hairrepi_20161022_top_apple_product_stories'])">PRODUCT STORIES</a>
                <div class="bin custom-apple-ginger-btn">
                    <a href="http://item.rakuten.co.jp/rakuten24/e472229h?l-id=sol_bty_hairrecipe_PC_5" binid="appleginger-treatment" class="" onclick="typeof _gaq != 'undefined' && _gaq.push(['_trackEvent', 'link', 'external', 'pc_hairrepi_20161114_top_rakuten_1'])" target="_blank">
                        <img alt="" src="~/Content/images/pc/homepage/btn-rakuten-shop-now.jpg">
                    </a>
                </div>
                
                
            </div>
            <div class="item">
                <img alt="そのレシピは髪に、ごちそう。直入れレシピ。ヘアケアは、髪と地肌が直接取りこむものだから。こだわりのレシピで、ジューシーヘアに仕上げて。"
                     src="~/Content/images/pc/homepage/pc-home_slide1a.jpg">
                <div class="bin">
                    <a class="btn to-shop-btn generic-btn shop home-shop gaca-btn"
                       href="javascript:void(0);">To Shop</a>
                </div>
            </div>
            <div class="item">

                    <img alt="そのレシピは、美となり髪となる。あなたが食べたものから、あなたはできている。このシンプルで普遍的な考えから。ヘアレシピは誕生しました。"
                         src="~/Content/images/pc/homepage/pc-home_slide1.jpg">
                <a class="btn prod-stories-btn"
                        href="/kodawari">PRODUCT STORIES</a>
                <div class="bin">
                    <a class="btn to-shop-btn generic-btn shop home-shop gaca-btn"
                       href="javascript:void(0);">To Shop</a>
                </div>
            </div>
            <div class="item">
                <img alt="一つひとつの素材以上に、レシピこそが重要であるということ。" src="~/Content/images/pc/homepage/pc-home_slide2.jpg">
                <a class="btn prod-stories-btn" href="/product/booster">PRODUCT STORIES</a>
                <div class="bin">
                    <a class="btn to-shop-btn generic-btn shop home-shop gaca-btn"
                       href="javascript:void(0);">To Shop</a>
                </div>
            </div>
            <div class="item">
                <img alt="健康とは、おいしくて楽しいものであるべきということ。" src="~/Content/images/pc/homepage/pc-home_slide3.jpg">
                <a class="btn prod-stories-btn" href="/product/booster">PRODUCT STORIES</a>
                <div class="bin">
                    <a class="btn to-shop-btn generic-btn shop home-shop gaca-btn"
                       href="javascript:void(0);">To Shop</a>
                </div>
            </div>
            <div class="item">
                <img alt="髪や地肌に与えるものは、食べるものと同じくらい大切であること。" src="~/Content/images/pc/homepage/pc-home_slide4.jpg">
                <a class="btn prod-stories-btn" href="/product/booster">PRODUCT STORIES</a>
                <div class="bin">
                    <a class="btn to-shop-btn generic-btn shop home-shop gaca-btn"
                       href="javascript:void(0);">To Shop</a>
                </div>
            </div>
        </div><!-- Left and right controls -->
        <a class="right carousel-control" data-slide="next" href="#myCarousel" role="button">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#myCarousel">1</li>
                <li data-slide-to="1" data-target="#myCarousel">2</li>
                <li data-slide-to="2" data-target="#myCarousel">3</li>
                <li data-slide-to="3" data-target="#myCarousel">4</li>
                <li data-slide-to="4" data-target="#myCarousel">5</li>
                <li data-slide-to="5" data-target="#myCarousel">6</li>
                <li data-slide-to="6" data-target="#myCarousel">7</li>
            </ol><span class="base-indicator">/ 7</span> <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span> <span class="sr-only">Next</span>
        </a>
    </div>
</div>