<div class="slide-content">
    <div class="carousel slide" data-ride="carousel" id="myCarousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h1>
                    <img alt="アップル ジンジャー、今年も入荷しました。冬だけの濃密保湿あたたかレシピ、旬の味わいをどうぞ。" src="~/Content/images/pc/homepage/pc-home_slide1b.jpg">
                </h1><a class="btn prod-stories-btn"
                        href="/kodawari/" onlick="typeof _gaq != 'undefined' && _gaq.push(['_trackEvent', 'link', 'internal', 'pc_hairrepi_20161022_top_apple_product_stories'])">PRODUCT STORIES</a>
                <div class="bin">
                    @*<a class="btn to-shop-btn generic-btn shop home-shop gaca-btn"
                       href="http://event.rakuten.co.jp/beauty/campaign/hairrecipe/?scid=we_ich_adsol_590_cl02"
                       target="_blank">To Shop</a>*@
                    <a href="javascript:void(0);" binid="common" class="btn generic-btn shop gaca-btn to-shop-btn" binbtngaca="[platform]_hairrepi_20161022_top_apple_bin_[store]_1" gaca="[platform]_hairrepi_20161001_top_mbin_1" bineventlabel="external">To Shop</a>
                </div>
            </div>
            <div class="item">
                <img alt="そのレシピは髪に、ごちそう。直入れレシピ。ヘアケアは、髪と地肌が直接取りこむものだから。こだわりのレシピで、ジューシーヘアに仕上げて。"
                     src="~/Content/images/pc/homepage/pc-home_slide1a.jpg">
                <div class="bin">
                    <a class="btn to-shop-btn generic-btn shop home-shop gaca-btn"
                       href="javascript:void(0);">To Shop</a>
                </div>
            </div>
            <div class="item">

                    <img alt="そのレシピは、美となり髪となる。あなたが食べたものから、あなたはできている。このシンプルで普遍的な考えから。ヘアレシピは誕生しました。"
                         src="~/Content/images/pc/homepage/pc-home_slide1.jpg">
                <a class="btn prod-stories-btn"
                        href="/kodawari/">PRODUCT STORIES</a>
                <div class="bin">
                    <a class="btn to-shop-btn generic-btn shop home-shop gaca-btn"
                       href="javascript:void(0);">To Shop</a>
                </div>
            </div>
            <div class="item">
                <img alt="一つひとつの素材以上に、レシピこそが重要であるということ。" src="~/Content/images/pc/homepage/pc-home_slide2.jpg">
                <a class="btn prod-stories-btn" href="/product/booster.html">PRODUCT STORIES</a>
                <div class="bin">
                    <a class="btn to-shop-btn generic-btn shop home-shop gaca-btn"
                       href="javascript:void(0);">To Shop</a>
                </div>
            </div>
            <div class="item">
                <img alt="健康とは、おいしくて楽しいものであるべきということ。" src="~/Content/images/pc/homepage/pc-home_slide3.jpg">
                <a class="btn prod-stories-btn" href="/product/booster.html">PRODUCT STORIES</a>
                <div class="bin">
                    <a class="btn to-shop-btn generic-btn shop home-shop gaca-btn"
                       href="javascript:void(0);">To Shop</a>
                </div>
            </div>
            <div class="item">
                <img alt="髪や地肌に与えるものは、食べるものと同じくらい大切であること。" src="~/Content/images/pc/homepage/pc-home_slide4.jpg">
                <a class="btn prod-stories-btn" href="/product/booster.html">PRODUCT STORIES</a>
                <div class="bin">
                    <a class="btn to-shop-btn generic-btn shop home-shop gaca-btn"
                       href="javascript:void(0);">To Shop</a>
                </div>
            </div>
        </div><!-- Left and right controls -->
        <a class="right carousel-control" data-slide="next" href="#myCarousel" role="button">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#myCarousel">1</li>
                <li data-slide-to="1" data-target="#myCarousel">2</li>
                <li data-slide-to="2" data-target="#myCarousel">3</li>
                <li data-slide-to="3" data-target="#myCarousel">4</li>
                <li data-slide-to="4" data-target="#myCarousel">5</li>
                <li data-slide-to="5" data-target="#myCarousel">6</li>
            </ol><span class="base-indicator">/ 6</span> <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span> <span class="sr-only">Next</span>
        </a>
    </div>
</div>