<div class="slide-content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="img-responsive" src="~/Content/images/sp/slider/sp_slider-philosophy-cynthia.jpg" alt="髪に、ごちそう。直入れレシピ。ヘアケアは、髪と地肌が直接取りこむものだから。こだわりのレシピで、ジューシーヘアに仕上げて。" />
            <div class="slide-text-content top">
                <p class="slide-headline">髪に、ごちそう。“直入れレシピ”。</p>
                <p>ヘアケアは、髪と地肌が直接取りこむものだから。<br />
                   こだわりのレシピで、ジューシーヘアに仕上げて。
                </p>
            </div>
            <div class="carousel-caption">
                <div class="bin"><a href="javascript:void(0);" binid="common" bineventlabel="external" binbtngaca="sp_hairrepi_20161001_top_kv_[store]" gaca="sp_hairrepi_20161001_top_kv_mbin" class="btn to-shop-btn gaca-btn">To shop</a></div>
            </div>
        </div>

         <div class="item">
            <img class="img-responsive" src="~/Content/images/sp/slider/sp_slider-apple-ginger.jpg" alt="アップル ジンジャー、今年もまもなく入荷。10月22日、採れたての限定レシピが入荷します。冬だけの濃密保湿あたたかレシピ、旬の味わいをどうぞ。" />
            <div class="slide-text-content top">
                <p class="slide-headline">アップル ジンジャー、<br />今年もまもなく入荷。</p>
                <p>10月22日、採れたての<br />
                   限定レシピが入荷します。<br />
                   冬だけの濃密保湿あたたかレシピ、<br />
                   旬の味わいをどうぞ。
                </p>
            </div>
            <div class="carousel-caption">
                <div class="bin"><a href="javascript:void(0);" binid="common" bineventlabel="external" binbtngaca="sp_hairrepi_20161001_top_kv_[store]" gaca="sp_hairrepi_20161001_top_kv_mbin" class="btn to-shop-btn gaca-btn">To shop</a></div>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive" src="~/Content/images/sp/slider/sp_slider-top.jpg" alt="そのレシピは、美となり髪となる。あなたが食べたものから、あなたはできている。このシンプルで普遍的な考えから。ヘアレシピは誕生しました。" />
            <div class="slide-text-content top">
                <p class="slide-headline">そのレシピは、<br />美となり髪となる。</p>
                <p>あなたが食べたものから、<br />
                   あなたはできている。<br />
                   このシンプルで普遍的な考えから。<br />
                   ヘアレシピは誕生しました。
                </p>
            </div>
            <div class="carousel-caption">
                <a href="/kodawari" class="btn product-stories-btn gaca-btn" gaca="sp_hairrepi_20161001_top_kv_product_stories">
                    Product stories
                </a>
                <div class="bin"><a href="javascript:void(0);" binid="common" bineventlabel="external" binbtngaca="sp_hairrepi_20161001_top_kv_[store]" gaca="sp_hairrepi_20161001_top_kv_mbin" class="btn to-shop-btn gaca-btn">To shop</a></div>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive" src="~/Content/images/sp/slider/sp_slider-1.jpg" alt="一つひとつの素材以上に、レシピこそが重要であるということ。" />
            <div class="slide-text-content bottom">
                <p class="slide-headline">一つひとつの素材以上に、<br />
                    レシピこそが<br />
                    重要であるということ。
                </p>
            </div>
            <div class="carousel-caption">
                <a href="/kodawari" class="btn product-stories-btn gaca-btn" gaca="sp_hairrepi_20161001_top_kv_product_stories">
                    Product stories
                </a>
                <div class="bin"><a href="javascript:void(0);" binid="common" bineventlabel="external" binbtngaca="sp_hairrepi_20161001_top_kv_[store]" gaca="sp_hairrepi_20161001_top_kv_mbin" class="btn to-shop-btn gaca-btn" >To shop</a></div>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive" src="~/Content/images/sp/slider/sp_slider-2.jpg" alt="健康とは、おいしくて楽しいものであるべきということ。"/>
            <div class="slide-text-content top">
                <p class="slide-headline">健康とは、おいしくて<br />
                    楽しいもので<br />
                    あるべきということ。
                </p>
            </div>
            <div class="carousel-caption">
                <a href="/kodawari" class="btn product-stories-btn gaca-btn" gaca="sp_hairrepi_20161001_top_kv_product_stories">
                    Product stories
                </a>
                <div class="bin"><a href="javascript:void(0);" binid="common" bineventlabel="external" binbtngaca="sp_hairrepi_20161001_top_kv_[store]" gaca="sp_hairrepi_20161001_top_kv_mbin" class="btn to-shop-btn gaca-btn">To shop</a></div>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive" src="~/Content/images/sp/slider/sp_slider-3.jpg" alt="髪や地肌に与えるものは、食べるものと同じくらい大切であること。"/>
            <div class="slide-text-content bottom">
                <p class="slide-headline">髪や地肌に与えるものは、<br />
                    食べるものと同じくらい<br />
                    大切であること。
                </p>
            </div>
            <div class="carousel-caption">
                <a href="/kodawari" class="btn product-stories-btn gaca-btn" gaca="sp_hairrepi_20161001_top_kv_product_stories">
                    Product stories
                </a>
                <div class="bin"><a href="javascript:void(0);" binid="common" bineventlabel="external" binbtngaca="sp_hairrepi_20161001_top_kv_[store]" gaca="sp_hairrepi_20161001_top_kv_mbin" class="btn to-shop-btn gaca-btn">To shop</a></div>
            </div>
        </div>
      </div>

        <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        @*<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>*@
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
              <img class="img-responsive" src="~/Content/images/sp/navigation/sp_chevron-left.png" />
          </span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        @*<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>*@
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
            <img class="img-responsive" src="~/Content/images/sp/navigation/sp_chevron-right.png" />
          </span>
      </a>
    </div>
</div>