<div class="col-md-6">
    <div class="special-info">
        <h1>Special Info.</h1>

        <div class="amazon">
            <img class="copy lazy" data-original="/Content/images/sp/sp_special-info-amazon.png" alt="Amazon.co.jpが販売・発送する商品無料配送！" />

            <div class="shop-btn bin">
                <a class="btn to-shop-btn" sku="common">
                    To Shop
                </a>
            </div>
        </div>

        <div class="lohaco">
            <img class="copy lazy" data-original="/Content/images/sp/sp_special-info-lohaco.png" alt="LOHACOでご購入の方 最短当日お届け！Tポイント貯まる、使える！" />
            
            <div class="shop-btn  bin">
                <a class="btn to-shop-btn" sku="common">
                    To Shop
                </a>
            </div>
        </div>

        <div class="footer-logo">
            <img class="lazy" data-original="/Content/images/sp/sp_footer-logo.png" alt="HAIR RECIPE"/>
        </div>

        <div class="footer-links-container">
            <ul class="footer-links">
                <li><a href="/sp/about/index.html">サイトについて</a></li>
                <li><a href="/sp/sitemap/index.html">サイトマップ</a></li>
                <li><a href="/sp/faq/index.html">よくあるご質問</a></li>
            </ul>
            <ul class="footer-links">
                <li><a href="http://www.pg.com/privacy/japanese/privacy_notice.shtml" target="_blank">プライバシーポリシー</a></li>
                <li><a href="/sp/contact/index.html">お問い合わせ</a></li>
            </ul>
            <ul class="footer-social">
                <li>
                    <a class="twitter-share" href="javascript:void(0)">
                        <img class="lazy" data-original="/Content/images/sp/sp_footer-social-tw.png" alt="twitter"/>
                    </a>
                </li>
                <li>
                    <a class="facebook-share" href="#">
                        <img class="lazy" data-original="/Content/images/sp/sp_footer-social-fb.png" alt="facebook" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="lazy" data-original="/Content/images/sp/sp_footer-social-line.png" alt="LINE" />
                    </a>
                </li>
            </ul>
        </div>
        <p class="copyright">© 2016 P&G. ALL RIGHTS RESERVED.</p>
    </div>
</div>