<div class="col-md-6">
    <div class="special-info">
        <h1>Special Info.</h1>

        <div class="amazon">
            <img class="copy" src="~/Content/images/sp/sp_special-info-amazon.png" />

            <div class="shop-btn">
                <a href="#" class="btn to-shop-btn">
                    To Shop
                </a>
            </div>
        </div>

        <div class="lohaco">
            <img class="copy" src="~/Content/images/sp/sp_special-info-lohaco.png" />
            
            <div class="shop-btn">
                <a href="#" class="btn to-shop-btn">
                    To Shop
                </a>
            </div>
        </div>

        <div class="footer-logo">
            <img src="~/Content/images/sp/sp_footer-logo.png" />
        </div>

        <div class="footer-links-container">
            <ul class="footer-links">
                <li><a href="#">サイトについて</a></li>
                <li><a href="#">サイトマップ</a></li>
                <li><a href="#">よくあるご質問</a></li>
            </ul>
            <ul class="footer-links">
                <li><a href="#">プライバシーポリシー</a></li>
                <li><a href="#">お問い合わせ</a></li>
            </ul>
            <ul class="footer-social">
                <li>
                    <a href="#">
                        <img src="~/Content/images/sp/sp_footer-social-tw.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Content/images/sp/sp_footer-social-fb.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Content/images/sp/sp_footer-social-line.png" />
                    </a>
                </li>
            </ul>
        </div>
        <p class="copyright">© 2016 P&G. ALL RIGHTS RESERVED.</p>
    </div>
</div>