<div class="sns-cols results">
    <div>
        <a class="twitter-share" href="javascript:void(0)">
            <img src="~/Content/images/sp/diagnosis/results/sp_results-sns-tw.jpg" />
        </a>
    </div>
    <div>
        <a class="facebook-share" href="javascript:void(0)">
            <img src="~/Content/images/sp/diagnosis/results/sp_results-sns-fb.jpg" />
        </a>
    </div>
    <div>
        <a class="line-share" href="javascript:void(0)">
            <img src="~/Content/images/sp/diagnosis/results/sp_results-sns-ln.jpg" />
        </a>
    </div>
</div>