<div class="sns-cols results">
    <div>
        <a class="twitter-share" href="javascript:void(0)">
            <img src="~/Content/images/sp/diagnosis/results/sp_results-sns-tw.jpg" alt="Twitter" />
        </a>
    </div>
    <div>
        <a class="facebook-share" href="javascript:void(0)">
            <img src="~/Content/images/sp/diagnosis/results/sp_results-sns-fb.jpg" alt="Facebook" />
        </a>
    </div>
    <div>
        <a class="line-share" href="javascript:void(0)">
            <img src="~/Content/images/sp/diagnosis/results/sp_results-sns-ln.jpg" alt="LINE" />
        </a>
    </div>
</div>