<div class="sns-cols results">
    <div>
        <a class="twitter-share" href="javascript:void(0)">
            <img src="~/Content/images/sp/diagnosis/results/sp_results-sns-tw.jpg" />
        </a>
    </div>
    <div>
        <a class="facebook-share" href="javascript:void(0)">
            <img src="~/Content/images/sp/diagnosis/results/sp_results-sns-fb.jpg" />
        </a>
    </div>
    <div class="line">
        @*<a class="line" href="javascript:void(0)">
            <img src="~/Content/images/sp/diagnosis/results/sp_results-sns-ln.jpg" />
        </a>*@
        <span>
        <script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
        <script type="text/javascript">
            new media_line_me.LineButton({"pc":false,"lang":"ja","type":"c","text":"あなたの髪、うるおっている？髪のジューシー度をチェックすると結果に応じて、あなたの髪にピッタリな“レシピ”を提案！今すぐチェック！","withUrl":true});
        </script>
        </span>
    </div>
</div>