@model hairrecipe.data.Entities.CM.Video
<div class="col-xs-6 col-sm-3 text-center">
    <div class="embed-responsive-16by9 video-wrapper"><img class="play_vid lazy gaca-btn" gaca="@("pc_hairrepi_20161001_top_cm" + Model.CMProductId)" src="/Content/images/pc/homepage/@Model.HomeVideoImage" data-video="http://www.youtube.com/embed/@Model.VideoId?autoplay=1" /></div>
</div>