@model IEnumerable<hairrecipe.data.Entities.CM.Video>
@{
    ViewBag.Title = "CM&amp;MOVIE｜HAIR RECIPE（ヘアレシピ) | P&amp;G";
    ViewBag.Description = "HAIR RECIPE（ヘアレシピ)のTVCM、WEB限定イメージムービーがご覧いただけます。";
    ViewData["GACAKeyword"] = "cm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section customStyles
{
    <link href="~/Content/pc-css/cm.css" rel="stylesheet" />
}

<div class="banner-cm">
    @*<img src="~/Content/images/pc/cm/banner-cm.jpg" />
    <h1>CM & MOVIE</h1>*@
    <h1><img src="/Content/images/pc/cm/banner-cm.jpg" alt="CM・ムービー"></h1>
    <p>CM &amp; MOVIE</p>
</div>
<div class="cm-content">
    <div class="cm-menu">
        <ul>
            <li><a href="#cm1" class="english gaca-btn" gaca="[platform]_hairrepi_20161001_cm_tvcm">TVCM <br /><img src="~/Content/images/pc/down-arrow.png" /></a> </li>
            <li><a href="#cm4" class="japanese gaca-btn" gaca="[platform]_hairrepi_20161001_cm_booster">ブースターオイル 使い方<br /><img src="~/Content/images/pc/down-arrow.png" /></a></li>
            <li><a href="#cm5" class="japanese gaca-btn" gaca="[platform]_hairrepi_20161001_cm_webmove"><span class="english">WEB</span>限定ムービー<br /><img src="~/Content/images/pc/down-arrow.png" /></a></li>
        </ul>
    </div>
    @foreach (var item in Model)
    {
        @Html.Partial("_videoListPC", item);
    }
    <div class="recipe text-center">
        <h2>HAIR RECIPE LINEUP</h2>
        <h3>つやとうるおいのアプリコットハニー</h3>
        <a href="/product/apricot.html" class="btn generic-btn gaca-btn" gaca="[platform]_hairrepi_20161001_cm_apri">ハニー アプリコット エンリッチ<br />モイスチャー レシピ！</a>
    </div>
    <div class="recipe2 text-center">
        <h2>HAIR RECIPE LINEUP</h2>
        <h3>ふんわりうるおいのキウイいちじく</h3>
        <a href="/product/kiwi.html" class="btn generic-btn gaca-btn" gaca="[platform]_hairrepi_20161001_cm_kiwi">キウイ エンパワー<br />ボリューム レシピ</a>
    </div>
    <div class="recipe3 text-center">
        <h2>HAIR RECIPE LINEUP</h2>
        <h3>地肌クレンジングのいちごミント</h3>
        <a href="/product/mint.html" class="btn generic-btn gaca-btn" gaca="[platform]_hairrepi_20161001_cm_mint">ミントブレンド<br />クレンジング レシピ</a>
    </div>
    <div class="recipe4 text-center">
        <h2>HAIR RECIPE LINEUP</h2>
        <h3>うるおいアップのグレープ シード ブースター オイル/ つやアップのサンフラワー シード ブースター オイル </h3>
        <p>トリートメントとまぜて効果アップ！洗い流さないトリートメントとしても使える！</p>
        <a href="/product/booster.html" class="btn generic-btn gaca-btn" gaca="[platform]_hairrepi_20161001_cm_booster_2">ブースター オイル レシピ</a>
    </div>
    @{Html.RenderPartial("_FootBannerBlock", ViewData["GACAKeyword"]);}
    <a href="#" id="back-to-top" title="Back to top"><img src="~/Content/images/pc/back-to-top.png" /></a>
</div>