@model hairrecipe.data.Entities.Home.HomeDualObj
@{
    ViewBag.Title = "ヘアレシピ（HAIR RECIPE）公式サイト｜髪にごちそう";
    ViewBag.Description = "ヘアレシピ（HAIR RECIPE）公式サイト。ノン シリコン シャンプー・トリートメント・ヘアオイル（洗い流さないトリートメント）など、髪にやさしいヘアケアのレシピをご紹介。";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var DualObj = new hairrecipe.data.Entities.Home.HomeDualObj();
    DualObj = Model;
    ViewData["GACAKeyword"] = "top";
}

@section customStyles
{
    <link href="~/Content/pc-css/index.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp">
    <link rel="alternate" media="handheld" href="http://hairrecipe.jp/sp/">
}

<div class="row wall-hp" id="A">
    <div class="main-content product-home">
        <div class="title-section col-lg-1">
            <h2>Products</h2>
            <img src="/Content/images/pc/homepage/spoon-title.png">
        </div>
        @foreach (var item in DualObj.HomeProducts)
        {
            @Html.Partial("_homeProductListingPC", item)
        }

    </div>
</div>

<div class="row wood-rough gaca-btn" gaca="pc_hairrepi_20161001_top_life_with">
    <div class="main-content">
        <div class="title-section col-lg-1">
            <h2>LIFE with HAIR RECIPE</h2>
            <img src="/Content/images/pc/homepage/spoon-title.png">
        </div>        
        <a href="https://www.instagram.com/hairrecipe_official/" target="_blank">
            <img src="/Content/images/pc/homepage/pc-home_47.png">
        </a>
        @*<div class="col-xs-6 col-sm-3 text-center">
            <img src="/Content/images/pc/homepage/pc-home_16.jpg">
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <img src="/Content/images/pc/homepage/pc-home_17.jpg">
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <img src="/Content/images/pc/homepage/pc-home_18.jpg">
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <img src="/Content/images/pc/homepage/pc-home_20.jpg">
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <img src="/Content/images/pc/homepage/pc-home_26.jpg">
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <img src="/Content/images/pc/homepage/pc-home_28.jpg">
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <img src="/Content/images/pc/homepage/pc-home_30.jpg">
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <img src="/Content/images/pc/homepage/pc-home_31.jpg">
        </div>*@
    </div>
</div>

<div class="row news">
    <div class="main-content">
        <div class="title-section col-lg-1">
            <h2>NEWS</h2>
            <img src="/Content/images/pc/homepage/spoon-title.png">
        </div>

        @for (int ctr = 0; ctr <= 3; ctr++)
        {
            @Html.Partial("_infoListPc", DualObj.InfoList.ElementAt(ctr))
        }
    <div class="btn-section col-lg-1"><a href="/info" class="home-btn gaca-btn" gaca="pc_hairrepi_20161001_top_news_other">ARCHIVE</a></div>
    </div>
</div>


<div class="row cm">
    <div class="main-content">
        <div class="title-section col-lg-1">
            <h2>CM & MOVIE</h2>
            <img src="/Content/images/pc/homepage/spoon-title.png">
        </div>

            @for (int ctr = 0; ctr <= 3; ctr++)
            {
                @Html.Partial("_videoHomeList", DualObj.Videos.ElementAt(ctr))
            }
        <div class="btn-section col-lg-1"><a href="/cm" class="home-btn gaca-btn" gaca="pc_hairrepi_20161001_top_cm_other">Watch other Movies</a></div>
    </div>
</div>
<div class="home">
    @{Html.RenderPartial("_FootBannerBlock", ViewData["GACAKeyword"]);}
</div>

<a href="javascript:void(0)" id="back-to-top" title="Back to top"><img src="~/Content/images/pc/back-to-top.png" /></a>
