@model IEnumerable<hairrecipe.data.Entities.Info.InfoList>
@{
    ViewBag.Title = "News - 新発売シャンプー・イベント情報 | ヘアレシピ";
    ViewBag.Description = "ヘアレシピの最新ニュースをご覧ください。こちらで新発売シャンプーやイベント情報などがご覧いただけます。";
    ViewData["GACAKeyword"] = "news";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section customStyles
{
    <link href="~/Content/pc-css/news.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp/info">
    <link rel="alternate" media="handheld" href="http://hairrecipe.jp/sp/info">


}
@{
    var userAgent = HttpContext.Current.Request.UserAgent.ToLower();
    
    if (userAgent.Contains("ipad;"))
    {
        Layout = "~/Views/Shared/_LayoutIpad.Mobile.cshtml";
    } else {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="banner-news">
    @*<img src="~/Content/images/pc/info/banner-news.jpg" />
    <h1>NEWS</h1>*@
    <h1><img src="/Content/images/pc/info/banner-news.jpg" alt="新着情報"></h1>
    <p>NEWS</p>
</div>
<div class="wall-hp">
    <div class="row content-news">
        @for (int ctr = 0; ctr <= Model.ToArray().Length - 1; ctr++)
        {
            @Html.Partial("_infoListPc", Model.ElementAt(ctr));
        }
    </div>
</div>
<a href="#" id="back-to-top" title="Back to top"><img src="~/Content/images/pc/back-to-top.png" /></a>