@{
    ViewBag.Title = "あなたにぴったり！おすすめシャンプーレシピ | ヘアレシピ";
    ViewBag.Description = "ヘアレシピのおすすめシャンプー、トリートメント等レシピをご紹介。しっとり髪、ふんわり髪、まとまり髪、軽やか髪の4タイプ別に、あなたにぴったりなヘアレシピの組み合わせをご紹介します。";
    ViewData["GACAKeyword"] = "your-recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section customStyles
{
    <link href="~/Content/pc-css/recipe.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp/reco_recipe">
    <link rel="alternate" media="handheld" href="http://hairrecipe.jp/sp/reco_recipe">
}


<div class="banner-recipe">
    @*<img src="/Content/images/pc/recipe/banner-recipe.jpg">
    <h1>YOUR RECIPE</h1>*@
    <h1><img src="/Content/images/pc/recipe/banner-recipe.jpg" alt="なりたい髪にあった レシピの提案"></h1>
    <p>YOUR RECIPE</p>
</div>

<div class="" id="select-hair-nav">
    <div class="main-diagnosis">
        <img src="/Content/images/pc/recipe/select-hair-nav.jpg">
        <div class="content-diagnosis qa">
            <div class="check">なりたい髪を選んで！</div>
            <div class="choices">
                <a href="javascript:void(0);" data-attr-scroll="section1" class="box scrollto gaca-btn" gaca="pc_hairrepi_20161001_your-recipe_recipe1">
                    <div>
                        <span class="title">RECIPE 1</span>
                        <p>しっとり髪<br>になりたい！</p>
                        <img src="/Content/images/pc/diagnosis/arrow.png">
                    </div>
                </a>
                <a href="javascript:void(0);" data-attr-scroll="section2" class="box scrollto gaca-btn" gaca="pc_hairrepi_20161001_your-recipe_recipe2">
                    <div>
                        <span class="title">RECIPE 2</span><br>
                        <p>ふんわり髪<br>になりたい！</p>
                        <img src="/Content/images/pc/diagnosis/arrow.png">
                    </div>
                </a>
                <a href="javascript:void(0);" data-attr-scroll="section3" class="box scrollto gaca-btn" gaca="pc_hairrepi_20161001_your-recipe_recipe3">
                    <div>
                        <span class="title">RECIPE 3</span><br>
                        <p>まとまり髪<br>になりたい！</p>
                        <img src="/Content/images/pc/diagnosis/arrow.png">
                    </div>
                </a>
                <a href="javascript:void(0);" data-attr-scroll="section4" class="box scrollto gaca-btn" gaca="pc_hairrepi_20161001_your-recipe_recipe4">
                    <div>
                        <span class="title">RECIPE 4</span><br>
                        <p>軽やか髪<br>になりたい！</p>
                        <img src="/Content/images/pc/diagnosis/arrow.png">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="recipe-container" id="section1">
    <img src="/Content/images/pc/recipe/recipe-1-bg.jpg">
    <div class="recipe-content recipe1">
        <div class="recipe-content-inner">
            <div class="recipe-title">
                <h3>YOUR RECIPE 1</h3>
                <p>地肌のすっきり感＋とてもしっとり 仕上がりを欲張りたい髪に</p>
            </div>
            <div class="recipe-items">
                <div class="item">
                    <div class="item-detail">
                        <h3>クレンジングシャンプー</h3>
                        <p> 週1〜2回シャンプーのかわりに<br> ミントブレンド<br> クレンジング レシピ<br> [クレンジングシャンプー]<br> </p>
                        <div class="bin"> <a class="generic-btn shop to-shop-btn gaca-btn" binid="mint-cleansing" gaca="pc_hairrepi_20161001_your-recipe_bin1" binbtngaca="pc_hairrepi_20161001_your-recipe_[store]" bineventlabel="external" href="javascript:void(0);">To Shop</a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-detail">
                        <h3>トリートメント</h3>
                        <p>ハニー アプリコット<br> エンリッチ モイスチャー レシピ<br> ［トリートメント］<br> </p>
                        <div class="bin"> <a class="generic-btn shop to-shop-btn gaca-btn" binid="apricot-treatment" gaca="pc_hairrepi_20161001_your-recipe_bin2" binbtngaca="pc_hairrepi_20161001_your-recipe_[store]_2" bineventlabel="external" href="javascript:void(0);">To Shop</a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-detail">
                        <h3>ヘアフードマスク</h3>
                        <p> ハニー アプリコット<br> エンリッチ モイスチャー レシピ<br> [洗い流すトリートメント]<br> </p>
                        <div class="bin"> <a class="generic-btn shop to-shop-btn gaca-btn" binid="apricot-mask" gaca="pc_hairrepi_20161001_your-recipe_bin3" binbtngaca="pc_hairrepi_20161001_your-recipe_[store]_3" bineventlabel="external" href="javascript:void(0);">To Shop</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="recipe-container" id="section2">
    <img src="/Content/images/pc/recipe/recipe-2-bg.jpg">
    <div class="recipe-content recipe2">
        <div class="recipe-content-inner">
            <div class="recipe-title">
                <h3>YOUR RECIPE 2</h3>
                <p>地肌すっきり、髪ふんわり、ハリ感UPの贅沢３ステップ</p>
            </div>
            <div class="recipe-items">
                <div class="item">
                    <div class="item-detail">
                        <h3>クレンジングシャンプー</h3>
                        <p> 週1〜2回シャンプーのかわりに<br> ミントブレンド<br> クレンジング レシピ<br> [クレンジングシャンプー]<br> </p>
                        <div class="bin"> <a class="generic-btn shop to-shop-btn gaca-btn" binid="mint-cleansing" gaca="pc_hairrepi_20161001_your-recipe_bin4" binbtngaca="pc_hairrepi_20161001_your-recipe_[store]_4" bineventlabel="external" href="javascript:void(0);">To Shop</a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-detail">
                        <h3>トリートメント</h3>
                        <p>キウイ<br> エンパワー ボリューム レシピ<br> [トリートメント]<br> </p>
                        <div class="bin"> <a class="generic-btn shop to-shop-btn gaca-btn" binid="kiwi-treatment" gaca="pc_hairrepi_20161001_your-recipe_bin5" binbtngaca="pc_hairrepi_20161001_your-recipe_[store]_5" bineventlabel="external" href="javascript:void(0);">To Shop</a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-detail">
                        <h3>スカルプフィード エッセンス</h3>
                        <p> キウイ<br> エンパワー ボリューム レシピ<br> スカルプ フィード エッセンス<br> [洗い流さないトリートメント]<br></p>
                        <div class="bin"> <a class="generic-btn shop to-shop-btn gaca-btn" binid="kiwi-scalp" gaca="pc_hairrepi_20161001_your-recipe_bin6" binbtngaca="pc_hairrepi_20161001_your-recipe_[store]_6" bineventlabel="external" href="javascript:void(0);">To Shop</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="recipe-container" id="section3">
    <img src="/Content/images/pc/recipe/recipe-3-bg.jpg">
    <div class="recipe-content recipe3">
        <div class="recipe-content-inner">
            <div class="recipe-title">
                <h3>YOUR RECIPE 3</h3>
                <p>しっとり、しなやかなまとまり髪にうるおいプラスでイキイキとした美しさ</p>
            </div>
            <div class="recipe-items">
                <div class="item">
                    <div class="item-detail">
                        <h3>シャンプー</h3>
                        <p>ハニー アプリコット<br> エンリッチ モイスチャー レシピ<br> ［シャンプー］ <br></p>
                        <div class="bin"> <a class="generic-btn shop to-shop-btn gaca-btn" binid="apricot-shampoo" gaca="pc_hairrepi_20161001_your-recipe_bin7" binbtngaca="pc_hairrepi_20161001_your-recipe_[store]_7" bineventlabel="external" href="javascript:void(0);">To Shop</a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-detail">
                        <h3>トリートメント</h3>
                        <p>ハニー アプリコット<br> エンリッチ モイスチャー レシピ<br> [トリートメント]<br> </p>
                        <div class="bin"> <a class="generic-btn shop to-shop-btn gaca-btn" binid="apricot-treatment" gaca="pc_hairrepi_20161001_your-recipe_bin8" binbtngaca="pc_hairrepi_20161001_your-recipe_[store]_8" bineventlabel="external" href="javascript:void(0);">To Shop</a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-detail">
                        <h3>洗い流さないトリートメント</h3>
                        <p> グレープ シード<br> ブースター オイル レシピ<br> [洗い流さないトリートメント]<br></p>
                        <div class="bin"> <a class="generic-btn shop to-shop-btn gaca-btn" binid="booster-grape" gaca="pc_hairrepi_20161001_your-recipe_bin9" binbtngaca="pc_hairrepi_20161001_your-recipe_[store]_9" bineventlabel="external" href="javascript:void(0);">To Shop</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="recipe-container" id="section4">
    <img src="/Content/images/pc/recipe/recipe-4-bg.jpg">
    <div class="recipe-content recipe4">
        <div class="recipe-content-inner">
            <div class="recipe-title">
                <h3>YOUR RECIPE 4</h3>
                <p>軽やかに、ふんわり弾む髪に健やかなうるおいもプラス</p>
            </div>
            <div class="recipe-items">
                <div class="item">
                    <div class="item-detail">
                        <h3>シャンプー</h3>
                        <p>キウイ<br> エンパワー ボリューム レシピ<br> ［シャンプー］<br></p>
                        <div class="bin"> <a class="generic-btn shop to-shop-btn gaca-btn" binid="kiwi-shampoo" gaca="pc_hairrepi_20161001_your-recipe_bin10" binbtngaca="pc_hairrepi_20161001_your-recipe_[store]_10" bineventlabel="external" href="javascript:void(0);">To Shop</a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-detail">
                        <h3>トリートメント</h3>
                        <p>キウイ<br> エンパワー ボリューム レシピ<br> [トリートメント]<br></p>
                        <div class="bin"> <a class="generic-btn shop to-shop-btn gaca-btn" binid="kiwi-treatment" gaca="pc_hairrepi_20161001_your-recipe_bin11" binbtngaca="pc_hairrepi_20161001_your-recipe_[store]_11" bineventlabel="external" href="javascript:void(0);">To Shop</a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-detail">
                        <h3>洗い流さないトリートメント</h3>
                        <p> サンフラワー シード<br> ブースター オイル レシピ<br> [洗い流さないトリートメント]<br></p>
                        <div class="bin"> <a class="generic-btn shop to-shop-btn gaca-btn" binid="booster-seed" gaca="pc_hairrepi_20161001_your-recipe_bin12" binbtngaca="pc_hairrepi_20161001_your-recipe_[store]_12" bineventlabel="external" href="javascript:void(0);">To Shop</a> </div>
                    </div>
                </div>
            </div>
            <div id="make-it-yourself">
                あなた好みのレシピを、自分で作ってみて。
            </div>
        </div>
    </div>
</div>


<div class="footer-banner">
    <ul>
        <li>
            <span>JUICY HAIR CHECK</span>
            <img src="/Content/images/pc/spoon.png" alt="" />
            <a href="/diagnosis" class="gaca-btn" gaca="pc_hairrepi_20161001_product-mint_diagnosis"><img src="/Content/images/pc/diagnosis.png" alt="あなたの髪、うるおっている？ジューシー度チェック" /></a>
        </li>
    </ul>
</div>

<a href="#" id="back-to-top" title="Back to top"><img src="~/Content/images/pc/back-to-top.png" /></a>