@{
    ViewBag.Title = "サイトマップ｜HAIR RECIPE（ヘアレシピ) | P&amp;G";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "HAIR RECIPE（ヘアレシピ)のサイトマップがご覧いただけます。";
}

@section customStyles
{
    <link href="~/Content/pc-css/sitemap.css" rel="stylesheet" />
}

<div class="banner-about">
    <img src="~/Content/images/pc/sitemap/banner-sitemap.jpg" />
    <h1>Sitemap</h1>
</div>
<div class="wall-hp pb60">
    <div class="content-sitemap">
        <div class="row">
            <div class="col-xs-4">
                <p><a href="/index.html">HOME</a></p>
                <p><a href="/kodawari/">PRODUCT STORIES</a></p>  
                <p><a href="https://www.instagram.com/hairrecipe_official/" target="_blank">LIFE with HAIR RECIPE</a></p>  
                <p><a href="/info/">NEWS</a></p>   
                <p><a href="/cm/">CM & MOVIE</a></p>
                <p><a href="/reco_recipe/">YOUR RECIPE</a></p>
                <p><a href="/deiagnosis/">JUICY HAIR CHECK</a></p>             
            </div>
            <div class="col-xs-5">
                <p><a href="/product/mint.html">Mint Blend Cleansing Recipe</a></p>
                <p><a href="/product/apricot.html">Honey Apricot Enrich Moisture Recipe</a></p>
                <p><a href="/product/kiwi.html">Kiwi Empower Volume Recipe</a></p>
                <p><a href="/product/booster.html">Booster Oil Treatment</a></p>
            </div>
            <div class="col-xs-3 Koburina">
                <p><a href="/about/">サイトについて</a></p>
                <p><a href="/faq/">よくあるご質問</a></p>
                <p><a href="http://www.pg.com/privacy/japanese/privacy_notice.shtml" target="_blank">プライバシーポリシー</a></p>
                <p><a href="/contact/">お問い合わせ</a></p>
            </div>
        </div>     
    </div>
    <a href="#" id="back-to-top" title="Back to top"><img src="~/Content/images/pc/back-to-top.png" /></a>
</div>
