@{
    ViewBag.Title = "サイトマップ | ヘアレシピ";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["GACAKeyword"] = "sitemap";
    ViewBag.Description = "ヘアレシピのサイトマップです。髪に、はじめてのごちそう。ヘアレシピ（HAIR RECIPE）";
}

@section customStyles
{
    <link href="~/Content/pc-css/sitemap.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipejp/sitemap/indexhtml">
    <link rel="alternate" media="handheld" href="http://hairrecipe.jp/sp/sitemap">
}
@{
    var userAgent = HttpContext.Current.Request.UserAgent.ToLower();
    
    if (userAgent.Contains("ipad;"))
    {
        Layout = "~/Views/Shared/_LayoutIpad.Mobile.cshtml";
    } else {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="banner-about">
    <img src="~/Content/images/pc/sitemap/banner-sitemap.jpg" />
    <h1>Sitemap</h1>
</div>
<div class="wall-sm pb60">
    <div class="content-sitemap">
        <div class="row">
            <div class="col-xs-4">
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_home" href="/">HOME</a></p>
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_prpduct" href="/kodawari">PRODUCT STORIES</a></p>  
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_lif-with" href="https://www.instagram.com/hairrecipe_official" target="_blank">LIFE with HAIR RECIPE</a></p>  
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_news" href="/info">NEWS</a></p>   
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_cm" href="/cm">CM & MOVIE</a></p>
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_your-resipe" href="/reco_recipe">YOUR RECIPE</a></p>
                <p class="last"><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_diagnosis" href="/diagnosis">JUICY HAIR CHECK</a></p>             
            </div>
            <div class="col-xs-5">
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_mint" href="/product/mint">Mint Blend Cleansing Recipe</a></p>
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_apri" href="/product/apricot">Honey Apricot Enrich Moisture Recipe</a></p>
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_kiwi" href="/product/kiwi">Kiwi Empower Volume Recipe</a></p>
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_booster" href="/product/booster">Booster Oil Treatment</a></p>
            </div>
            <div class="col-xs-3 Koburina">
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_about" href="/about">サイトについて</a></p>
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_Q&A" href="/faq">よくあるご質問</a></p>
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_privacy" href="http://www.pg.com/privacy/japanese/privacy_notice.shtml" target="_blank">プライバシーポリシー</a></p>
                <p><a class="gaca-btn" gaca="pc_hairrepi_20161001_sitemap_customer" href="/contact">お問い合わせ</a></p>
            </div>
        </div>     
    </div>
    <a href="#" id="back-to-top" title="Back to top"><img src="/Content/images/pc/back-to-top.png" /></a>
</div>
