/* PC */

.bin{
    position : relative;
    width : 180px;
}

.bin .null{
    margin-top: 16%;
    display: block;
}
.bin .bin-PopUp{
    display : none;    
    background :  url('/Content/images/bins/pc.bg.png');
    background-repeat : no-repeat;
    position : absolute;
    width : 352px;
    height : 118px;
    left : -85px;
    z-index : 999999999999999;
}
.bin .bin-PopUp .arrow{
    display : block;
    position : absolute;
    top : -19px;
    width : 10%;
    left : 44%;
}
.bin .bin-PopUp a img{
    display : block;
    border : 1px solid #87847d;
    width: 100%;
}

.bin .bin-PopUp ul{
    padding: 36px 0 0 20px;
    overflow : hidden;
    list-style : none;
}
.bin .bin-PopUp ul li{
    float : left;
    width :45%;
    margin-right : 5%;
}


/* BIN override */
.refill ul .bin .bin-PopUp ul{
    padding: 36px 0 0 20px!important;
}
.refill ul .bin {
    width : auto;
}
.refill ul .bin .bin-PopUp {
    left: 0;
}

.comboSection ul li .bin .bin-PopUp ul li {
    width: 150px!important;
    margin-right :10px!important;
}

.comboSection ul li .bin .bin-PopUp ul li {
    width: 150px!important;
    margin-right :10px!important;
}

.cm-content .bin{
    width : auto;
}

.cm-content .bin .bin-PopUp{
    left : 50%;
    margin-left : -176px;
}


