
.bin{
    position : relative;
    width : 100%;
}



.bin .bin-PopUp{
    display : none;
    background-color : #fff;
    border : 1px solid #87847d;
    position : absolute;
    width : 90%;
    top : 130%;
    left : 4%;
    right : 0;
    z-index : 999999999999999;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    border-radius: 3%;
}


.bin .bin-PopUp .arrow{
    display : block;
    position : absolute;
    top : -17px;
    width : 10%;
    left : 44%;
}


.bin .bin-PopUp a img{
    display : block;
    border : 1px solid #87847d;
}
.bin .bin-PopUp ul{
    padding : 2% 0 2% 5%;
    overflow : hidden;
}
.bin .bin-PopUp ul li{
    float : left;
    width :45%;
    margin-right : 5%;
}


