.main-diagnosis {
    position:relative;
}

.content-diagnosis {
    /*position:absolute;
    top:50%;
    right:47%;
    margin-left:-50px;
    margin-right:-50px;
    font-family:Koburina Gothic W3 JIS2004;
    text-transform:uppercase;
    background:Red;*/       
    width: 100%;
    display: block;
    position: absolute;
    top: 37%;
    text-align: center;
    font-family: 'Koburina Gothic W3 JIS2004';
}

.qa {
    top: 23%;
}

.generic-btn, .generic-btn:hover {
    display:inline-block;
    text-transform: inherit;
}

footer .generic-btn, footer .generic-btn:hover {
    display:inline-block;
    text-transform: uppercase;
}

footer .generic-btn.shop {
    padding-left: 48px;
    padding-right: 42px;
    padding-top: 6px;
    padding-bottom: 14px;
}

.content-diagnosis h1 {
    font-size:65px;
    font-weight:600;
}

.check {
    font-size:20px;   
    font-family: 'LubalinGraph-Book';
    margin-bottom:20px;
}

.question h1 {
    font-size:20px;
    margin-bottom:40px;
    font-weight: 600;
}

.desc {
    font-size:14px;
    margin-bottom:40px;
    margin-top:40px;
}

.choices .box {
    background: #fff;
    display: inline-table;
    width: 19%;
    height: 230px;
    text-align: center;
    border: 1px solid #87847d;
    margin: 0 1% 0 0;
    color:#87847d;
}

.choices .box:hover {
    text-decoration:none;
}

.choices .box div {
    display: table-cell;
    vertical-align: middle;
    /*background: url(../images/pc/diagnosis/arrow.png) center bottom 30px no-repeat;*/
}

.choices .box img {
    width:inherit;
} 

.choices .box .title {
    font-size: 20px;
    font-family: 'LubalinGraph-Book';
}

.choices .box p {
    margin: 15px 0;
    font-size:20px;
    
}

.steps {
    margin-top:40px;
}

.steps img {
    width: 23%;
}

.steps .desc {
    font-size: 14px;
    margin-top:20px;
}

.steps .desc a {
    color:#87847d;
    font-weight:600;
}

.Koburina a {
    font-family:Koburina Gothic W3 JIS2004;
}

.pb100 {
    padding-bottom:100px;
}

.pb60 {
    padding-bottom:60px;
}