.banner-about {
    position:relative;
}

.banner-about > h1 {
    margin: 0;
}

.banner-about > p {
    position:absolute;
    top:55%;
    right:51%;
    margin-left:-50px;
    margin-right:-50px;
    font-family:Koburina Gothic W3 JIS2004;
    color:white;
    text-transform:uppercase;
    font-size: 36px;
    font-weight: inherit;
    line-height: inherit;
}

.content-about {
    width:694px;
    margin:0 auto;
    padding-top:60px;
}

.content-about h2 {
    font-size:22px;
    font-family:Koburina Gothic W3 JIS2004;
    margin-bottom:40px;
}

.content-about p {
    line-height:22px;
    margin-bottom:40px;
}

.pb100 {
    padding-bottom:100px;
}

.pb60 {
    padding-bottom:60px;
}



/*=========================================================*/


.contact-banner {
    background-color: gold;
    position: relative;
}

.contact-banner .inner {
    position: absolute;
    top: 60%;
    left: 50%;
    
    padding: .8em 1.2em;
    color: white;
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Koburina Gothic W3 JIS2004';
}

h2.page-title {
    color: #fff;
    font-size: 4.8em;
}


.faq-main {
  background-color: transparent;
  color: #87847d;
  margin-top: -1px;
  padding-left: 0;
  padding-right: 0;
  width: 990px;
}

/*.row {
  display: table;
}*/

.col1, .col2 {
  display: table-cell;
  /*width: 50%;*/ /* depends on the number of columns */

  padding: 0.7em;
  /*border: solid;*/
  vertical-align: middle;
  font-family: 'Koburina Gothic W3 JIS2004';
  /*float:left;*/
  line-height: 1.8em;
}

.col1 {
    width:75px;
    font-family: 'LubalinGraph-Book';
    font-size:20px;
    /*background:Red;*/
}

.col2 {
    width:902px;
    font-family: 'Koburina Gothic W3 JIS2004';
    background: url(../images/sp/faq/arrow-down.png) right 40px center no-repeat;
    /*background:yellow;*/
    font-size:1em;
    font-weight: 600;
}

.faq-main .qsec {
    background-color: #fff;
}



.clear {
    clear:both;
}

[data-toggle="collapse"] {
    border-bottom:1px solid #ebebeb;
    cursor: pointer;
}

[aria-expanded="true"] {
    border-bottom:0;
}

[aria-expanded="true"] .col2 {
    background: url(../images/sp/faq/arrow-up.png) right 40px center no-repeat;
}

.answer {
    background: none !important;
}

.answer a {
    color:#87847d;
}


.question {
    padding-right:81px;
}

.qa {
    font-size:30px;
    padding-left: 1em;
}

.bg {
    /*background: url(../images/sp/faq/bg2.jpg) right 20px center repeat;*/
}

.wall-hp {
  background: rgba(0, 0, 0, 0) url("/Content/images/pc/faq/wall-hp2.jpg") repeat scroll 0 0;
  padding-top: 87px
}



    /*#back-to-top {
            right: 4%;
    -webkit-transition:all 1s ease;
         -moz-transition:all 1s ease;
               -o-transition:all 1s ease;
                     transition:all 1s ease;
    }

@media (min-width: 1300px) and (max-width: 1567px){
    #back-to-top {
            right: 7%;
    }
}


@media (min-width: 1568px) {
    #back-to-top {
            right: 20%;
    }
}*/

