.banner-kodawari {
    position:relative;
}

.banner-kodawari > h1 {
    position:absolute;
    top:55%;
    right:41%;
    margin-left:-50px;
    margin-right:-50px;
    font-family:'Koburina Gothic W3 JIS2004';
    color:white;
    text-transform:uppercase;
}

h1, h2, h3 {
    margin:0;
}
.japanese {
    font-family:Koburina Gothic W3 JIS2004;
}

.english {
    font-family: 'LubalinGraph-Book'
}

.left35 {
    margin-left:35px;
}

.kodawari-menu{
    background:url(/../Content/images/pc/kodawari/menu-bg.jpg);
    background-size:cover;
    height:375px;
    background-repeat:no-repeat;
}

.kodawari-menu h2 {
    text-align:center;
    padding-top:100px;
    font-family:'Koburina Gothic W3 JIS2004';
    font-weight:600;
}
.kodawari-menu ul {
    text-align:center;
    padding-top:100px;
    padding-left: 0;
}

.kodawari-menu ul li {
    display:inline-block;
    margin-left:80px;
}

.kodawari-menu ul li a {
    color:inherit;
    font-size:22px;
    text-decoration:none;
    font-weight:600;
    font-family:'Koburina Gothic W3 JIS2004';
}

.kodawari1 .section img {
    float:left;
}

.kodawari2 .section img {
    float:right;
}

.kodawari3 .section img {
    float:left;
}

.kodawari4 .section img {
    float:right;
}

.kodawari5 .section img {
    float:left;
}

.right-side {
    float: right;
    margin-top: 20%;
}

.kodawari1 h3, .kodawari2 h3, .kodawari3 h3, .kodawari4 h3, .kodawari5 h3 {
    font-size: 22px;
    font-family:Koburina Gothic W3 JIS2004;
    font-weight:600;
}

.kodawari1 p, .kodawari2 p, .kodawari3 p, .kodawari4 p, .kodawari5 p {
    font-size: 12px;
    line-height:30px;
    margin-top:40px;
    font-family:Koburina Gothic W3 JIS2004;
}

.left-side {
    margin-top: 20%;
    float:left;
    font-size: 22px;
}


.left-side p{
    margin-top:5%;
    line-height:30px;
    margin-right:40px;
    font-size: 12px;
}

.section {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

.kodawari-menu ul li img, .kodawari-content img {
    width:auto;
}

.kodawari-content {
    width:100%;
    position:relative;
}

.kodawari-inner {
    width:980px;
    margin:0 auto;
}

.d-inline-block {
    display:inline-block;
}

.d-table {
    display:table;
}
.recipe {
    background:url('/../Content/images/pc/cm/pc_cm_02.jpg');
    background-size:cover;
    height:857px;
    position:relative;
    padding-top: 100px;
    background-position: center;
}

.recipe2 {
    background:url('/../Content/images/pc/cm/pc_cm_03.jpg');
    background-size:cover;
    height:833px;
    position:relative;
     padding-top: 100px;
     background-position: center;
}

.recipe3 {
    background:url('/../Content/images/pc/cm/pc_cm_04.jpg');
    background-size:cover;
    height:857px;
    position:relative;
    padding-top: 100px;
    background-position: center;
}

.recipe4 {
    background:url('/../Content/images/pc/cm/pc_cm_05.jpg');
    background-size:cover;
    height:857px;
    position:relative;
    padding-top: 193px;
    background-position: center;
}

a.btn.generic-btn {
    padding:7px 0 0 0;
    font-size:13px;
    display: inline-block;
    margin:40px 20px 0 20px;
    font-family:'Koburina Gothic W3 JIS2004';
    font-weight:600;
}

.recipe a.btn.generic-btn, .recipe2 a.btn.generic-btn, .recipe3 a.btn.generic-btn, .recipe4 a.btn.generic-btn {
    /*position:absolute;
    bottom:100px;
    left: 38%;*/
    width: 260px;
    position: relative;

}

.recipe4 a.btn.generic-btn {
    padding:15px 0 0 0;
}

.recipe h2, .recipe2 h2, .recipe3 h2, .recipe4 h2 {
    font-family: 'LubalinGraph-Book';
    font-size:22px;
    margin-bottom: 20px;
}

.recipe h3, .recipe2 h3, .recipe3 h3, .recipe4 h3 {
   font-family:'Koburina Gothic W3 JIS2004';
    font-size:20px;
    font-weight:600;
}

.recipe-btn {
    position: absolute;
    width: 100%;
    bottom: 100px;
}

.juicy {
    height:auto;
    text-align:center;
    padding-top:100px;
    padding-bottom:50px;
}

.juicy ul li {
    list-style:none;
    display:inline-block;
    margin-left:100px;
    margin-right:100px;
}

.juicy ul li img {
    margin-bottom:40px;
}
.juicy ul  {
    padding:0;
}

.tile-content {
    /*width:982px;
    margin: 0 auto;
    overflow:auto;
    position:absolute;
    left:11.5%*/
}

@media only screen and (max-width: 1280px) {
    .tile-content {
        border: 1px solid red;
    }
}