.content-wrapper {
    overflow: hidden;
}

.slide-text-content.top{
    position: absolute;
    top: 24%;
    left: 13%;
    color: #000;
}

.slide-headline {
    font-size: 40px;
}

.slide-headline ~ p {
    font-size: 26px;
    line-height: 40px;
}

.slide-text-content.bottom{
    position: absolute;
    bottom: 30%;
    left: 13%;
    color: #000;
}

.section-heading {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    text-align:center;
    text-transform: uppercase;
    margin-bottom:0;
    font-size: 68px;
}

.section-heading.news {
    margin-top:60px;
}

.custom-section-heading {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    text-align:center;
    font-size: 68px;
    line-height: 68px;
    margin-bottom:0;
    padding-top:65px;
}

.spoon-h {
    margin: 0 auto;
    text-align:center;
}

.spoon-h img {
    width: auto;
}

.product-item {
    margin: 0 auto;
    text-align:center;
}

.product-item .product-name {
    font-family: 'LubalinGraph-Book';
    font-size:40px;
    margin: 80px 0 20px 0;
}

.product-thumbnail {
    margin: 0 auto;
    width: auto;
}

.product-intro-text {
    font-size: 24px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #87847d;
}

.life-splash {
    padding-bottom: 55px;
    margin-top: 25px;
}


.news-splash, .cm-splash {
    margin: 0 auto;
    text-align: center;
}

.news-splash img, .cm-splash img{
    width: auto;
}

.news-copy {
    margin: 0 auto;
    width: 73%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.news-content-wrapper {
    margin: 0 auto;
    width: 73%;
}

.news-copy .news-date, .news-copy .text {
    font-size: 26px;
}

    .news-copy .news-date {
        font-family: 'LubalinGraph-Book';
    }


.news-content .news {
    margin-bottom: 60px;
    overflow: hidden;
}

.news-content .news img {
    float: left;
    width: auto;
    margin-right: 10px;
}

.news-content .news .text {
    font-size: 26px;
    line-height: 32px;
}

    .news-content .news .text span.date {
        font-family: 'LubalinGraph-Book';
    }

.centered-btn {
    text-align:center;
}

.generic-btn {
    margin-top: 60px;
    margin-bottom: 60px;
}

.news-splash iframe {
    width:100%;
}

.footer-banner {
    margin-top: 50px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

    .section-heading {
        font-size:30px;
    }

    .spoon-h {
        margin: 0 auto;
        text-align:center;
    }

    .spoon-h img {
        width: 45%;
    }

    .product-item .product-name {
        font-family: 'LubalinGraph-Book';
        font-size: 28px;
    }

    .product-thumbnail {
        margin: 0 auto;
        width: 70%;
    }

    .slide-text-content.top{
        left: 11%;
    }

    .slide-headline {
        font-size: 22px;
    }

    .slide-headline ~ p {
        font-size: 11px;
        line-height: 30px;
    }

    .product-intro-text {
        font-size: 12px;
    }

    .custom-section-heading {
        font-size: 30px;
        line-height: 33px;
    }

    .news-splash, .cm-splash {
        width: 71%;
    }

    .news-splash img, .cm-splash img{
        width: 100%;
    }

    .news-copy {
        /*letter-spacing: -1px;*/
    }

    .news-copy .text, .news-copy .news-date {
        font-size: 11px;
    }

    .news-content .news .text {
        font-size: 11px;
        line-height: 14px;
    }

    .news-content .news img {
        width:50%;
    }

    .generic-btn {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .news-content .news {
        margin-bottom: 40px;
    }

}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {

    .section-heading {
        font-size:30px;
    }

    .spoon-h {
        margin: 0 auto;
        text-align:center;
    }

    .spoon-h img {
        width: 45%;
    }

    .product-item .product-name {
        font-family: 'LubalinGraph-Book';
        font-size: 23px;
    }

    .product-thumbnail {
        margin: 0 auto;
        width: 70%;
    }

    .slide-headline {
        font-size: 26px;
    }

    .slide-headline ~ p {
        font-size: 13px;
        line-height: 30px;
    }
    
    .product-intro-text {
        font-size: 14px;
    }

    .custom-section-heading {
        font-size: 36px;
        line-height: 33px;
    }

    .news-splash, .cm-splash {
        width: 71%;
    }

    .news-splash img, .cm-splash img{
        width: 100%;
    }

    .news-copy .text, .news-copy .news-date {
        font-size: 13px;
    }

    .news-content .news .text {
        font-size: 13px;
        line-height:18px;
    }

    .news-content .news img {
        width:50%;
    }

    .generic-btn {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .news-content .news {
        margin-bottom: 40px;
    }
}