@import url("//hello.myfonts.net/count/31d781");
@font-face {font-family: 'Koburina Gothic W3 JIS2004';src: url('../fonts/31D781_0_0.eot');src: url('../fonts/31D781_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31D781_0_0.woff2') format('woff2'),url('../fonts/31D781_0_0.woff') format('woff'),url('../fonts/31D781_0_0.ttf') format('truetype');}  
@font-face {font-family: 'Koburina Gothic W6 JIS2004';src: url('../fonts/31D781_0_0.eot');src: url('../fonts/31D781_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31D781_0_0.woff2') format('woff2'),url('../fonts/31D781_0_0.woff') format('woff'),url('../fonts/31D781_0_0.ttf') format('truetype');}  
@font-face {font-family: 'LubalinGraph-Book';src: url('../fonts/31D781_1_0.eot');src: url('../fonts/31D781_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31D781_1_0.woff2') format('woff2'),url('../fonts/31D781_1_0.woff') format('woff'),url('../fonts/31D781_1_0.ttf') format('truetype');}


body {
    color: #87847d;
}

h1 {
	/*font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;*/
}

h1, h2, p {
    font-family:Koburina Gothic W3 JIS2004;
    font-weight:normal;
    font-style:normal;
}

a {
    color: #87847d;
}

a:hover, a:focus {
    color: #87847d;
    text-decoration: none;
}

/*Background Style*/

.wood-smooth{
    background : url("/Content/images/sp/bg/wood-smooth.jpg");
}
.wood-rough{
    background : url("/Content/images/sp/bg/wood-rough.jpg");
}
.wood-hp{
    background : url("/Content/images/sp/bg/wood-hp.jpg");
}
.wood-b-hp{
    background : url("/Content/images/sp/bg/wood-hp-2.jpg");
}
.wall {
    background: url("/Content/images/sp/bg/wall-1.jpg");
}

.wall-hp{
    background: url("/Content/images/sp/bg/wall-hp.jpg");
}

.stitch-b{
    background : url("/Content/images/sp/bg/stitch-b.jpg");
}
.stitch-m{
    background : url("/Content/images/sp/bg/stitch-m.jpg");
}
.stitch-s{
    background : url("/Content/images/sp/bg/stitch-s.jpg");
}

.stitch-hp {
    background : url("/Content/images/sp/bg/stitch-hp.jpg");
}


.to-shop-btn:before {
    content:url(/Content/images/sp/sp_shopping-cart-icon.png);
    position:relative;
    left: -8px;
    top:8px;
}


.to-shop-btn, .to-shop-btn:active, .to-read-btn, .to-read-btn:active, .to-write-btn, .to-write-btn:active, .to-rate-btn, .to-rate-btn:active, .generic-btn, .generic-btn:active {
    background-color: #fff;
    border: 2px solid #87847d;
    font-family: 'LubalinGraph-Book';
    height: 100px;
    border-radius: 0;

    position: relative;
    font-size: 26px;
    padding-top: 24px;
    text-transform: uppercase;
    color: #87847d;
}

.item .to-shop-btn {
    width: 68%;
}

.to-shop-btn:hover, .to-shop-btn:focus, .to-shop-btn.focus,  .to-read-btn:hover, .to-read-btn:focus, .to-read-btn.focus, .to-write-btn:hover, .to-write-btn:focus, .to-read-btn.focus, .to-rate-btn:hover, .to-rate-btn:focus, .to-read-btn.focus, .generic-btn:hover, .generic-btn:focus, .generic-btn.focus {
    color: #87847d;
    text-decoration: none;
}

.product-stories-btn, .product-stories-btn:active {
    /*background: transparent url(/Content/images/sp/sp_product-stories-btn.png) center top;
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 50.6%;
    height: 100px;
    border-radius: 0;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    font-size: 26px;
    padding-top: 30px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'LubalinGraph-Book';
}

.item .product-stories-btn {
    width: 68%;
}


.product-stories-btn:hover, .product-stories-btn:focus, .product-stories-btn.focus {
    color: #87847d;
    text-decoration: none;
}

.navbar-default {
    background-color: transparent;
    border-color: none;
}

.navbar {
    border: none;
    margin-bottom: 0px;
    background-color: rgb(0, 0, 0); /* The Fallback */
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 151px;
}

.navbar-default .navbar-toggle {
    border:none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:transparent;
}

.navmenu-default, .navbar-default .navbar-offcanvas {
    background-color: rgb(0, 0, 0); /* The Fallback */
    background-color: rgba(0, 0, 0, 0.5); 
    border:none;
    /*opacity: 0.7;*/
}
.navmenu-brand {
    position: absolute;
    z-index: 9999;
    /*top: 15px;
    left: 10px;*/
}

.navmenu-brand {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1029;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a {
    font-family: 'LubalinGraph-Book';
    text-transform: uppercase;
    color: #fff;
    font-size: 36px;
    margin-left:20px;
}

.navmenu-default .navmenu-nav.second-nav > li > a {
    font-size: 26px;
    margin-left:20px;
}

.navmenu-default .footer-social {
            color: #fff;
            list-style: none;
            padding: 0;
            margin: 0;
}

    .navmenu-default .footer-social li {
        display: inline;
        padding: 0;
        margin: 0 30px;
    }

    .navmenu-default .footer-social li a img {
        width: 20%;
    }

.navbar-toggle {
  border: none;
  background: transparent !important;
  padding: 0;
  margin: 0;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

.navmenu-default .navmenu-nav > li > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover, .navmenu-default .navmenu-nav > li > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.glyphicon-chevron-right:before {
    content: "";
}

.glyphicon-chevron-left:before {
    content: "";
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left {
    max-width: 47%;
    top: 47%;
}

.carousel-indicators {
    bottom: 23%;
}

.carousel-indicators .active {
    width: 17px;
    height: 17px;
    margin: 20px 20px;
    background-color: #fff;
}

.carousel-indicators li {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 20px 20px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: none;
}

.carousel-caption {
    bottom: 35px;
}

.carousel-caption .btn {
    margin-bottom: 20px;
}

.navmenu, .navbar-offcanvas {
    width: 500px;
}

.navmenu-nav {
    clear:both;
    margin-top: 45px;
    margin-bottom: 10px;
}


.footer-banner{
    overflow : hidden;
}

.footer-banner img {
     display: block;
     margin: 15% auto;
     width: 70%;
}

.page-footer {
    background: transparent url(/Content/images/sp/sp_footer-bg.jpg) center top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
    .page-footer .special-info {
        text-align:center;
    }

    .page-footer .special-info h1 {
        font-family: "Palatino Linotype";
        text-transform: uppercase;
        font-size: 68px;
    }

        .page-footer .special-info .amazon {
            margin-bottom: 80px;
        }

        .page-footer .special-info .lohaco {
            margin-bottom: 80px;
        }

        .page-footer .special-info img {
            width: auto;
            margin-bottom: 20px;
        }

        .page-footer .special-info .footer-links-container {
            width: 90%;
            margin: 0 auto;    
        }

        .page-footer .special-info .footer-links {
            color: #fff;
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom: 30px;
            margin-left: -10px;
        }

        .page-footer .special-info .footer-social {
            color: #fff;
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .page-footer .special-info .footer-social li {
                display: inline;
                padding: 0;
                margin: 0 30px;
            }

        .page-footer .special-info .footer-links li {
            display: inline;
            padding: 0;
            margin: 0;
        }

        .page-footer .special-info .footer-links li {
            font-size: 26px;
        }

            .page-footer .special-info .footer-links li a {
                color: #fff;
                text-decoration:none;
            }

        .page-footer .special-info .footer-links li:before { 
            content: "  |  ";
            margin: 0 10px;
            margin-left: 10px;
        }

        .page-footer .special-info .footer-links li:first-child:before {
            content: "";
            margin-left: 0;
        }
            
        .page-footer .special-info .footer-social li a img {
            width: auto;
        }

.copyright {
    margin-top: 20px;
}

.show {
    display:block;
}

.hide {
    display:none;
}

/*iPhone 5*/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {

    .navbar {
        min-height: 60px;
    }

    .navmenu-brand {
        width:50%;
    }

    .navbar-default .navbar-toggle {
        width: 17%;
    }

    .navmenu-default .navbar-toggle {
        width: 23%;
    }

    .navmenu, .navbar-offcanvas {
         width: 230px; 
    }

    .carousel-indicators {
        bottom: 20%;
    }

    .carousel-indicators .active {
        margin: 10px 10px;
        background-color: #fff;
        width: 8px;
        height: 8px;
    }

    .carousel-indicators li {
        margin: 10px 10px;
        width: 8px;
        height: 8px;
    }

    .carousel-caption {
        bottom: -15px;
    }

    .page-footer .special-info h1 {
        font-size:34px;
    }

    .page-footer .special-info img.copy {
        width: 80%;
    }

    .page-footer .special-info .footer-links li {
        font-size: 11px;
    }

    .page-footer .special-info img {
        width: 60%;
    }

    .page-footer .special-info .amazon {
        margin-bottom: 40px;
    }

    .page-footer .special-info .lohaco {
        margin-bottom: 40px;
    }

    .page-footer .special-info .footer-logo img {
        width: 80%;
    }

    .page-footer .special-info .footer-links-container {
        width: 100%;
        margin: 0 auto;
    }

    .page-footer .special-info .footer-social li {
        display: inline;
        padding: 0;
        margin: 0 15px;
    }

    .navmenu-default .footer-social li {
        display: inline;
        padding: 0;
        margin: 0 10px;
    }

    .page-footer .special-info .footer-social li a img {
        width: 15%;
    }

    .navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a {
        font-size: 18px;
    }

    .navmenu-default .navmenu-nav.second-nav > li > a {
        font-size: 13px;
    }

    .item .product-stories-btn:active {
        width: 68%;
    }


    .to-shop-btn:before {
        content:url(/Content/images/sp/sp_shopping-cart-icon-sm.png);
        position:relative;
        left: -5px;
        top:5px;
    }

    .to-shop-btn, .to-shop-btn:active, .to-read-btn, .to-read-btn:active, .to-write-btn, .to-write-btn:active, .to-rate-btn, .to-rate-btn:active, .generic-btn, .generic-btn:active {
        width: 50%;
        height: 50px;
        border-radius: 0;
        position: relative;
        font-size: 12px;
        text-transform: uppercase;
        border: 1px solid #87847d;
        padding-top: 10px;
        padding-left: 15px;
        
    }

    .to-shop-btn:hover, .to-shop-btn:focus, .to-shop-btn.focus, .to-read-btn:hover, .to-read-btn:focus, .to-read-btn.focus, .to-write-btn:hover, .to-write-btn:focus, .to-write-btn.focus, .to-rate-btn:hover, .to-rate-btn:focus, .to-rate-btn.focus, .generic-btn:hover, .generic-btn:focus, .generic-btn.focus {
        color: #87847d;
        text-decoration: none;
    }

    .product-stories-btn, .product-stories-btn:active {
        width: 50%;
        height: 50px;
        border-radius: 0;
        position: relative;
        font-size: 12px;
        padding-top: 15px;
        text-transform: uppercase;
        border: 1px solid #fff;
    }

    .product-stories-btn:hover, .product-stories-btn:focus, .product-stories-btn.focus {
        color: #fff;
        text-decoration: none;
    }

    .carousel-caption .btn {
        margin-bottom: 10px;
    }

        .item .product-stories-btn:active, .item .to-shop-btn:active {
            width: 68%;
        }
}

/*iPhone 6*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {

    .navbar {
        min-height: 70px;
    }

    .navmenu-brand {
        width:50%;
    }

    .navbar-default .navbar-toggle {
        width: 17%;
    }

    .navmenu-default .navbar-toggle {
        width: 24%;
    }

    .navmenu, .navbar-offcanvas {
         width: 290px; 
    }

    .carousel-indicators {
        bottom: 20%;
    }

    .carousel-indicators .active {
        margin: 10px 10px;
        background-color: #fff;
        width: 12px;
        height: 12px;
    }

    .carousel-indicators li {
        margin: 10px 10px;
        width: 12px;
        height: 12px;
    }

    .carousel-caption {
        bottom: 2px;
    }

    .page-footer .special-info h1 {
        font-size:34px;
    }

    .page-footer .special-info img.copy {
        width: 80%;
    }

    .page-footer .special-info .footer-links li {
        font-size: 12px;
    }

    .page-footer .special-info img {
        width: 60%;
    }

    .page-footer .special-info .amazon {
        margin-bottom: 40px;
    }

    .page-footer .special-info .lohaco {
        margin-bottom: 40px;
    }

    .page-footer .special-info .footer-logo img {
        width: 80%;
    }

    .page-footer .special-info .footer-links-container {
        width: 100%;
        margin: 0 auto;
    }

    .page-footer .special-info .footer-social li {
        display: inline;
        padding: 0;
        margin: 0 15px;
    }

    .navmenu-default .footer-social li {
        display: inline;
        padding: 0;
        margin: 0 10px;
    }

    .page-footer .special-info .footer-social li a img {
        width: 15%;
    }

    .navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a {
        font-size: 18px;
    }

    .navmenu-default .navmenu-nav.second-nav > li > a {
        font-size: 13px;
    }

    

    .to-shop-btn:before {
        content:url(/Content/images/sp/sp_shopping-cart-icon-sm.png);
        position:relative;
        left: -5px;
        top:5px;
    }

    .to-shop-btn, .to-shop-btn:active, .to-read-btn, .to-read-btn:active, .to-write-btn, .to-write-btn:active, .to-rate-btn, .to-rate-btn:active, .generic-btn, .generic-btn:active {
        width: 50%;
        height: 50px;
        border-radius: 0;
        position: relative;
        font-size: 12px;
        text-transform: uppercase;
        border: 1px solid #87847d;
        padding-top: 13px;
        padding-left: 15px;
        
    }

    .to-shop-btn:hover, .to-shop-btn:focus, .to-shop-btn.focus, .to-read-btn:hover, .to-read-btn:focus, .to-read-btn.focus, .to-write-btn:hover, .to-write-btn:focus, .to-write-btn.focus, .to-rate-btn:hover, .to-rate-btn:focus, .to-rate-btn.focus, .generic-btn:hover, .generic-btn:focus, .generic-btn.focus {
        color: #87847d;
        text-decoration: none;
    }

    .product-stories-btn, .product-stories-btn:active {
        width: 50%;
        height: 50px;
        border-radius: 0;
        position: relative;
        font-size: 12px;
        padding-top: 15px;
        text-transform: uppercase;
        border: 1px solid #fff;
    }

    .product-stories-btn:hover, .product-stories-btn:focus, .product-stories-btn.focus {
        color: #fff;
        text-decoration: none;
    }

    .carousel-caption .btn {
        margin-bottom: 10px;
    }

        .item .product-stories-btn:active, .item .to-shop-btn:active {
            width: 68%;
        }
}


/*screens*/

@media (max-width: 767px) {
    body.out nav .navbar-collapse {
        box-shadow: none;
    }

    body.out nav .navbar-toggle {
        background-color: #ddd;
    }
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 22%;
    }
}

@media (min-width: 992px) {
    .col-md-6 {
        float:none;
        margin: 0 auto;
    }
}