@model IEnumerable<hairrecipe.Models.StoriesListing>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
@section customStyles
{
    <link href="~/Content/sp-css/mobile-product-stories.css" rel="stylesheet" />
}
<div class="content product-stories">
    <div class="banner">
        <img src="~/Content/images/sp/product/landing/sp_product-stories-header.jpg" />
        <h1>Product Stories</h1>
    </div>
    <div class="product-stories-top">
        <p class="title">レシピの５つの<br />こだわりポイント</p>
        <ol>
            <li><a href="">テクノロジー</a></li>
            <li><a href="">素材</a></li>
            <li><a href="">香り</a></li>
            <li><a href="">ソレー効果</a></li>
            <li><a href="">泡立ち</a></li>
        </ol>
    </div>
    <div class="product-stories-content">
        @foreach (var item in Model) {      
            @Html.Partial("_ProductStories", item)
        }
    </div>
    <div class="product-lineup-content">
        @Html.Partial("_ProductLineup")
    </div>
</div>
