@model hairrecipe.data.Entities.Products.ProductLine

@{
    ViewBag.Title = Model.MetaTitle;
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

@section customStyles
{
    <link href="~/Content/sp-css/product-line.css" rel="stylesheet" />
}


<div id="@Model.GroupKeyword" class="view">
    <img class="group-banner" src="~/Content/images/sp/product/@Model.GroupKeyword/banner.jpg" />
    @if (!string.IsNullOrEmpty(Model.BannerText)) { 
        <h1 class="bannerTxt">@Model.BannerText</h1>
    }
    @foreach (var products in Model.Products) {
        @Html.Partial("_productListSp", products);
    }
    
    @{ Html.RenderPartial("_FootBannerSp", "stitch-s");  }
</div>
