@{
    ViewBag.Title = "Q2 - a";
    Session["diagnosisKeyword"] = "diagnosis-q2_a";
}

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />
@Html.Hidden("pageKey", Session["diagnosisKeyword"])
<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 2</div>
        <h1 class="question">なりたい理想の髪は？</h1>
        <div class="choices">
            <a href="/sp/diagnosis/q3/a1.html" class="box">
                <div>
                    <span class="title">A</span><br>
                    <p>地肌すっきり、<br />しっとりしたツヤ髪</p>
                </div>
            </a>
            <a href="/sp/diagnosis/q3/a2.html" class="box">
                <div>
                    <span class="title">B</span><br>
                    <p>毛流れが美しい<br />うるおい髪</p>
                </div>
            </a>
        </div>
        <div class="steps">
            <div>
                <img src="~/Content/images/sp/diagnosis/step2.png" />
                <div class="desc"><a href="/sp/diagnosis/q1/abcd.html">< ひとつ前にもどる</a></div>
            </div>
        </div>
    </div>

    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>
