@{
    ViewBag.Title = "Q2 - a";
}

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />

<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 2</div>
        <div class="question">なりたい理想の髪は？</div>
        <div class="choices">
            <a href="/sp/diagnosis/q3/a1" class="box">
                <span class="title">A</span><br>
                <p>地肌すっきり、<br />しっとりしたツヤ髪</p>
            </a>
            <a href="/sp/diagnosis/q3/a2" class="box">
                <span class="title">B</span><br>
                <p>毛流れが美しい<br />うるおい髪</p>
            </a>
        </div>
        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step2.png" />
            <div class="desc"><ひとつ前にもどる</div>
        </div>
    </div>

    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>
