@{
    Session["diagnosisKeyword"] = "diagnosis-q2_b";
}
@Html.Hidden("pageKey", Session["diagnosisKeyword"])
<div class="main-diagnosis">
    <img src="~/Content/images/pc/diagnosis/1.jpg" />
    <div class="content-diagnosis qa">
        <div class="check">Check 2</div>
        <div class="question"><h1>なりたい理想の髪は？</h1></div>
        <div class="choices">
            <a href="/diagnosis/q3/b1" class="box">
                <div>
                    <span class="title">A</span><br>
                    <p>地肌すっきり、<br>ふんわりボリューム</p>
                    <img src="~/Content/images/pc/diagnosis/arrow.png" />
                </div>
            </a>
            <a href="/diagnosis/q3/b2" class="box">
                <div>
                    <span class="title">B</span><br>
                    <p>軽やかに<br>根元から弾む髪</p>
                    <img src="~/Content/images/pc/diagnosis/arrow.png" />
                </div>
            </a>
        </div>
        <div class="steps">
            <img src="/Content/images/pc/diagnosis/step2.png">
            <div class="desc"><a href="/diagnosis/q1/abcd">< ひとつ前にもどる</a></div>
        </div>
    </div>
</div>