@{
    ViewBag.Title = "Q2 - b";
    Session["diagnosisKeyword"] = "diagnosis-q2_b";
}

<link href="~/Content/sp-css/mobile-diagnosis.css" rel="stylesheet" />
@Html.Hidden("pageKey", Session["diagnosisKeyword"])
<div class="diagnosis-main">
    <div class="inner">
        <div class="check">Check 2</div>
        <div class="question">なりたい理想の髪は？</div>
        <div class="choices">
            <a href="/sp/diagnosis/q3/b1.html" class="box">
                <div>
                    <span class="title">A</span><br>
                    <p>地肌すっきり、<br />ふんわりボリューム</p>
                </div>
            </a>
            <a href="/sp/diagnosis/q3/b2.html" class="box">
                <div>
                    <span class="title">B</span><br>
                    <p>軽やかに<br />根元から弾む髪</p>
                </div>
            </a>
        </div>
        <div class="steps">
            <img src="~/Content/images/sp/diagnosis/step2.png" />
            <div class="desc"><a href="/sp/diagnosis/q1/abcd.html">< ひとつ前にもどる</a></div>
        </div>
    </div>

    <img src="~/Content/images/sp/diagnosis/1.jpg" />
</div>